In [ ]:
"""Task #1"""

def summdic(n1, n2, n3):
    n4 = {}
    for i in n1:
        n4[i] = n1[i]
    for j in n2:
        n4[j] = n2[j]
    for k in n3:
        n4[k] = n3[k]
    return n4

    
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
summdic(dic1, dic2, dic3) #{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
"""Task #1 other solve"""
def summdic(n1, n2, n3):
    n4 = {}
    for i in (n1, n2, n3): n4.update(i)
    return n4

    
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
summdic(dic1, dic2, dic3) #{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [1]:
"""Task #2"""

def check(dic, n):
    if n in dic:
        return True
    return False

car = {"brand": "Ford","model": "Mustang","year": 1964}
print(check(car, "hi")) #False
print(check(car, "brand")) #True

False
True

In [ ]:
"""Task #3"""

def iterate(n):
    return [i for i in n.items()]

car = {"brand": "Ford","model": "Mustang","year": 1964}
iterate(car)#[('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)]

In [ ]:
"""Task #4"""

def generate(n):
    j = {}
    for i in range(1, n+1):j.update({i:i*i})
    return j

generate(5)#{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
"""Task #5"""

def sumdic(n):
    return sum(n.values())

sumdic({5:50,6:60, 7:70}) #180

In [ ]:
"""Task #6"""

def mult(n):
    n1 = 1
    for i in n.values(): 
        n1 *= i
    return n1

mult({5:50,6:60, 7:70}) #210000

In [ ]:
"""Task #7"""

def remove(n, k):
    del n[k]
    return n

remove({5:50,6:60, 7:70}, 5) #{6:60, 7:70}

In [ ]:
"""Task #8"""

def the_max_min(n):
    m, mi = list(n.values())[0], list(n.values())[0]
    """
    m = list(n.values())[0]
    mi = list(n.values())[0]
    """
    for i in n.values():
        if i > m: m = i
        if i < mi:mi = i
        """
        if i > m:
            m = i
        if i < mi:
            mi = i
        """
    return "The maximum ", m,"The minimum ", mi
     
            
    
dic = {'ite  m1': 1150, 'ite  m2': 300}
the_max_min(dic)#('The maximum ', 1150, 'The minimum ', 300)

In [ ]:
"""Task #9"""

def Counter(n1, n2):
    d = {}
    for i in n1: d.update({i:n1.get(i, 0) + n2.get(i, 0)})
    """
    abbreviation for:
    for i in n1:
        d[i] = n1.get(i, 0) + n2.get(i, 0)
    """
    for j in n2 :
        if j not in d: d.update({j: n2[j]})
    """
    abbreviation for:
    if j not in d:
        d[j] = n2[j]
    """
    return d


d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
Counter(d2, d1)#{'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [ ]:
"""Task #9 other solve"""

from collections import Counter
def counter(d1, d2):
    return Counter(d1) + Counter(d2)

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
counter(d2, d1)#Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [ ]:
"""Task #10"""

def uniq(n):
    n1 = [j for i in n for j in i.values()]
    """
    n1 = []
    for i in n:
        for j in i.values():
            n1.append(j)
    """
    return set(n1)

uniq([{"V":"S001"}, {"V": "S002"}, {"VI": "S001"},
      {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}])
#('S002', 'S005', 'S007', 'S001', 'S009')

In [ ]:
"""Task #10 other solve"""

def uniq(n):
    return tuple(set(j for i in n for j in i.values()))

uniq([{"V":"S001"}, {"V": "S002"}, {"VI": "S001"},
      {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}])
#('S002', 'S005', 'S007', 'S001', 'S009')

In [ ]:
"""Task #11"""

def combinations(n):
    n1 = n.copy()
    n2 = []
    for i in n:
        del n1[i]
        for j in n1:
            for k in range(len(n[i])):
                for q in range(len(n1[j])):
                    n2.append(n[i][k] + n1[j][q])
    for a in n2:
        print(a)
    
    
combinations({'1':['a','b'], '2':['c','d']})
    """
    ac
    ad
    bc
    bd
    """

In [2]:
"""Task #11 other solve"""

import itertools      
d ={'1':['a','b'], '2':['c','d']}
for combo in itertools.product(*[d[k] for k in sorted(d.keys())]):
    print(''.join(combo))
    """
    ac
    ad
    bc
    bd
    """
#https://www.w3resource.com/python-exercises/dictionary/python-data-type-dictionary-exercise-21.php

ac
ad
bc
bd

In [ ]:
"""Task #12"""

def counter(n):
    z = [j for i in n for j in i.values()]
    """
    z = []
    for i in n:
        for j in i.values():
            z.append(j)
    """
    z1, d = [(z[a-1],z[a]) for a in range(1, len(z), 2)], {}
#     z1 = []
#     for a in range(1, len(z1), 2):
#         z1.append((z1[a-1],z1[a]))
#     d = {}
    for k in z1:d.update({k[0]:k[1] + d.get(k[0], 0)})
#     for k in z1:
#         d[k[0]] = k[1] + d.get(k[0], 0)
    return d

x = [{'item': 'item1', 'amount': 400},
    {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
counter(x) #{'item1': 1150, 'item2': 300}

In [ ]:
"""Task #13"""

def remove_space(n):
    n1, z = {},[]
    for i in n:
        strr = ""
        for j in i:
            if j != " ": strr += j
        n1[strr] = n[i]
    return n1
    
        

remove_space({'ite  m1': 1150, 'ite  m2': 300})#{'item1': 1150, 'item2': 300}

In [ ]:
"""Task #14"""

def find(dic1, dic2):
    z = [i for i in dic1 if i in dic2]
    """
    z = []
    for i in dic1:
        if i in dic 2:
            z.append(i)
    """
    z1 = [[b, dic1[b]] for b in z if dic1[b] == dic2[b]]
    """
    z1 = []
    for b in z:
        if dic1[b] == dic2[b]:
            z1.append((b, dic1[b]))
    """
    for j in range(len(z1)):print(str(z1[j][0]) + ": " + str(z1[j][1]) + " is present in both x and y")
    """
    for j in range(len(z1)):
        print(str(z1[j][0]) + ": " + str(z1[j][1]) + " is present in both x and y")
    """
    
    
x, y = {'key1': 1, 'key2': 3, 'key3': 2}, {'key1': 1, 'key2': 2}
find(x, y) #key1: 1 is present in both x and y

In [ ]:
"""Task #14 other solve"""
def find(x, y):
    for (key, value) in set(x.items()) & set(y.items()):
        print('%s: %s is present in both x and y' % (key, value))

x = {'key1': 1, 'key2': 3, 'key3': 2}
y = {'key1': 1, 'key2': 2}
find(x, y) #key1: 1 is present in both x and y

In [ ]:
"""Task #15"""

def filter_even(dic1):
    dic2 = {}
    for i in dic1:dic2.update({i:[j for j in dic1[i] if j % 2 == 0]})
    """
    dic2= {}
    for i in dic1:
        z = []
        for j in dic1[i]:
            if j % 2 == 0:
                z.append(j)
        dic2[i] = z
    return dic2
    """
    return dic2
    
    
print(filter_even({'V': [1, 4, 6, 10], 'VI': [1, 4, 12], 'VII': [1, 3, 8]}))
#{'V': [4, 6, 10], 'VI': [4, 12], 'VII': [8]}
print(filter_even({'V': [1, 3, 5], 'VI': [1, 5], 'VII': [2, 7, 9]}))
#{'V': [], 'VI': [], 'VII': [2]}

In [ ]:
"""Task #16"""

d = {'#FF0000': 'Red', '#800000': 'Maroon', '#FFFF00': 'Yellow', '#808000': 'Olive'}
def find_len(d):
    return len([j for i in d.values() for j in i])
    """
    z = []
    for i in d.values():
        for j in i:
            z.append(j)
    m = len(z)
    return m
    """

find_len(d) #20

In [ ]:
"""Task #17"""

def find(d):
    return [i for i in d]
    '''
    j = []
    for i in d:
        j.append(i)
    return j
    '''

find({'Theodore': 19, 'Roxanne': 20, 'Mathew': 21, 'Betty': 20})
#['Theodore', 'Roxanne', 'Mathew', 'Betty']

In [ ]:
"""Task #18"""

def find(d):
    return [i for i in d.values()]
    """
    z = []
    for i in d.values():
        z.append(i)
    return z
    """
find({'Theodore': 19, 'Roxanne': 20, 'Mathew': 21, 'Betty': 20})#[19, 20, 21, 20]

In [ ]:
"""Task #19"""

def find(n):
    minn, maxx = min([i for i in n.values()]), max([i for i in n.values()])
    return tuple([j for j in n if n[j] == minn or n[j] == maxx])
    """
    minn = 1000
    maxx = 0
    lst = ()
    for i in n.values():
        if i > maxx:
            maxx = i
        if minn > i:
            minn = i
    for j in n:
        if n[j] == minn or n[j] == maxx:
            lst.append(j)
    return lst
    """

find({'Theodore': 19, 'Roxanne': 22, 'Mathew': 21, 'Betty': 20})#('Theodore', 'Roxanne')

In [ ]:
"""Task #20"""

def find(d):
    return [i for i in d.items()]
    """
    z = []
    for i in d.items():
        z.append(i)
    return z
    """
find({'Red': 1, 'Green': 3, 'White': 5, 'Black': 2, 'Pink': 4})
#[('Red', 1), ('Green', 3), ('White', 5), ('Black', 2), ('Pink', 4)]

In [ ]:
"""Task #21"""

def find(n1, n2):
    return dict(zip(n1,n2))
    """
    d, c = {}, 0
    for i in n1:
        d.update({i:n2[c]})
        c += 1
        if len(n2) == c: break
    return d 
    """
    

find(['a', 'b', 'c', 'd', 'e', 'f'], [1, 2, 3, 4, 5])#{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
"""Task #22"""

#paper

In [ ]:
"""Task #23"""

#paper

In [ ]:
"""Task #24"""

#paper

In [ ]:
"""Task #25"""

#paper

In [ ]:
"""Task #26"""

#paper

In [ ]:
"""Task #27"""

def mostright(d):
    for i in d:d.update({i:int(str(d[i])[-1])})
    """
    for i in d:
        d[i] = int(str(d[i])[-1])
    return d
    """
    return d

mostright({"qw": 45, "en":1334, "fro": 774, "klo": 223})#{'qw': 5, 'en': 4, 'fro': 4, 'klo': 3}

In [ ]:
"""Task #28"""

def dubled(dictt):
    z = [i for i in dictt.values() if i < 14]
    for j in dictt:
        if dictt[j] in z:
            dictt[j] = dictt[j]*2
    return dictt

dubled({"for": 4, "hi": 14, "hallow": 13})#{'for': 8, 'hi': 14, 'hallow': 26}

In [ ]:
"""Task #29"""

def dubled(dictt):
    z = [i for i in dictt.values() if i < 9]
    for j in dictt:
        if dictt[j] in z:
            dictt[j] = dictt[j]*2
    return dictt

dubled({"for": 4, "hi": 14, "hallow": 13})#{'for': 8, 'hi': 14, 'hallow': 13}