In [1]:
mark = float(input("Inter your grades "))

if mark >= 75:
    print("Your are the first")
elif mark >= 70:  # and mark < 75:
    print("Upper Second")
elif mark >= 60:  # and mark <= 70:
    print("Second")
elif mark >= 50:  # and mark < 60:
    print("Third")
elif mark >= 45:  # and mark < 50:
    print("F1 Supp")
elif mark >= 40:  # and mark < 45:
    print("F2")
else:
    print("F3")

Inter your grades 5
F3

In [2]:
set("Alabama")

{'A', 'a', 'b', 'l', 'm'}

In [3]:
a = 5 
b = 10
print(a + b)
print(a - b)
print(a / b)
print(a * b)

15
-5
0.5
50

In [52]:
a=5
b=10


print(a+b)
print(a-b)
print(a*b)
print(a/b)

15
-5
50
0.5

In [60]:
print(1,2,3,4,5,6,7,8,sep=".")

1.2.3.4.5.6.7.8

In [63]:
print("I love {1} and {0}". format("dad","mum"))

I love mum and dad

In [71]:
x = 12.3456433456789
print("The value of x is %d" %x)

The value of x is 12

In [78]:
x=5 ;y=10
print("The value of x is {} and y is {}.".format(x,y))

The value of x is 5 and y is 10.

In [94]:
a=1
b=2
c=3
d=4
print(a*b*c*d)

24

In [97]:
r=4.5**2
b=3.14
d=4
ar=r*b*d
print(ar)

254.34

In [98]:
radius=4.5
volume=4*3.14*radius**2
print(volume)

254.34

In [100]:
What happens when we donâ€™t declare a variable but try using it in a code?
What happens  when we open parenthesis but never close them?
What happens if we donâ€™t use print function with some of the variables?
What happens when you try running this code; why; how to solve it?

2

In [103]:
print('I love {0} and {1}'.format('bread','butter'))

I love bread and butter

In [110]:
m = int(input("please inter the number:"))
M=int(input("please inter the number:"))
print("I love a {} and {}".format(m,M))

please inter the number:3
please inter the number:2
I love a 3 and 2

In [115]:
m=int(input("inter your gardes:"))
M=int(input("inter your gardes:"))
s=int(input("inter your gardes:"))
print((m+M+s)/3)

inter your gardes:5
inter your gardes:4
inter your gardes:3
4.0

In [118]:
M=int(input("inter any number:"))
N=int(input("inter any number:"))
B=int(input("inter any number:"))
X=int(input("inter any number:"))
print(M*N*B*X)

inter any number:0
inter any number:1
inter any number:4
inter any number:80
0

In [120]:
name=input("inter your name:")
print("HELLO",name)

inter your name:sad
HELLO sad

In [2]:
number=float(input("inter any number"))
print(number**.5)
n=number
type(number)
print(type(n))

inter any number4
2.0
<class 'float'>

In [4]:
high_tariffs=float(input("Enter high tariffs:"))
low_tariffs=float(input("Enter low tariffs:"))
total_tariffs=high_tariffs+low_tariffs
share_low_tariffs=(low_tariffs/total_tariffs)*100
share_high_tariffs=(high_tariffs/total_tariffs)*100
htprice=float(input("Enter high tariffs price:"))
lwprice=float(input("Enter low tariffs price:"))
print("total tariffs is: %.2f"%total_tariffs)



total_amount=high_tariffs*htprice + lwprice*low_tariffs
print("share of low tariffs is: %.2f" % int(share_low_tariffs),"%")
print("share of high tariffs is:%.2f" % int(share_high_tariffs),"%")
print("total amount is: %.2f"% total_amount)


#  HT = 58.56, LT = 175.68, price VT = 0.3, price MT = 0.2, program output is as follows: 
# The total consumption is 234.24 KWh.
# The share of high tariffs in total consumption is 25%.
# The share of low tariffs in total consumption is 75%.
# The invoice amount is 52.70 KM.

Enter high tariffs:56.58
Enter low tariffs:175.68
Enter high tariffs price:0.3
Enter low tariffs price:0.2
total tariffs is: 232.26
share low tariffs is: 75.00 %
share high tariffs is:24.00 %
total amount is: 52.11

In [ ]:
# total consumption in kWh;
# cash account amount;
# the share of large tariffs and small tariffs in total consumption.

# Example: If inputs are given: HT = 58.56, LT = 175.68, price VT = 0.3, price MT = 0.2, program output is as follows: 
# The total consumption is 234.24 KWh.
# The share of high tariffs in total consumption is 25%.
# The share of low tariffs in total consumption is 75%.
# The invoice amount is 52.70 KM.

In [7]:
totalh=float(input("Enter total high tariffs consumption:"))
totalw=float(input("Enter total low tariffs consumption:"))
totalconsumption=totalh+totalw
print("total consumption is: %.2f"%totalconsumption)
sharel=(totalw/totalconsumption)*100
shareh=(totalh/totalconsumption)*100

print("the share of the low tariffs in total consumption is:%.2f"%sharel)
print("the share of the high tariffs in total consumption is:%.2f"%shareh)

pricelw=float(input("Enter price of low tariffs:"))
priceh=float(input("Enter price of high tariffs:"))

invoice=totalh*priceh+totalw*pricelw
print("The invoice amount is:%.2f"%invoice)

Enter total high tariffs consumption:58.56
Enter total low tariffs consumption:175.68
total consumption is: 234.24
the share of the low tariffs in total consumption is:75.00
the share of the high tariffs in total consumption is:25.00
Enter price of low tariffs:.2
Enter price of high tariffs:0.3
The invoice amount is:52.70

In [17]:
number=float(input("Inter any number here:"))
if number>0:
    print(int(number),"is a positive number")
elif number==0:
    print("zero")
else:
    print(int(number),"is a negative number")

Inter any number here:0
is zero

In [28]:
x=int(input("Enter any number from(1.2.3.4.5.6.7.8.9):"))
if (x>0 and x<2):
    print(x,"is between {} and {}".format("0","2")) 
elif (x>1 and x<3):
    print(x,"is between {} and {}".format("1","3"))
elif (x>2 and x<4):
    print(x,"is between {} and {}".format("2","4"))
elif (x>3 and x<5):
    print(x,"is between {} and {}".format("3","5"))
elif (x>4 and x<6):
    print(x,"is between {} and {}".format("4","6"))
elif (x>5 and x<7):
    print(x,"is between {} and {}".format("5","7"))
elif (x>6 and x<8):
    print(x,"is between {} and {}".format("6","8"))
elif (x>7 and x<9):
    print(x,"is between {} and {}".format("7","9"))
elif (x>8 and x<10):
    print(x,"is between {} and {}".format("8","10"))
else:
    print("Please stick to the number in parentheses")

Enter any number from(1.2.3.4.5.6.7.8.9):2
2 is between 1 and 3

In [31]:
a = 50
b = 50
if a!=b:
    print("Yes")
else:
    print("No")

No

In [ ]:
  if 5>2 :print("Five is greater than two!")

In [ ]:
x=1
x=2
y=3
if x < y:
    print("x is less than y")
else:
    if x > y:
        print("x is greater than y")
    else:
        print("x and y must be equal")

In [49]:
sum=0
for x in range (601):
    sum=sum+x
print(sum)

180300

In [53]:
odd=0
evem=0
for x in range(10,631,2):
    even=+x
    print("even",even)
for y in range(9,630,2):
    odd=+y
    print("odd",odd)

even 10
even 12
even 14
even 16
even 18
even 20
even 22
even 24
even 26
even 28
even 30
even 32
even 34
even 36
even 38
even 40
even 42
even 44
even 46
even 48
even 50
even 52
even 54
even 56
even 58
even 60
even 62
even 64
even 66
even 68
even 70
even 72
even 74
even 76
even 78
even 80
even 82
even 84
even 86
even 88
even 90
even 92
even 94
even 96
even 98
even 100
even 102
even 104
even 106
even 108
even 110
even 112
even 114
even 116
even 118
even 120
even 122
even 124
even 126
even 128
even 130
even 132
even 134
even 136
even 138
even 140
even 142
even 144
even 146
even 148
even 150
even 152
even 154
even 156
even 158
even 160
even 162
even 164
even 166
even 168
even 170
even 172
even 174
even 176
even 178
even 180
even 182
even 184
even 186
even 188
even 190
even 192
even 194
even 196
even 198
even 200
even 202
even 204
even 206
even 208
even 210
even 212
even 214
even 216
even 218
even 220
even 222
even 224
even 226
even 228
even 230
even 232
even 234
even 236
even 238
even 240
even 242
even 244
even 246
even 248
even 250
even 252
even 254
even 256
even 258
even 260
even 262
even 264
even 266
even 268
even 270
even 272
even 274
even 276
even 278
even 280
even 282
even 284
even 286
even 288
even 290
even 292
even 294
even 296
even 298
even 300
even 302
even 304
even 306
even 308
even 310
even 312
even 314
even 316
even 318
even 320
even 322
even 324
even 326
even 328
even 330
even 332
even 334
even 336
even 338
even 340
even 342
even 344
even 346
even 348
even 350
even 352
even 354
even 356
even 358
even 360
even 362
even 364
even 366
even 368
even 370
even 372
even 374
even 376
even 378
even 380
even 382
even 384
even 386
even 388
even 390
even 392
even 394
even 396
even 398
even 400
even 402
even 404
even 406
even 408
even 410
even 412
even 414
even 416
even 418
even 420
even 422
even 424
even 426
even 428
even 430
even 432
even 434
even 436
even 438
even 440
even 442
even 444
even 446
even 448
even 450
even 452
even 454
even 456
even 458
even 460
even 462
even 464
even 466
even 468
even 470
even 472
even 474
even 476
even 478
even 480
even 482
even 484
even 486
even 488
even 490
even 492
even 494
even 496
even 498
even 500
even 502
even 504
even 506
even 508
even 510
even 512
even 514
even 516
even 518
even 520
even 522
even 524
even 526
even 528
even 530
even 532
even 534
even 536
even 538
even 540
even 542
even 544
even 546
even 548
even 550
even 552
even 554
even 556
even 558
even 560
even 562
even 564
even 566
even 568
even 570
even 572
even 574
even 576
even 578
even 580
even 582
even 584
even 586
even 588
even 590
even 592
even 594
even 596
even 598
even 600
even 602
even 604
even 606
even 608
even 610
even 612
even 614
even 616
even 618
even 620
even 622
even 624
even 626
even 628
even 630
odd 9
odd 11
odd 13
odd 15
odd 17
odd 19
odd 21
odd 23
odd 25
odd 27
odd 29
odd 31
odd 33
odd 35
odd 37
odd 39
odd 41
odd 43
odd 45
odd 47
odd 49
odd 51
odd 53
odd 55
odd 57
odd 59
odd 61
odd 63
odd 65
odd 67
odd 69
odd 71
odd 73
odd 75
odd 77
odd 79
odd 81
odd 83
odd 85
odd 87
odd 89
odd 91
odd 93
odd 95
odd 97
odd 99
odd 101
odd 103
odd 105
odd 107
odd 109
odd 111
odd 113
odd 115
odd 117
odd 119
odd 121
odd 123
odd 125
odd 127
odd 129
odd 131
odd 133
odd 135
odd 137
odd 139
odd 141
odd 143
odd 145
odd 147
odd 149
odd 151
odd 153
odd 155
odd 157
odd 159
odd 161
odd 163
odd 165
odd 167
odd 169
odd 171
odd 173
odd 175
odd 177
odd 179
odd 181
odd 183
odd 185
odd 187
odd 189
odd 191
odd 193
odd 195
odd 197
odd 199
odd 201
odd 203
odd 205
odd 207
odd 209
odd 211
odd 213
odd 215
odd 217
odd 219
odd 221
odd 223
odd 225
odd 227
odd 229
odd 231
odd 233
odd 235
odd 237
odd 239
odd 241
odd 243
odd 245
odd 247
odd 249
odd 251
odd 253
odd 255
odd 257
odd 259
odd 261
odd 263
odd 265
odd 267
odd 269
odd 271
odd 273
odd 275
odd 277
odd 279
odd 281
odd 283
odd 285
odd 287
odd 289
odd 291
odd 293
odd 295
odd 297
odd 299
odd 301
odd 303
odd 305
odd 307
odd 309
odd 311
odd 313
odd 315
odd 317
odd 319
odd 321
odd 323
odd 325
odd 327
odd 329
odd 331
odd 333
odd 335
odd 337
odd 339
odd 341
odd 343
odd 345
odd 347
odd 349
odd 351
odd 353
odd 355
odd 357
odd 359
odd 361
odd 363
odd 365
odd 367
odd 369
odd 371
odd 373
odd 375
odd 377
odd 379
odd 381
odd 383
odd 385
odd 387
odd 389
odd 391
odd 393
odd 395
odd 397
odd 399
odd 401
odd 403
odd 405
odd 407
odd 409
odd 411
odd 413
odd 415
odd 417
odd 419
odd 421
odd 423
odd 425
odd 427
odd 429
odd 431
odd 433
odd 435
odd 437
odd 439
odd 441
odd 443
odd 445
odd 447
odd 449
odd 451
odd 453
odd 455
odd 457
odd 459
odd 461
odd 463
odd 465
odd 467
odd 469
odd 471
odd 473
odd 475
odd 477
odd 479
odd 481
odd 483
odd 485
odd 487
odd 489
odd 491
odd 493
odd 495
odd 497
odd 499
odd 501
odd 503
odd 505
odd 507
odd 509
odd 511
odd 513
odd 515
odd 517
odd 519
odd 521
odd 523
odd 525
odd 527
odd 529
odd 531
odd 533
odd 535
odd 537
odd 539
odd 541
odd 543
odd 545
odd 547
odd 549
odd 551
odd 553
odd 555
odd 557
odd 559
odd 561
odd 563
odd 565
odd 567
odd 569
odd 571
odd 573
odd 575
odd 577
odd 579
odd 581
odd 583
odd 585
odd 587
odd 589
odd 591
odd 593
odd 595
odd 597
odd 599
odd 601
odd 603
odd 605
odd 607
odd 609
odd 611
odd 613
odd 615
odd 617
odd 619
odd 621
odd 623
odd 625
odd 627
odd 629

In [65]:
for x in range (10,631):
    if x %2==0:
        print(x,"is an even")
    else:
        print(x,"is an odd")

10 is an even
11 is an odd
12 is an even
13 is an odd
14 is an even
15 is an odd
16 is an even
17 is an odd
18 is an even
19 is an odd
20 is an even
21 is an odd
22 is an even
23 is an odd
24 is an even
25 is an odd
26 is an even
27 is an odd
28 is an even
29 is an odd
30 is an even
31 is an odd
32 is an even
33 is an odd
34 is an even
35 is an odd
36 is an even
37 is an odd
38 is an even
39 is an odd
40 is an even
41 is an odd
42 is an even
43 is an odd
44 is an even
45 is an odd
46 is an even
47 is an odd
48 is an even
49 is an odd
50 is an even
51 is an odd
52 is an even
53 is an odd
54 is an even
55 is an odd
56 is an even
57 is an odd
58 is an even
59 is an odd
60 is an even
61 is an odd
62 is an even
63 is an odd
64 is an even
65 is an odd
66 is an even
67 is an odd
68 is an even
69 is an odd
70 is an even
71 is an odd
72 is an even
73 is an odd
74 is an even
75 is an odd
76 is an even
77 is an odd
78 is an even
79 is an odd
80 is an even
81 is an odd
82 is an even
83 is an odd
84 is an even
85 is an odd
86 is an even
87 is an odd
88 is an even
89 is an odd
90 is an even
91 is an odd
92 is an even
93 is an odd
94 is an even
95 is an odd
96 is an even
97 is an odd
98 is an even
99 is an odd
100 is an even
101 is an odd
102 is an even
103 is an odd
104 is an even
105 is an odd
106 is an even
107 is an odd
108 is an even
109 is an odd
110 is an even
111 is an odd
112 is an even
113 is an odd
114 is an even
115 is an odd
116 is an even
117 is an odd
118 is an even
119 is an odd
120 is an even
121 is an odd
122 is an even
123 is an odd
124 is an even
125 is an odd
126 is an even
127 is an odd
128 is an even
129 is an odd
130 is an even
131 is an odd
132 is an even
133 is an odd
134 is an even
135 is an odd
136 is an even
137 is an odd
138 is an even
139 is an odd
140 is an even
141 is an odd
142 is an even
143 is an odd
144 is an even
145 is an odd
146 is an even
147 is an odd
148 is an even
149 is an odd
150 is an even
151 is an odd
152 is an even
153 is an odd
154 is an even
155 is an odd
156 is an even
157 is an odd
158 is an even
159 is an odd
160 is an even
161 is an odd
162 is an even
163 is an odd
164 is an even
165 is an odd
166 is an even
167 is an odd
168 is an even
169 is an odd
170 is an even
171 is an odd
172 is an even
173 is an odd
174 is an even
175 is an odd
176 is an even
177 is an odd
178 is an even
179 is an odd
180 is an even
181 is an odd
182 is an even
183 is an odd
184 is an even
185 is an odd
186 is an even
187 is an odd
188 is an even
189 is an odd
190 is an even
191 is an odd
192 is an even
193 is an odd
194 is an even
195 is an odd
196 is an even
197 is an odd
198 is an even
199 is an odd
200 is an even
201 is an odd
202 is an even
203 is an odd
204 is an even
205 is an odd
206 is an even
207 is an odd
208 is an even
209 is an odd
210 is an even
211 is an odd
212 is an even
213 is an odd
214 is an even
215 is an odd
216 is an even
217 is an odd
218 is an even
219 is an odd
220 is an even
221 is an odd
222 is an even
223 is an odd
224 is an even
225 is an odd
226 is an even
227 is an odd
228 is an even
229 is an odd
230 is an even
231 is an odd
232 is an even
233 is an odd
234 is an even
235 is an odd
236 is an even
237 is an odd
238 is an even
239 is an odd
240 is an even
241 is an odd
242 is an even
243 is an odd
244 is an even
245 is an odd
246 is an even
247 is an odd
248 is an even
249 is an odd
250 is an even
251 is an odd
252 is an even
253 is an odd
254 is an even
255 is an odd
256 is an even
257 is an odd
258 is an even
259 is an odd
260 is an even
261 is an odd
262 is an even
263 is an odd
264 is an even
265 is an odd
266 is an even
267 is an odd
268 is an even
269 is an odd
270 is an even
271 is an odd
272 is an even
273 is an odd
274 is an even
275 is an odd
276 is an even
277 is an odd
278 is an even
279 is an odd
280 is an even
281 is an odd
282 is an even
283 is an odd
284 is an even
285 is an odd
286 is an even
287 is an odd
288 is an even
289 is an odd
290 is an even
291 is an odd
292 is an even
293 is an odd
294 is an even
295 is an odd
296 is an even
297 is an odd
298 is an even
299 is an odd
300 is an even
301 is an odd
302 is an even
303 is an odd
304 is an even
305 is an odd
306 is an even
307 is an odd
308 is an even
309 is an odd
310 is an even
311 is an odd
312 is an even
313 is an odd
314 is an even
315 is an odd
316 is an even
317 is an odd
318 is an even
319 is an odd
320 is an even
321 is an odd
322 is an even
323 is an odd
324 is an even
325 is an odd
326 is an even
327 is an odd
328 is an even
329 is an odd
330 is an even
331 is an odd
332 is an even
333 is an odd
334 is an even
335 is an odd
336 is an even
337 is an odd
338 is an even
339 is an odd
340 is an even
341 is an odd
342 is an even
343 is an odd
344 is an even
345 is an odd
346 is an even
347 is an odd
348 is an even
349 is an odd
350 is an even
351 is an odd
352 is an even
353 is an odd
354 is an even
355 is an odd
356 is an even
357 is an odd
358 is an even
359 is an odd
360 is an even
361 is an odd
362 is an even
363 is an odd
364 is an even
365 is an odd
366 is an even
367 is an odd
368 is an even
369 is an odd
370 is an even
371 is an odd
372 is an even
373 is an odd
374 is an even
375 is an odd
376 is an even
377 is an odd
378 is an even
379 is an odd
380 is an even
381 is an odd
382 is an even
383 is an odd
384 is an even
385 is an odd
386 is an even
387 is an odd
388 is an even
389 is an odd
390 is an even
391 is an odd
392 is an even
393 is an odd
394 is an even
395 is an odd
396 is an even
397 is an odd
398 is an even
399 is an odd
400 is an even
401 is an odd
402 is an even
403 is an odd
404 is an even
405 is an odd
406 is an even
407 is an odd
408 is an even
409 is an odd
410 is an even
411 is an odd
412 is an even
413 is an odd
414 is an even
415 is an odd
416 is an even
417 is an odd
418 is an even
419 is an odd
420 is an even
421 is an odd
422 is an even
423 is an odd
424 is an even
425 is an odd
426 is an even
427 is an odd
428 is an even
429 is an odd
430 is an even
431 is an odd
432 is an even
433 is an odd
434 is an even
435 is an odd
436 is an even
437 is an odd
438 is an even
439 is an odd
440 is an even
441 is an odd
442 is an even
443 is an odd
444 is an even
445 is an odd
446 is an even
447 is an odd
448 is an even
449 is an odd
450 is an even
451 is an odd
452 is an even
453 is an odd
454 is an even
455 is an odd
456 is an even
457 is an odd
458 is an even
459 is an odd
460 is an even
461 is an odd
462 is an even
463 is an odd
464 is an even
465 is an odd
466 is an even
467 is an odd
468 is an even
469 is an odd
470 is an even
471 is an odd
472 is an even
473 is an odd
474 is an even
475 is an odd
476 is an even
477 is an odd
478 is an even
479 is an odd
480 is an even
481 is an odd
482 is an even
483 is an odd
484 is an even
485 is an odd
486 is an even
487 is an odd
488 is an even
489 is an odd
490 is an even
491 is an odd
492 is an even
493 is an odd
494 is an even
495 is an odd
496 is an even
497 is an odd
498 is an even
499 is an odd
500 is an even
501 is an odd
502 is an even
503 is an odd
504 is an even
505 is an odd
506 is an even
507 is an odd
508 is an even
509 is an odd
510 is an even
511 is an odd
512 is an even
513 is an odd
514 is an even
515 is an odd
516 is an even
517 is an odd
518 is an even
519 is an odd
520 is an even
521 is an odd
522 is an even
523 is an odd
524 is an even
525 is an odd
526 is an even
527 is an odd
528 is an even
529 is an odd
530 is an even
531 is an odd
532 is an even
533 is an odd
534 is an even
535 is an odd
536 is an even
537 is an odd
538 is an even
539 is an odd
540 is an even
541 is an odd
542 is an even
543 is an odd
544 is an even
545 is an odd
546 is an even
547 is an odd
548 is an even
549 is an odd
550 is an even
551 is an odd
552 is an even
553 is an odd
554 is an even
555 is an odd
556 is an even
557 is an odd
558 is an even
559 is an odd
560 is an even
561 is an odd
562 is an even
563 is an odd
564 is an even
565 is an odd
566 is an even
567 is an odd
568 is an even
569 is an odd
570 is an even
571 is an odd
572 is an even
573 is an odd
574 is an even
575 is an odd
576 is an even
577 is an odd
578 is an even
579 is an odd
580 is an even
581 is an odd
582 is an even
583 is an odd
584 is an even
585 is an odd
586 is an even
587 is an odd
588 is an even
589 is an odd
590 is an even
591 is an odd
592 is an even
593 is an odd
594 is an even
595 is an odd
596 is an even
597 is an odd
598 is an even
599 is an odd
600 is an even
601 is an odd
602 is an even
603 is an odd
604 is an even
605 is an odd
606 is an even
607 is an odd
608 is an even
609 is an odd
610 is an even
611 is an odd
612 is an even
613 is an odd
614 is an even
615 is an odd
616 is an even
617 is an odd
618 is an even
619 is an odd
620 is an even
621 is an odd
622 is an even
623 is an odd
624 is an even
625 is an odd
626 is an even
627 is an odd
628 is an even
629 is an odd
630 is an even

In [73]:
for x in range(10,100):
    print(x)
print ("hi")

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
hi

In [80]:
x=0
while x<1000:
    x+=1
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000

In [86]:
x=0
while x<1000:
    x+=1
    print(x,".My name is ibrahim")

1 .My name is ibrahim
2 .My name is ibrahim
3 .My name is ibrahim
4 .My name is ibrahim
5 .My name is ibrahim
6 .My name is ibrahim
7 .My name is ibrahim
8 .My name is ibrahim
9 .My name is ibrahim
10 .My name is ibrahim
11 .My name is ibrahim
12 .My name is ibrahim
13 .My name is ibrahim
14 .My name is ibrahim
15 .My name is ibrahim
16 .My name is ibrahim
17 .My name is ibrahim
18 .My name is ibrahim
19 .My name is ibrahim
20 .My name is ibrahim
21 .My name is ibrahim
22 .My name is ibrahim
23 .My name is ibrahim
24 .My name is ibrahim
25 .My name is ibrahim
26 .My name is ibrahim
27 .My name is ibrahim
28 .My name is ibrahim
29 .My name is ibrahim
30 .My name is ibrahim
31 .My name is ibrahim
32 .My name is ibrahim
33 .My name is ibrahim
34 .My name is ibrahim
35 .My name is ibrahim
36 .My name is ibrahim
37 .My name is ibrahim
38 .My name is ibrahim
39 .My name is ibrahim
40 .My name is ibrahim
41 .My name is ibrahim
42 .My name is ibrahim
43 .My name is ibrahim
44 .My name is ibrahim
45 .My name is ibrahim
46 .My name is ibrahim
47 .My name is ibrahim
48 .My name is ibrahim
49 .My name is ibrahim
50 .My name is ibrahim
51 .My name is ibrahim
52 .My name is ibrahim
53 .My name is ibrahim
54 .My name is ibrahim
55 .My name is ibrahim
56 .My name is ibrahim
57 .My name is ibrahim
58 .My name is ibrahim
59 .My name is ibrahim
60 .My name is ibrahim
61 .My name is ibrahim
62 .My name is ibrahim
63 .My name is ibrahim
64 .My name is ibrahim
65 .My name is ibrahim
66 .My name is ibrahim
67 .My name is ibrahim
68 .My name is ibrahim
69 .My name is ibrahim
70 .My name is ibrahim
71 .My name is ibrahim
72 .My name is ibrahim
73 .My name is ibrahim
74 .My name is ibrahim
75 .My name is ibrahim
76 .My name is ibrahim
77 .My name is ibrahim
78 .My name is ibrahim
79 .My name is ibrahim
80 .My name is ibrahim
81 .My name is ibrahim
82 .My name is ibrahim
83 .My name is ibrahim
84 .My name is ibrahim
85 .My name is ibrahim
86 .My name is ibrahim
87 .My name is ibrahim
88 .My name is ibrahim
89 .My name is ibrahim
90 .My name is ibrahim
91 .My name is ibrahim
92 .My name is ibrahim
93 .My name is ibrahim
94 .My name is ibrahim
95 .My name is ibrahim
96 .My name is ibrahim
97 .My name is ibrahim
98 .My name is ibrahim
99 .My name is ibrahim
100 .My name is ibrahim
101 .My name is ibrahim
102 .My name is ibrahim
103 .My name is ibrahim
104 .My name is ibrahim
105 .My name is ibrahim
106 .My name is ibrahim
107 .My name is ibrahim
108 .My name is ibrahim
109 .My name is ibrahim
110 .My name is ibrahim
111 .My name is ibrahim
112 .My name is ibrahim
113 .My name is ibrahim
114 .My name is ibrahim
115 .My name is ibrahim
116 .My name is ibrahim
117 .My name is ibrahim
118 .My name is ibrahim
119 .My name is ibrahim
120 .My name is ibrahim
121 .My name is ibrahim
122 .My name is ibrahim
123 .My name is ibrahim
124 .My name is ibrahim
125 .My name is ibrahim
126 .My name is ibrahim
127 .My name is ibrahim
128 .My name is ibrahim
129 .My name is ibrahim
130 .My name is ibrahim
131 .My name is ibrahim
132 .My name is ibrahim
133 .My name is ibrahim
134 .My name is ibrahim
135 .My name is ibrahim
136 .My name is ibrahim
137 .My name is ibrahim
138 .My name is ibrahim
139 .My name is ibrahim
140 .My name is ibrahim
141 .My name is ibrahim
142 .My name is ibrahim
143 .My name is ibrahim
144 .My name is ibrahim
145 .My name is ibrahim
146 .My name is ibrahim
147 .My name is ibrahim
148 .My name is ibrahim
149 .My name is ibrahim
150 .My name is ibrahim
151 .My name is ibrahim
152 .My name is ibrahim
153 .My name is ibrahim
154 .My name is ibrahim
155 .My name is ibrahim
156 .My name is ibrahim
157 .My name is ibrahim
158 .My name is ibrahim
159 .My name is ibrahim
160 .My name is ibrahim
161 .My name is ibrahim
162 .My name is ibrahim
163 .My name is ibrahim
164 .My name is ibrahim
165 .My name is ibrahim
166 .My name is ibrahim
167 .My name is ibrahim
168 .My name is ibrahim
169 .My name is ibrahim
170 .My name is ibrahim
171 .My name is ibrahim
172 .My name is ibrahim
173 .My name is ibrahim
174 .My name is ibrahim
175 .My name is ibrahim
176 .My name is ibrahim
177 .My name is ibrahim
178 .My name is ibrahim
179 .My name is ibrahim
180 .My name is ibrahim
181 .My name is ibrahim
182 .My name is ibrahim
183 .My name is ibrahim
184 .My name is ibrahim
185 .My name is ibrahim
186 .My name is ibrahim
187 .My name is ibrahim
188 .My name is ibrahim
189 .My name is ibrahim
190 .My name is ibrahim
191 .My name is ibrahim
192 .My name is ibrahim
193 .My name is ibrahim
194 .My name is ibrahim
195 .My name is ibrahim
196 .My name is ibrahim
197 .My name is ibrahim
198 .My name is ibrahim
199 .My name is ibrahim
200 .My name is ibrahim
201 .My name is ibrahim
202 .My name is ibrahim
203 .My name is ibrahim
204 .My name is ibrahim
205 .My name is ibrahim
206 .My name is ibrahim
207 .My name is ibrahim
208 .My name is ibrahim
209 .My name is ibrahim
210 .My name is ibrahim
211 .My name is ibrahim
212 .My name is ibrahim
213 .My name is ibrahim
214 .My name is ibrahim
215 .My name is ibrahim
216 .My name is ibrahim
217 .My name is ibrahim
218 .My name is ibrahim
219 .My name is ibrahim
220 .My name is ibrahim
221 .My name is ibrahim
222 .My name is ibrahim
223 .My name is ibrahim
224 .My name is ibrahim
225 .My name is ibrahim
226 .My name is ibrahim
227 .My name is ibrahim
228 .My name is ibrahim
229 .My name is ibrahim
230 .My name is ibrahim
231 .My name is ibrahim
232 .My name is ibrahim
233 .My name is ibrahim
234 .My name is ibrahim
235 .My name is ibrahim
236 .My name is ibrahim
237 .My name is ibrahim
238 .My name is ibrahim
239 .My name is ibrahim
240 .My name is ibrahim
241 .My name is ibrahim
242 .My name is ibrahim
243 .My name is ibrahim
244 .My name is ibrahim
245 .My name is ibrahim
246 .My name is ibrahim
247 .My name is ibrahim
248 .My name is ibrahim
249 .My name is ibrahim
250 .My name is ibrahim
251 .My name is ibrahim
252 .My name is ibrahim
253 .My name is ibrahim
254 .My name is ibrahim
255 .My name is ibrahim
256 .My name is ibrahim
257 .My name is ibrahim
258 .My name is ibrahim
259 .My name is ibrahim
260 .My name is ibrahim
261 .My name is ibrahim
262 .My name is ibrahim
263 .My name is ibrahim
264 .My name is ibrahim
265 .My name is ibrahim
266 .My name is ibrahim
267 .My name is ibrahim
268 .My name is ibrahim
269 .My name is ibrahim
270 .My name is ibrahim
271 .My name is ibrahim
272 .My name is ibrahim
273 .My name is ibrahim
274 .My name is ibrahim
275 .My name is ibrahim
276 .My name is ibrahim
277 .My name is ibrahim
278 .My name is ibrahim
279 .My name is ibrahim
280 .My name is ibrahim
281 .My name is ibrahim
282 .My name is ibrahim
283 .My name is ibrahim
284 .My name is ibrahim
285 .My name is ibrahim
286 .My name is ibrahim
287 .My name is ibrahim
288 .My name is ibrahim
289 .My name is ibrahim
290 .My name is ibrahim
291 .My name is ibrahim
292 .My name is ibrahim
293 .My name is ibrahim
294 .My name is ibrahim
295 .My name is ibrahim
296 .My name is ibrahim
297 .My name is ibrahim
298 .My name is ibrahim
299 .My name is ibrahim
300 .My name is ibrahim
301 .My name is ibrahim
302 .My name is ibrahim
303 .My name is ibrahim
304 .My name is ibrahim
305 .My name is ibrahim
306 .My name is ibrahim
307 .My name is ibrahim
308 .My name is ibrahim
309 .My name is ibrahim
310 .My name is ibrahim
311 .My name is ibrahim
312 .My name is ibrahim
313 .My name is ibrahim
314 .My name is ibrahim
315 .My name is ibrahim
316 .My name is ibrahim
317 .My name is ibrahim
318 .My name is ibrahim
319 .My name is ibrahim
320 .My name is ibrahim
321 .My name is ibrahim
322 .My name is ibrahim
323 .My name is ibrahim
324 .My name is ibrahim
325 .My name is ibrahim
326 .My name is ibrahim
327 .My name is ibrahim
328 .My name is ibrahim
329 .My name is ibrahim
330 .My name is ibrahim
331 .My name is ibrahim
332 .My name is ibrahim
333 .My name is ibrahim
334 .My name is ibrahim
335 .My name is ibrahim
336 .My name is ibrahim
337 .My name is ibrahim
338 .My name is ibrahim
339 .My name is ibrahim
340 .My name is ibrahim
341 .My name is ibrahim
342 .My name is ibrahim
343 .My name is ibrahim
344 .My name is ibrahim
345 .My name is ibrahim
346 .My name is ibrahim
347 .My name is ibrahim
348 .My name is ibrahim
349 .My name is ibrahim
350 .My name is ibrahim
351 .My name is ibrahim
352 .My name is ibrahim
353 .My name is ibrahim
354 .My name is ibrahim
355 .My name is ibrahim
356 .My name is ibrahim
357 .My name is ibrahim
358 .My name is ibrahim
359 .My name is ibrahim
360 .My name is ibrahim
361 .My name is ibrahim
362 .My name is ibrahim
363 .My name is ibrahim
364 .My name is ibrahim
365 .My name is ibrahim
366 .My name is ibrahim
367 .My name is ibrahim
368 .My name is ibrahim
369 .My name is ibrahim
370 .My name is ibrahim
371 .My name is ibrahim
372 .My name is ibrahim
373 .My name is ibrahim
374 .My name is ibrahim
375 .My name is ibrahim
376 .My name is ibrahim
377 .My name is ibrahim
378 .My name is ibrahim
379 .My name is ibrahim
380 .My name is ibrahim
381 .My name is ibrahim
382 .My name is ibrahim
383 .My name is ibrahim
384 .My name is ibrahim
385 .My name is ibrahim
386 .My name is ibrahim
387 .My name is ibrahim
388 .My name is ibrahim
389 .My name is ibrahim
390 .My name is ibrahim
391 .My name is ibrahim
392 .My name is ibrahim
393 .My name is ibrahim
394 .My name is ibrahim
395 .My name is ibrahim
396 .My name is ibrahim
397 .My name is ibrahim
398 .My name is ibrahim
399 .My name is ibrahim
400 .My name is ibrahim
401 .My name is ibrahim
402 .My name is ibrahim
403 .My name is ibrahim
404 .My name is ibrahim
405 .My name is ibrahim
406 .My name is ibrahim
407 .My name is ibrahim
408 .My name is ibrahim
409 .My name is ibrahim
410 .My name is ibrahim
411 .My name is ibrahim
412 .My name is ibrahim
413 .My name is ibrahim
414 .My name is ibrahim
415 .My name is ibrahim
416 .My name is ibrahim
417 .My name is ibrahim
418 .My name is ibrahim
419 .My name is ibrahim
420 .My name is ibrahim
421 .My name is ibrahim
422 .My name is ibrahim
423 .My name is ibrahim
424 .My name is ibrahim
425 .My name is ibrahim
426 .My name is ibrahim
427 .My name is ibrahim
428 .My name is ibrahim
429 .My name is ibrahim
430 .My name is ibrahim
431 .My name is ibrahim
432 .My name is ibrahim
433 .My name is ibrahim
434 .My name is ibrahim
435 .My name is ibrahim
436 .My name is ibrahim
437 .My name is ibrahim
438 .My name is ibrahim
439 .My name is ibrahim
440 .My name is ibrahim
441 .My name is ibrahim
442 .My name is ibrahim
443 .My name is ibrahim
444 .My name is ibrahim
445 .My name is ibrahim
446 .My name is ibrahim
447 .My name is ibrahim
448 .My name is ibrahim
449 .My name is ibrahim
450 .My name is ibrahim
451 .My name is ibrahim
452 .My name is ibrahim
453 .My name is ibrahim
454 .My name is ibrahim
455 .My name is ibrahim
456 .My name is ibrahim
457 .My name is ibrahim
458 .My name is ibrahim
459 .My name is ibrahim
460 .My name is ibrahim
461 .My name is ibrahim
462 .My name is ibrahim
463 .My name is ibrahim
464 .My name is ibrahim
465 .My name is ibrahim
466 .My name is ibrahim
467 .My name is ibrahim
468 .My name is ibrahim
469 .My name is ibrahim
470 .My name is ibrahim
471 .My name is ibrahim
472 .My name is ibrahim
473 .My name is ibrahim
474 .My name is ibrahim
475 .My name is ibrahim
476 .My name is ibrahim
477 .My name is ibrahim
478 .My name is ibrahim
479 .My name is ibrahim
480 .My name is ibrahim
481 .My name is ibrahim
482 .My name is ibrahim
483 .My name is ibrahim
484 .My name is ibrahim
485 .My name is ibrahim
486 .My name is ibrahim
487 .My name is ibrahim
488 .My name is ibrahim
489 .My name is ibrahim
490 .My name is ibrahim
491 .My name is ibrahim
492 .My name is ibrahim
493 .My name is ibrahim
494 .My name is ibrahim
495 .My name is ibrahim
496 .My name is ibrahim
497 .My name is ibrahim
498 .My name is ibrahim
499 .My name is ibrahim
500 .My name is ibrahim
501 .My name is ibrahim
502 .My name is ibrahim
503 .My name is ibrahim
504 .My name is ibrahim
505 .My name is ibrahim
506 .My name is ibrahim
507 .My name is ibrahim
508 .My name is ibrahim
509 .My name is ibrahim
510 .My name is ibrahim
511 .My name is ibrahim
512 .My name is ibrahim
513 .My name is ibrahim
514 .My name is ibrahim
515 .My name is ibrahim
516 .My name is ibrahim
517 .My name is ibrahim
518 .My name is ibrahim
519 .My name is ibrahim
520 .My name is ibrahim
521 .My name is ibrahim
522 .My name is ibrahim
523 .My name is ibrahim
524 .My name is ibrahim
525 .My name is ibrahim
526 .My name is ibrahim
527 .My name is ibrahim
528 .My name is ibrahim
529 .My name is ibrahim
530 .My name is ibrahim
531 .My name is ibrahim
532 .My name is ibrahim
533 .My name is ibrahim
534 .My name is ibrahim
535 .My name is ibrahim
536 .My name is ibrahim
537 .My name is ibrahim
538 .My name is ibrahim
539 .My name is ibrahim
540 .My name is ibrahim
541 .My name is ibrahim
542 .My name is ibrahim
543 .My name is ibrahim
544 .My name is ibrahim
545 .My name is ibrahim
546 .My name is ibrahim
547 .My name is ibrahim
548 .My name is ibrahim
549 .My name is ibrahim
550 .My name is ibrahim
551 .My name is ibrahim
552 .My name is ibrahim
553 .My name is ibrahim
554 .My name is ibrahim
555 .My name is ibrahim
556 .My name is ibrahim
557 .My name is ibrahim
558 .My name is ibrahim
559 .My name is ibrahim
560 .My name is ibrahim
561 .My name is ibrahim
562 .My name is ibrahim
563 .My name is ibrahim
564 .My name is ibrahim
565 .My name is ibrahim
566 .My name is ibrahim
567 .My name is ibrahim
568 .My name is ibrahim
569 .My name is ibrahim
570 .My name is ibrahim
571 .My name is ibrahim
572 .My name is ibrahim
573 .My name is ibrahim
574 .My name is ibrahim
575 .My name is ibrahim
576 .My name is ibrahim
577 .My name is ibrahim
578 .My name is ibrahim
579 .My name is ibrahim
580 .My name is ibrahim
581 .My name is ibrahim
582 .My name is ibrahim
583 .My name is ibrahim
584 .My name is ibrahim
585 .My name is ibrahim
586 .My name is ibrahim
587 .My name is ibrahim
588 .My name is ibrahim
589 .My name is ibrahim
590 .My name is ibrahim
591 .My name is ibrahim
592 .My name is ibrahim
593 .My name is ibrahim
594 .My name is ibrahim
595 .My name is ibrahim
596 .My name is ibrahim
597 .My name is ibrahim
598 .My name is ibrahim
599 .My name is ibrahim
600 .My name is ibrahim
601 .My name is ibrahim
602 .My name is ibrahim
603 .My name is ibrahim
604 .My name is ibrahim
605 .My name is ibrahim
606 .My name is ibrahim
607 .My name is ibrahim
608 .My name is ibrahim
609 .My name is ibrahim
610 .My name is ibrahim
611 .My name is ibrahim
612 .My name is ibrahim
613 .My name is ibrahim
614 .My name is ibrahim
615 .My name is ibrahim
616 .My name is ibrahim
617 .My name is ibrahim
618 .My name is ibrahim
619 .My name is ibrahim
620 .My name is ibrahim
621 .My name is ibrahim
622 .My name is ibrahim
623 .My name is ibrahim
624 .My name is ibrahim
625 .My name is ibrahim
626 .My name is ibrahim
627 .My name is ibrahim
628 .My name is ibrahim
629 .My name is ibrahim
630 .My name is ibrahim
631 .My name is ibrahim
632 .My name is ibrahim
633 .My name is ibrahim
634 .My name is ibrahim
635 .My name is ibrahim
636 .My name is ibrahim
637 .My name is ibrahim
638 .My name is ibrahim
639 .My name is ibrahim
640 .My name is ibrahim
641 .My name is ibrahim
642 .My name is ibrahim
643 .My name is ibrahim
644 .My name is ibrahim
645 .My name is ibrahim
646 .My name is ibrahim
647 .My name is ibrahim
648 .My name is ibrahim
649 .My name is ibrahim
650 .My name is ibrahim
651 .My name is ibrahim
652 .My name is ibrahim
653 .My name is ibrahim
654 .My name is ibrahim
655 .My name is ibrahim
656 .My name is ibrahim
657 .My name is ibrahim
658 .My name is ibrahim
659 .My name is ibrahim
660 .My name is ibrahim
661 .My name is ibrahim
662 .My name is ibrahim
663 .My name is ibrahim
664 .My name is ibrahim
665 .My name is ibrahim
666 .My name is ibrahim
667 .My name is ibrahim
668 .My name is ibrahim
669 .My name is ibrahim
670 .My name is ibrahim
671 .My name is ibrahim
672 .My name is ibrahim
673 .My name is ibrahim
674 .My name is ibrahim
675 .My name is ibrahim
676 .My name is ibrahim
677 .My name is ibrahim
678 .My name is ibrahim
679 .My name is ibrahim
680 .My name is ibrahim
681 .My name is ibrahim
682 .My name is ibrahim
683 .My name is ibrahim
684 .My name is ibrahim
685 .My name is ibrahim
686 .My name is ibrahim
687 .My name is ibrahim
688 .My name is ibrahim
689 .My name is ibrahim
690 .My name is ibrahim
691 .My name is ibrahim
692 .My name is ibrahim
693 .My name is ibrahim
694 .My name is ibrahim
695 .My name is ibrahim
696 .My name is ibrahim
697 .My name is ibrahim
698 .My name is ibrahim
699 .My name is ibrahim
700 .My name is ibrahim
701 .My name is ibrahim
702 .My name is ibrahim
703 .My name is ibrahim
704 .My name is ibrahim
705 .My name is ibrahim
706 .My name is ibrahim
707 .My name is ibrahim
708 .My name is ibrahim
709 .My name is ibrahim
710 .My name is ibrahim
711 .My name is ibrahim
712 .My name is ibrahim
713 .My name is ibrahim
714 .My name is ibrahim
715 .My name is ibrahim
716 .My name is ibrahim
717 .My name is ibrahim
718 .My name is ibrahim
719 .My name is ibrahim
720 .My name is ibrahim
721 .My name is ibrahim
722 .My name is ibrahim
723 .My name is ibrahim
724 .My name is ibrahim
725 .My name is ibrahim
726 .My name is ibrahim
727 .My name is ibrahim
728 .My name is ibrahim
729 .My name is ibrahim
730 .My name is ibrahim
731 .My name is ibrahim
732 .My name is ibrahim
733 .My name is ibrahim
734 .My name is ibrahim
735 .My name is ibrahim
736 .My name is ibrahim
737 .My name is ibrahim
738 .My name is ibrahim
739 .My name is ibrahim
740 .My name is ibrahim
741 .My name is ibrahim
742 .My name is ibrahim
743 .My name is ibrahim
744 .My name is ibrahim
745 .My name is ibrahim
746 .My name is ibrahim
747 .My name is ibrahim
748 .My name is ibrahim
749 .My name is ibrahim
750 .My name is ibrahim
751 .My name is ibrahim
752 .My name is ibrahim
753 .My name is ibrahim
754 .My name is ibrahim
755 .My name is ibrahim
756 .My name is ibrahim
757 .My name is ibrahim
758 .My name is ibrahim
759 .My name is ibrahim
760 .My name is ibrahim
761 .My name is ibrahim
762 .My name is ibrahim
763 .My name is ibrahim
764 .My name is ibrahim
765 .My name is ibrahim
766 .My name is ibrahim
767 .My name is ibrahim
768 .My name is ibrahim
769 .My name is ibrahim
770 .My name is ibrahim
771 .My name is ibrahim
772 .My name is ibrahim
773 .My name is ibrahim
774 .My name is ibrahim
775 .My name is ibrahim
776 .My name is ibrahim
777 .My name is ibrahim
778 .My name is ibrahim
779 .My name is ibrahim
780 .My name is ibrahim
781 .My name is ibrahim
782 .My name is ibrahim
783 .My name is ibrahim
784 .My name is ibrahim
785 .My name is ibrahim
786 .My name is ibrahim
787 .My name is ibrahim
788 .My name is ibrahim
789 .My name is ibrahim
790 .My name is ibrahim
791 .My name is ibrahim
792 .My name is ibrahim
793 .My name is ibrahim
794 .My name is ibrahim
795 .My name is ibrahim
796 .My name is ibrahim
797 .My name is ibrahim
798 .My name is ibrahim
799 .My name is ibrahim
800 .My name is ibrahim
801 .My name is ibrahim
802 .My name is ibrahim
803 .My name is ibrahim
804 .My name is ibrahim
805 .My name is ibrahim
806 .My name is ibrahim
807 .My name is ibrahim
808 .My name is ibrahim
809 .My name is ibrahim
810 .My name is ibrahim
811 .My name is ibrahim
812 .My name is ibrahim
813 .My name is ibrahim
814 .My name is ibrahim
815 .My name is ibrahim
816 .My name is ibrahim
817 .My name is ibrahim
818 .My name is ibrahim
819 .My name is ibrahim
820 .My name is ibrahim
821 .My name is ibrahim
822 .My name is ibrahim
823 .My name is ibrahim
824 .My name is ibrahim
825 .My name is ibrahim
826 .My name is ibrahim
827 .My name is ibrahim
828 .My name is ibrahim
829 .My name is ibrahim
830 .My name is ibrahim
831 .My name is ibrahim
832 .My name is ibrahim
833 .My name is ibrahim
834 .My name is ibrahim
835 .My name is ibrahim
836 .My name is ibrahim
837 .My name is ibrahim

In [108]:
i=7
sum=0
tries=0
c=0
while (i<=50):
    if i%2==0:
        sum+=i
        tries+=1
    i+=1
    c+=1
print(sum)
print(tries)
print(c)

638
22
44

In [106]:
i =7
sum=0
while (i<=50):
    if i%2==0:
        sum=sum+i
    i+=1
print(sum)

638

In [7]:
sum=0
tries=0
for x in range(7,51):
    if x%2==0:
        print(x,"is an even number")
    else:
        print(x,"is an odd number")

7 is an odd number
8 is an even number
9 is an odd number
10 is an even number
11 is an odd number
12 is an even number
13 is an odd number
14 is an even number
15 is an odd number
16 is an even number
17 is an odd number
18 is an even number
19 is an odd number
20 is an even number
21 is an odd number
22 is an even number
23 is an odd number
24 is an even number
25 is an odd number
26 is an even number
27 is an odd number
28 is an even number
29 is an odd number
30 is an even number
31 is an odd number
32 is an even number
33 is an odd number
34 is an even number
35 is an odd number
36 is an even number
37 is an odd number
38 is an even number
39 is an odd number
40 is an even number
41 is an odd number
42 is an even number
43 is an odd number
44 is an even number
45 is an odd number
46 is an even number
47 is an odd number
48 is an even number
49 is an odd number
50 is an even number

In [33]:
sum=0
for x in range (7,51):
        if (x%2==0 and x<51):
            sum+=x
print(sum)

638

In [39]:
sum=0
for x in range (8,51,2):
    sum+=x
print(sum)

638

In [85]:
x=7
sum=0
while (x<51):
    if x%2==0:
        sum+=x
    x=x+1
print(sum)

638

In [86]:
i = 1
while i < 6:
    i += 1
    print(i)
    if i == 3:
        break

2
3

In [91]:
a = int(input("Enter a number:"))
b = int(input("Enter a number:"))
sum=0
for x in range (a,(b+1)):
    if x%2==0:
        sum+=x
print(sum)

Enter a number:0
Enter a number:900
202950

In [93]:
x=1
for i in range(1000):
        x+=1
print(x)

1001

In [ ]:

x=int(input("Enter your grades:"))
if (x<=100 and x>=95):
    print("A")
elif (x<=94 and x>=85):
    print("B")
elif (x<=84 and x>=75):
    print("C")
elif (x<=74 and x>=65):
    print("D")
elif (x<=64 and x>=55):
    print("E")
elif (x<=54 and x>=0):
    print("F")
else:
    print("Out of range")

In [98]:
# Write a program to find the hypotenuse of a right-angled triangle. The sides of a triangle should be entered by the user.

In [99]:
a=int(input("Enter the frist side of the right angled triangle"))
b=int(input("Enter the second side of the right angled triangle"))
hypo=a**2+b**2
final=hypo**0.5
print("The hypotenuse is:",final)

Enter the frist side of the right angled triangle3
Enter the second side of the right angled triangle6
The hypotenuse is: 6.708203932499369

In [ ]:
# Write a program to find out if the year is a leap year. 3 criteria must be taken into account to determine that:
# The year is evenly divisible by 4
# If the year can be evenly divided by 100, it is not a leap year, unless
# The year is also evenly divisible by 400 - in that case it is a leap year

In [112]:
x=int(input("Enter the year:"))

if x%4==0:
    if x%100==0:
        if x%400==0:
            print(x,"is leap year")
        else:
            print(x,"is not leap year")
    else:
        print(x,"is not leap year")
else:
    print(x,"is not leap year")

Enter the year:1900
1900 is not leap year

In [108]:
year=int(input("Enter year: "))

if(year%4)==0:
    if(year%100==0):
        if(year%400==0):
            print(year, " is a leap year.")
        else:
            print(year, "is not a leap year.")
    else:
        print(year, "is not a leap year.")
else: 
    print(year, "is not a leap year.")

Enter year: 1900
1900 is not a leap year.

In [ ]:
#4. Write a program to swap the value of two variables.
#5. Write a program to find out if the number is prime or not.
#6. Write a program to find factors of a number. 
#7: Create a simple menu in Python:
# ------------------------------ MENU ------------------------------
# 1. Menu Option 1
# 2. Menu Option 2
# 3. Menu Option 3
# 4. Menu Option 4
# 5. Exit
# -------------------------------------------------------------------
# Enter your choice [1-5]:

In [144]:
number=int(input("Enter a number: "))
x=0
for i in range(2,number):
    if number%i==0:
        print("Number is not prime.")

Enter a number: 2

In [165]:
x=int(input("hi:"))
for i in range (2,x):
    if x%i==0:
        print("Number is not prime.")
        break

hi:18
Number is not prime.
0

In [167]:
x=float(input("Enter a number here"))
if x%1==0:
    print(x,"is a factor of a number")
else:
    print(x,"is not a factor of a number")

Enter a number here1
1.0 is a factor of a number

In [174]:
entered_number=int(input("Enter a number: "))

print("The factors of ", entered_number, " are: ")
for i in range(1,entered_number+1):
    if entered_number%i ==0:
        print(i)

Enter a number: 17
The factors of  17  are:
1
17

In [176]:
x=int(input("Enter the number here:"))
print("The factors of", x, "are:")
for i in range (1,x+1):
    if x%i==0:
        print(i)

Enter the number here:100
The factors of 100 are:
1
2
4
5
10
20
25
50
100

In [192]:
print("------------------------------ MENU ------------------------------")
print( "1. Menu Option")
print("2. Menu Option")
print("3. Menu Option")
print("4. Menu Option")
print("5. Exit")
print("-------------------------------------------------------------------")
x=int(input("Enter your choice [1-5]:"))
if x==1:
    print( "1. Menu Option")
elif x==2:
    print("2. Menu Option")
elif x==3:
    print("3. Menu Option")
elif x==4:
    print("4. Menu Option")
elif x==5:
    print("5. Exit")
else:
    print ("You enter the number out of the menu")

------------------------------ MENU ------------------------------
1. Menu Option
2. Menu Option
3. Menu Option
4. Menu Option
5. Exit
-------------------------------------------------------------------
Enter your choice [1-5]:0
You enter the number out of the menu

In [203]:
loop=True
while loop:
    print(30*"-", "MENU", 30*"-")
    print("1. Menu Option 1")
    print("2. Menu Option 2")
    print("3. Menu Option 3")
    print("4. Menu Option 4")
    print("5. Exit")
    break
choice=int(input("Enter your choice:"))
if choice==1:
    print("Option 1 selected")
elif choice==2:
    print("Option 2 selected")
elif choice==3:
    print("Option 3 selected")
elif choice==4:
    print("Option 4 selected")
elif choice==5:
    loop=False

------------------------------ MENU ------------------------------
1. Menu Option 1
2. Menu Option 2
3. Menu Option 3
4. Menu Option 4
5. Exit
Enter your choice:4
Option 4 selected

In [209]:
z=int(input("Enter a number:"))
for i in range (1,11):
    print(z, "*", i, "=", z*i)

Enter a number:9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [207]:
#8. Write a program to display the  multiplication table of  variable num (from 1 to 10).
mult_number=int(input("Enter a number: "))
for i in range(1,11):
    print(mult_number, " * ", i, " = ", mult_number*i)

Enter a number: 9
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81
9  *  10  =  90

In [288]:
lower_interval=int(input("The first:"))
upper_interval=int(input("The second:"))

print("Prime numbers between ", lower_interval, " and ",upper_interval, " are:" )
for i in range (lower_interval,upper_interval+1):
    if i>1:
        for j in range (2,i):
            if (i%j==0):
                break
        else:
            print(i)

The first:0
The second:10
Prime numbers between  0  and  10  are:
2
3
5
7

In [322]:
lower_interval=10
upper_interval=11

print("Prime numbers between ", lower_interval, " and ",upper_interval, " are:" )
for i in range(lower_interval,upper_interval+1):
#     if i>1:
        for j in range(2, i):
            if (i%j==0):
                print("99999999999999999999999")
#                 continue
                break
            else:
                print("a")
        else:
            print(i)

Prime numbers between  10  and  11  are:
99999999999999999999999
a
a
a
a
a
a
a
a
a
11

In [294]:
for i in range (20,29):
    print (i)
    if i==25:
        break
    elif i%21 ==0:
        break
    print(i)

20
20
21

In [ ]:
X=int(input("Enter a number:"))
for i in range (2,X):
    if (i%2==0):
        print(X ,"is not prime number")
        break

In [337]:
celsius=float(input("Enter the temperature in celsius: "))

fahrenheit=(celsius*1.8)+32
print('%0.1f degree celsius equal %0.1f degree fahrenheit.' %(celsius,fahrenheit))

Enter the temperature in celsius: 5
5.0 degree celsius equal 41.0 degree fahrenheit.

In [338]:
celsius=float(input("Celsius: "))
fahrenheit= (celsius*1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

Celsius: 5
5.0 degree Celsius is equal to 41.0 degree Fahrenheit

In [375]:
year=int(input("Enter the year: "))
if year<=2099 and year>=1900:
    a = year % 19
    b= year % 4
    c= year % 7
    d= (19*a + 24) % 30
    e= (2*b +4*c + 6*d + 5) %7
    date_easter=22+d+e
    if year==1954 or year==1981 or year==2049 or year==2076:
        date_easter-=7
    if date_easter>31:
        print("April" ,date_easter-31)
    else:
        print("March" ,date_easter)
else:
    print(year,"is out of range.")

Enter the year: 1913
March 23

In [374]:
year=int(input("Enter a year: "))

if year>=1900 and year<=2099:
    a=year%19
    b=year%4
    c=year%7
    d=(19*a + 24) % 30
    e=(2*b + 4*c + 6*d + 5) %7
    date_easter=22+d+e
    
    if year==1954 or year == 2981 or year==2049 or year==2076:
        date_easter=date_easter-7
        
    if date_easter>31:
        print("April ", date_easter-31)
    else: 
        print("March ", date_easter)
else:
    print("Year out of range.")

Enter a year: 1916
April  23

In [389]:
lower_interval=10
upper_interval=20

print("Prime numbers between ", lower_interval, " and ",upper_interval, " are:" )
for i in range(lower_interval,upper_interval+1):
    if i>1:
        for j in range(2, i):
            if (i%j==0):
                
                break
#         else:
            print(i)

Prime numbers between  10  and  20  are:
11
11
11
11
11
11
11
11
11
13
13
13
13
13
13
13
13
13
13
13
15
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19

In [1]:
import math
r= int(input("Enter the radius"))
area = math.pi * r**2
print(area)

Enter the radius2
12.566370614359172

In [3]:
import random
for i in range (1,100):
    print (random.random(i))

TypeError: Random.random() takes no arguments (1 given)

In [30]:
import random
dice=0
while(dice!=2 and dice!=6):
    dice=random.randrange(1,7)
    print(dice)
    if (dice==2):
        print("You won!")
    elif (dice==6):
        print("You lost!")

5
5
5
3
3
2
You won!

In [61]:
from random import randint
x=0
for i in range (1, 101):
    i = randint(1,100000)
    if i == 10:
        x+=i
print(x)

0

In [63]:
import random

count=0
for i in range(100):
    rand_number=random.randint(1,100000)
    if rand_number==10:
        count+=1
        
print("Number 10 has been repeated ", count, "times")

Number 10 has been repeated  0 times

In [7]:
A={1, 20, 30}
print(sum(A ,20))

71

In [ ]:
def sum_to(a, b, c, d, e, f, g, h, , j, x):
    sum=(a+ b+ c+ d+ e+ f+ +, h+ + j+ x)

In [9]:
def sum(num1 ,num2):
    print("The sum is:" ,num1+num2)
i=int(input("Inter a number:"))
m=int(input("Inter a number:"))
sum(i ,m)

Inter a number:1
Inter a number:2
The sum is: 3

In [10]:
def pow(b,p):
    y=b**p
    return y

def square(x):
    a=pow(x,2)
    return a

n=5
result=square(n)
print(result)

25

In [13]:
def hotel_cost(nights ,price ,guests):
    y=(nights*price)*guests
    return y
i=int(input("Enter the nights:"))
k=int(input("Enter the price:"))
e=int(input("Enter the guests:"))
hotel_cost(i ,k ,e)

Enter the nights:1
Enter the price:2
Enter the guests:3

6

def even(n):
    if n%2==0:
        return True
    elif n%2!=0:
        return False
i = int(input("Enter the number:"))
even(i)

In [17]:
def even(n):
    if n%2==0:
        return True
    elif n%2!=0:
        return False
i = int(input("Enter the number:"))
even(i)

Enter the number:2

True

In [ ]:
#6: Create a function that takes the number and returns the factorial of a number.
#7: Write a function that takes the number of kilometers and converts them into meters.

In [65]:
def factorial(num):
    fact = 1
    while(num!=0):
        fact *= num
        num = num - 1
    print("Factorial is",fact)

num = int(input("Enter number "))
factorial(num)

Enter number 7
Factorial is 5040

In [64]:
def af(n):
    for i in range(1,n+1):
        if n%i==0:
            print(i)
        else:
            continue
p=int(input("Enter the number:"))
af(p)

Enter the number:9
1
3
9

In [59]:
def v(n):
    if n==7:
        print("bingo")
    else:
        print("Better luck next time")
i=int(input("Enter the number"))
v(i)

Enter the number8
Better luck next time

In [57]:
def email(name,surname):
     return name +"."+surname +"@stu.ibu.edu.ba"
i=input("Enter your name:")
e=input("Enter your surname")
print(email(i,e))

Enter your name:gdf
Enter your surnamegdf
gdf.gdf@stu.ibu.edu.ba

In [40]:
def a7mad(a,b,c):
    max=a
    if b>max:
        max=b
    if c>max:
        max=c
    return max
i=int(input("Enter the number:"))
c=int(input("Enter the number:"))
e=int(input("Enter the number:"))
a7mad(i,c,e)

Enter the number:9
Enter the number:0
Enter the number:0

9

In [69]:
def man(n,k,j):
    for o in range(n,k+1):
        if o==j:
            print("The number is" ,j ,"in a given range")
            break
    else:
        print("The number is not" ,j ,"in a given range")
n=int(input("Enter the range from:"))
k=int(input("Enter the range end in:"))
j=int(input("Enter the number:"))
man(n,k,j)

Enter the range from:1
Enter the range end in:3
Enter the number:2
The number is 2 in a given range

In [23]:
def a7a(n):
    if (n%5==0 and n%3==0):
        print(True)
    else:
        print(False)
i=int(input("Enter the number:"))
a7a(i)

Enter the number:9
False

In [66]:
def sum(n1,n2):
    return n1+n2
n1=int(input("Enter the number:"))
n2=int(input("Enter the number:"))
sum(n1,n2)

Enter the number:2
Enter the number:3

5

In [67]:
def hotel_cost(nights,price,guests):
    return(nights*price*guests)
i=int(input("Enter the nights:"))
e=int(input("Enter the price:"))
j=int(input("Enter the guests:"))
hotel_cost(i,e,j)

Enter the nights:3
Enter the price:2
Enter the guests:4

24

In [68]:
def even(n):
    if n%2==0:
        return True
    return False
i = int(input("Enter the number:"))
even(i)

Enter the number:4

True

In [ ]:
def di(x):
    if x%3==0 or X%5==0:
        print("")

In [3]:
x="My name is Ibrahim"
y="I am 17 years old"
v="My country is Egypt"
print(x,v,y)
print(type(v))
print(type(x))
print(type(y))

My name is Ibrahim My country is Egypt I am 17 years old
<class 'str'>
<class 'str'>
<class 'str'>

In [5]:
print("Hello World\nSecond Line")

# Carriage Return
print("123456\rAbcde")

# Horizontal Tab
print("Hello\tPython")

# Character Hex Value
print("\x4F\x73")

Hello World
Second Line
Abcde
Hello	Python
Os

In [ ]:
"Hello, My Name Is Osama And Iam 38 Years Old and I Live in Egypt."

In [12]:
x="Hello,"
b=" "
v="My Name \
Is \
Osama \
And"
c="I am 38 \
Years \
Old and I \
Live in \
Egypt."
print("\""+ x + b + v + "\n"+ c + "\"")

"Hello, My Name Is Osama And
I am 38 Years Old and I Live in Egypt."

In [19]:
# "Hello 'Osama', How You Doing \ """ Your Age Is "38"" + And Your Country Is: Egypt
x="\" Hello \'Osama\', How You Doing \\ \"\"\" "
v="YOur Age Is \"\"38\" + And "
b="Your Country Is: Egypt"
print(x + v + b)

" Hello 'Osama', How You Doing \ """ YOur Age Is ""38" + And Your Country Is: Egypt

In [ ]:
"Hello 'Osama', How You Doing \
""" Your Age Is "38"" +
And Your Country Is: Egypt

In [3]:
x="\" Hello \'Osama\', How You Doing \\"
v="\"\"\" Your Age Is \"\"38\" +"
b="And Your Country Is: Egypt"
print(x + "\n" + v + "\n" + b)

" Hello 'Osama', How You Doing \
""" Your Age Is ""38" +
And Your Country Is: Egypt

In [14]:

print("""First
Second "Test" \\\ 'Test'
Third""")

First
Second "Test" \\ 'Test'
Third

In [16]:
print(""" fskdafljaslk
sdfasdf
dsfasdf'\\''\
djsfafklajsd
Dsf""")

 fskdafljaslk
sdfasdf
dsfasdf'\''djsfafklajsd
Dsf

In [21]:
name = 'Elzero'
print(name)
print("Second Letter Is",name[1])
print("Third Letter Is",name[2])
print("Last Letter Is",name[5])
# Needed Output
# Second Letter Is "l"
# Third Letter Is "z"
# Last Letter Is "o"

Elzero
Second Letter Is l
Third Letter Is z
Last Letter Is o

In [ ]:
name = 'Elzero'

# Needed Output
# "lze"
# "Ezr"
# "rzE"

In [60]:
name = 'Elzero'
print(name[1:4])
print(name[0:5:2])
print(name[4:0:-2])

lze
Ezr
rz

In [63]:
XX

!
11
d
10
l
9
r
8
o
7
W
6

5
o
4
l
3
l
2
e
1
!dlroW olle

In [ ]:
def reverse(text):
    a = ""
    for i in range(1, len(text) + 1):
        a += text[len(text) - i]
    return a

print(reverse("Hello World!")) # prints: !dlroW olleH

In [2]:
def remove_letter(letter, name):
    u=""
    for i in name:
        if letter != i:
            u+=i
    return u
c=input("intet the letter:")
a=input("intet the word")
remove_letter(c,a)
print(remove_letter(c,a))

intet the letter:m
intet the wordman
an

In [ ]:
def counts (letters, word)



c=input("intet the letter:")
a=input("intet the word")
remove_letter(c,a)
print(counts(c,a))

In [10]:
name = "John"

print(name[0]) #first element
print(name[3]) #element with index 3
print(name[1,3,1]) #last element
print(name[len(name)-1]) #last element


first = name[0]
print("First: ", first)
print(len(name))

J
n

TypeError: string indices must be integers

In [11]:
s = "python rocks"
print(s[len(s)-5])

r

In [14]:
fruit = "Apple"
index=0

while index<len(fruit):
    letter=fruit[index]
    print(letter)
    index+=1

A
5
p
5
p
5
l
5
e
5

In [15]:
fruit="Apple"
for char in fruit:
    print(char)

A
p
p
l
e

In [17]:
fruit="apple"
print (fruit.upper())
    
fruit="APPLE"
print(fruit.lower())

APPLE
apple

In [18]:
fruit="Apple"
print(fruit.count("p"))

2

In [74]:
e = """gjkhfdslaklhsdfjkdsfhgggggg
"""

def countant(word, litter):
    t = 0
    for i in range(len(word)-1):

        if word[i]==litter:
            t+=1
        else:
            continue
    return t
g = str(input("Write the litter: "))
countant(e,g)

Write the litter: g

7

In [83]:
fruit="apple"
def count_occurences(a):
    counter=0
    for i in range(len(fruit)-1):
        if fruit[i]==a:
            counter+=1
    return counter
            
print(count_occurences("e"))

0

In [78]:
a = "apppppppppppple"
a.count("p")

12

In [82]:
_word="""dsajkfhgadjksdslaifewiorqrewpioyyturioq[wfdskmn bmnvxczx
ck.vewk;rlqyiotasd14138092652871-
123456987546231546897213sdqewdfasvcerqwtrweuiytropi][/.m,]!"""
def count(word,letter):
    t=0
    for i in range(len(_word)):
        if word[i]==letter:
            t+=1
    return t
x=input("Please enter the litter: ")
print(count(_word,x))

Please enter the litter: !
1

In [ ]:
_word="""dsajkfhgadjksdslaifewiorqrewpioyyturioq[wfdskmn bmnvxczx
ck.vewk;rlqyiotasd14138092652871-
123456987546231546897213sdqewdfasvcerqwtrweuiytropi][/.m,]!"""
def count(word,letter):
    t=0
    for i in range(len(_word)):
        if word[i]==letter:
            t+=1
    return t
x=input("Please enter the litter: ")
print(count(_word,x))

In [88]:
wordd="""
~~~```1243254365786980-0=
$#!@%$#&^%&*^%()_)(+)((*&*&^%^&%$%$@##@$!@!#))
qrwewterurytoyiup[oi][po';\m,./,mnbmvnbfdghtgsfdcxzvzxvca]
rqewtyretuyyuioopiui[po[p]o\';l;lkj'lkjhkjhghgjfhgfdgfsdfsdadfsa
vzxczvxcxbvncnmbvmnb,,.mn/.,m/.,]
213123132132213456546456654897798987
"""
def count(word,litter):
    t=0
    for i in range(len(word)):
        if word[i]==litter:
            t+=1
    return t
litterr=(input("Enter the litter: "))
print(count(wordd,litterr))

Enter the litter: ~
3

In [97]:
def find(word,letter):
    t=0
    for i in range(len(word)):
            if word[i]==letter:
                t+=1
            return t
    return -1 



print(find("Compsci", "p"))
print(find("Compsci", "C"))
print(find("Compsci", "i"))
print(find("Compsci", "x"))
print(find("Compsci", "9"))

0
1
0
0
0

In [98]:
def find(mystring, myletter):
    counter=0
    for char in mystring:
        if char==myletter:
            return counter
        counter+=1
    return -1
print(find("Compsci", "p"))
print(find("Compsci", "C"))
print(find("Compsci", "x"))

3
0
-1

In [104]:
def counter(word,letter):
    count=0
    for i in range(len(word)):
        if word==letter:
            return count
        count+=1
    return count
wordd="gaaiiiii"
letterr="i"
print(counter(wordd,letterr))

8

In [110]:
word = "banana"
index = word.find("a") 
index1 = word.find("nana") 
print (index) 
print (index1)

1
2

In [108]:
word = "banananananananana"
# index = word.find("a")
index1 = word.find('n')
# print (index)
print(index1)

2

In [115]:
print("Dog" < "Doghouse")
print("dog" < "Dog")
print("dog" < "doghouse")

True
False
True

In [130]:
# #1: Count number of letter â€œeâ€ in a string.

def count(word,letter):
    n=0
    for i in range(len(word)):
        if word[i]==letter:
                return n
        n+=1
    return -1
e="gie fsadee"
a="e"
print(count(e,a))
def count2(word):
    n=0
    for i in range (len(word)):
        if word[i]=="e":
            n+=1
    return n
print(count2(e))

2
3

In [154]:
#2: Slice string into 3 parts.
def slice(word):
    q = ""
    a = ""
    z = ""
#     for i in range(len(word)):
    q += word[0:int(len(word)/3)]
    a += word[int(len(word)/3):int(len(word)*2/3)]
    z += word[int(len(word)*2/3):int(len(word))]
    return q,a,z
print(slice("hallo world 123456"))

('hallo ', 'world ', '123456')

In [127]:
def countAndSum(word):
    sum = 0
    counter = 0
    for i in range(len(word)):
        if(word[i] >= '0' and word[i] <= '9'):
            counter = counter + 1
            sum = sum + int(word[i])
    print("Total number of digits is: ", counter)
    print("Sum of digits is: ", sum)
    
word = "hello 2w3orl910"
countAndSum(word)

Total number of digits is:  5
Sum of digits is:  15

In [144]:

i="fdhgjjsdhkfg"
print(i[3:6])
int(len(i)/3)

gjj

4

In [ ]:
# #4: Find index of letter â€œaâ€ in a string.
# #5: Find index of letter â€œaâ€ in a string starting at position 3.
# #6: Find a substring â€œchangeâ€ in a previous string.
# #7: Print all letters on even positions in a string.

# String: â€œThe only constant in the technology industry is change.â€
    
# #1: Write a function that will print the number of digits in an string and their sum.
# #2: Write a function that will return the number of digits in an integer.
# #3: Write a function that removes all occurrences off a given letter from a string.
# #4: Write a function that prints all letters from word1 that also appear in word2.
# #5: Write a function that mirrors its string argument,
# generating a string containing the original
# string and the string backwards. Example: GOOD -> GOODDOOG
# #6: Write a function that removes the first occurrence of a
# string from another string.
# #7: Write a function called â€œremove_duplicatesâ€ that takes a
# string and creates a new string
# by only adding those characters that are not already present.
# In other words, there will never be
# a duplicate element added to the new string.
# #8: Write a function that will change specified letter1 into letter2.
# Function definition should look similar to this: 
# def changeLetter(oldstringstring,letter1,letter2)
# #9: Write a function to check if a word is a palindrome or not

In [ ]:
# #3: Create a new string from the original one, with the following text: 
# â€œThe only constant in the technology industry is not change.â€

In [160]:
word="""â€œThe only constant in the technology industry is not change.â€"""
def copy(word):
    cop=""""""
    cop+=word
    return cop
print(copy(word))

TypeError: 'word' is an invalid keyword argument for int()

In [171]:
wo=12648
g=word.split("y")
print(g)

['â€œThe onl', ' constant in the technolog', ' industr', ' is not change.â€']

In [174]:
def power(a,b):
    if a==0:
        return a
    elif b==0:
        return 1
#     elif b==1:
#         return a
    else :
        return a*power(a,b-1)
a=int(input("Enter the number a:"))
b=int(input("Enter the number b:"))
print(power(a,b))

Enter the number a:0
Enter the number b:900
0

In [175]:
4*3*2*1

24

In [187]:
def sumDigits(n):
    if n<1:
        return 0
    else :
        return n%10 + sumDigits(n/10)
print(sumDigits(45))

9.5

In [184]:
5+3.5

8.5

In [183]:
35%10

5

In [186]:
5+

12.95

In [1]:
def countdown(n):
    print(n)
    if n == 0:
        return
    else:
        return countdown(n-1)


x = countdown(int(input("inter the nuber")))

inter the nuber2
2
1
0

In [6]:
def countdown(n):
    print(n)
    if n == 0:
        return 1
    else:
         countdown(n-1)
    

countdown(9)

9
8
7
6
5
4
3
2
1
0

In [25]:
def countdown(n):
    print(n)
    if n == 0:
        stop
    else:
         print('masr', n)
         countdown(n - 1)   # Recursive call

countdown(9)

9
masr 9
8
masr 8
7
masr 7
6
masr 6
5
masr 5
4
masr 4
3
masr 3
2
masr 2
1
masr 1
0

NameError: name 'stop' is not defined

In [ ]:
def bad_power(n, p):
    if p == 0:
        return 1
    else:
        return n * bad_power(n, p-1)


print(bad_power(3, 9))
print(3**9)

In [ ]:
def ya3m(n):
    if n <=0:
        return 1
    else:
        return n * ya3m(n-1)


print(ya3m(10))

print(10*9*8*7*6*5*4*3*2*1)

In [ ]:
def reverse(n):
    # print(n)
    if len(n) == 0:
        return n
    else:
        return reverse(n[1:]) + n[0]


a = 'maladafsd'
print(reverse(a))

In [ ]:
r = 5
v = 3.14
b = 4/3
d = b*v*r**3
print(d)

bp = 24.95*0.6*60
fin = 3+(0.75*59)+bp
print(fin)


easy_pace_min = 8*2
easy_pace_sec = 15*2
between_easy_pace_min = 7*3
between_easy_pace_sec = 12*3
total_sec = between_easy_pace_sec + easy_pace_sec
total_min = between_easy_pace_min + easy_pace_min
print("you will arrive after", total_min, "minutes and", total_sec, "second")


b = 3
s = 20
e = b*s
print(e)


Day_Name = (input("write the day number"))
if Day_Name == 0:
    print("sunday")
elif Day_Name == 1:
    print("monday")
elif Day_Name == 2:
    print("Tuesday")
elif Day_Name == 3:
    print("Wednesday")
elif Day_Name == 4:
    print("Thursday")
elif Day_Name == 5:
    print("Friday")
else:
    Day_Name == 6
    print("Saturday")


mark = float(input("Inter your grades "))

if mark >= 75:
    print("Your are the first")
elif mark >= 70:  # and mark < 75:
    print("Upper Second")
elif mark >= 60:  # and mark <= 70:
    print("Second")
elif mark >= 50:  # and mark < 60:
    print("Third")
elif mark >= 45:  # and mark < 50:
    print("F1 Supp")
elif mark >= 40:  # and mark < 45:
    print("F2")
else:
    print("F3")

help("keywords")
import math
import time
t0 = time.process_time()

number1 = int(input("Enter number 1: "))
number2 = int(input("Enter number 2: "))

t1 = time.process_time()

timee = t0-t1
print(t1)
import math
print(math.pi)
import math

import random
print(dir(random))
import math
from random import randint
# for i in range(1, 100):
print(f"{randint(1, 100)}")
print(dir(math))
x1 = int(input("Enter x1"))
x2 = int(input("Enter x2"))
y1 = int(input("Enter y1"))
y2 = int(input("Enter y2"))
to = math.sqrt(math.pow(abs(y2-y1), 2)+pow(abs(x2-x1), 2))
print(to)
import random
print(dir(random))

In [6]:
def gcd(a, b):
    a, b = b % a, a
    if a == 0:
        return b
    else:
        return gcd(a, b)

print(gcd(42, 28))

14

In [3]:
def magalishm5besababo(a, b):
    b, a = a % b, a
    if a == 0:
        return a
    else:
        return magalishm5besababo(a,b)
    
    
print(magalishm5besababo(150, 50))

ZeroDivisionError: integer division or modulo by zero

In [4]:
def yaman(a, b):
    a, b = b % a, a
    if a == 0:
        return b
    else: 
        return yaman(a,b)
    
    
print(yaman(10, 3))

1

In [5]:
def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)
number = 14

print('Fibonacci sequence:')
for i in range(number):
    print(fibonacci(i))

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34
55
89
144
233

In [9]:
def countdown(n):
    if n>0:
        print(n)
    if n <= 0:
        return 1
    else:
        return countdown(n-2)
    
    
countdown(9)

9
7
5
3
1

1

In [ ]:
def fibo(n):
    if n <= 1:
        return n
    else:
        return fibo(n - 1) + fibo(n - 2)


m = 14
for i in range(m):
    print(fibo(i))

In [11]:
def count(n):
    if n > 0:
        print(n)
    if n <= 0:
        return 1
    else:
        return count(n-2)
    
    
count(9)

9
7
5
3
1

1

In [21]:
def badpower(n, p):
    if p == 0:
        return 1
    else:
        return n * badpower(n, p - 1)
    
    
print(badpower(3, 3))

27

In [27]:
def al5ra(n):
    if n<=1:
        return n
    else:
        return al5ra(n-1) + al5ra(n-2)
        
        
number = 14
for i in range(0, number):
    print(al5ra(i))

0
1
1
2
3
5
8
13
21
34
55
89
144
233

In [37]:
word = input("Enter the word:")
z = ""
for q in word:
    z = z + q
print(z)

Enter the word:hallo
hallo

In [4]:
word = input("Input a word to reverse: ")

for char in range(len(word)-1, -1, -1):
  print(word[char], end="")
print("\n")

Input a word to reverse: hallo
ollah

In [5]:
def reverse(str):
    string = " "
    for i in str:
        string = i + string
    return string
str = "PythonGuides"
print("The original string is:",str)
print("The reverse string is:", reverse(str))

The original string is: PythonGuides
The reverse string is: sediuGnohtyP

In [8]:
a=int(input("ENTER THE WORD : "))

while(a>=1):

    b=a%10

    print(int(b),end="")

    a=a/10

s=input("ENTER THE WORD : ")   

print(s[::-1])

ENTER THE WORD : 36987
78963ENTER THE WORD : nkl;njnk
knjn;lkn

In [10]:
row_num = int(input("Input number of rows: "))
col_num = int(input("Input number of columns: "))
multi_list = [[0 for col in range(col_num)] for row in range(row_num)]

for row in range(row_num):
    for col in range(col_num):
        multi_list[row][col]= row*col

print(multi_list)

Input number of rows: 5
Input number of columns: 6
[[0, 0, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5], [0, 2, 4, 6, 8, 10], [0, 3, 6, 9, 12, 15], [0, 4, 8, 12, 16, 20]]

In [11]:
row_num = int(input("Input number of rows: "))
col_num = int(input("Input number of columns: "))
multi_list = [[0 for col in range(col_num)] for row in range(row_num)]

for row in range(row_num):
    for col in range(col_num):
        multi_list[row][col]= row*col

print(multi_list)

Input number of rows: 3
Input number of columns: 5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [12]:
m=int(input("Row:"))
n=int(input("Column:"))
matrix=[[0 for col in range(n)] for row in range(m)]
for row in range(m):
    for col in range(n):
        matrix[row][col]=row*col
print(matrix)

Row:4
Column:5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8], [0, 3, 6, 9, 12]]

In [ ]:
rows, cols = (5, 5)
arr = [[0]*cols]*rows

arr[0][0] = 1
 
for row in arr:
    print(row)

arr = [[0 for i in range(cols)] for j in range(rows)]

for row in arr:
    print(row)

In [ ]:
m=int(input("ENTER THE ROWS : "))

n=int(input("ENTER THE COLUMNS : "))

for i in range(1,m+1):

     for j in range(1,n+1):

         print(i*j,end="  ")

     print("\n")

In [17]:
0*0.5/2

0.0

In [20]:
row_num = int(input("Input number of rows: "))  
col_num = int(input("Input number of columns: "))  
multi_list = [[0 for col in range(col_num)] for row in range(row_num)]  
for row in range(row_num):  
    for col in range(col_num):  
        multi_list[row][col]= row*col  
print(multi_list)

Input number of rows: 20
Input number of columns: 4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6], [0, 3, 6, 9], [0, 4, 8, 12], [0, 5, 10, 15], [0, 6, 12, 18], [0, 7, 14, 21], [0, 8, 16, 24], [0, 9, 18, 27], [0, 10, 20, 30], [0, 11, 22, 33], [0, 12, 24, 36], [0, 13, 26, 39], [0, 14, 28, 42], [0, 15, 30, 45], [0, 16, 32, 48], [0, 17, 34, 51], [0, 18, 36, 54], [0, 19, 38, 57]]

In [22]:
row_num = int(input("Input number of rows: "))  
col_num = int(input("Input number of columns: "))  
multi_list = [[0 for col in range(col_num)] for row in range(row_num)]
print(multi_list)

Input number of rows: 5
Input number of columns: 5
[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [14]:
5 > 2

True

In [61]:
m = int(input("Enter the number of rows:"))
n = int(input("Enter the number of cowms:"))
for i in range(0, m+1):
    for j in range(0, n+1):
        print(j*i, end=" ")
    print()

Enter the number of rows:3
Enter the number of cowms:4
0 0 0 0 0
0 1 2 3 4
0 2 4 6 8
0 3 6 9 12

In [20]:
name=input("enter the string")
count=0
for i in name:
    if i.isupper():
        count=count+1
print("The number of capital letters found in the string is:",count)

enter the string829482H
The number of capital letters found in the string is: 1

In [33]:

    
print(countdi, countup, countlw, countsp)

enter the string54678dfghjkvbnfgd@
5 0 12 1

In [ ]:

x = input("Enter the password here:")
sp = "$#@"
countdi = 0
countup = 0
countsp = 0
countlw = 0
for i in x:
    if i.isdigit:
        countdi += 1
    elif i.isupper():
        countup += 1
    elif i.islower():
        countlw += 1
    elif i in sp:
        countsp += 1
    else:
        pass
if countdi > 0:
    if countup > 0:
        if countlw > 0:
            if countsp > 0:
                if len(x) => 6:
                    if len(x) <= 16:
                        print("your password is correct")
                    else:
                        print("length of password must be less than 17")
                else:
                    print("length of password must be grader than 5")
            else:
                print("you must add one special character in your password")
        else:
            print("you must add one small letter in your password")
    else:
        print("you must add one capital letter in your password")
else:
    print("you must add one digit in your password")

In [47]:
item = []
for i in range(100, 401):
    k = str(i)
    if int(k[0]) % 2 == 0 and int(k[1]) % 2 == 0 and int(k[2]) % 2 == 0:
        item.append(k)
    else:
        continue

print(",".join(item))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [39]:
items = []
for i in range(100, 401):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0):
        items.append(s)
print( ",".join(items))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [49]:
item = []
for i in range(100, 401):
    k = str(i)
    if int(k[0]) % 2 == 0 and int(k[1]) % 2 == 0 and int(k[2]) % 2 == 0:
        item.append(k)
    else:
        pass
print(",".join(item))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [52]:
for i in range(4, 23):
    if i%5==0:
        continue
    elif i==20:
        break
        print(i)

In [53]:
days = int(input("Enter the number of days:"))
prince = int(input("Enter the number of prince:"))
persons = int(input("Enter the number of persons:"))

cost = (days*prince)*persons

print(cost)

Enter the number of days:3
Enter the number of prince:3
Enter the number of persons:3
27

In [56]:
import random

i = random.randrange(1, 50)

print(i)
print(i + 5)

5
10

In [57]:
i = 8
while i < 64:
    if i % 2 == 1:
        print(i)
        i += 1
    else:
        i += 1

9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63

In [65]:
m = int(input("Enter the number of rows:"))
n = int(input("Enter the number of column:"))
for i in range(0, m+1):
    for j in range(0, n+1):
        print(j*i, end=" ")
    print()

Enter your born year1950
Tiger	è™ (hÇ”)

In [ ]:
m = int(input("Enter the number of rows:"))
n = int(input("Enter the number of column:"))
for i in range(0, m+1):
    for j in range(0, n+1):
        print(j*i, end=" ")
    print()

In [ ]:
x = input("Enter your born year")

if x in ("1924, 1936, 1948, 1960, 1972, 1984, 1996, 2008, 2020, 2032"):
    print("Rat	é¼  (shÇ”)")
elif x in ("1925, 1937, 1949, 1961, 1973, 1985, 1997, 2009, 2021, 2033"):
    print("Ox	ç‰› (niÃº)")
elif x in ("1926, 1938, 1950, 1962, 1974, 1986, 1998, 2010, 2022, 2034"):
    print("Tiger	è™ (hÇ”)")
elif x in ("1927, 1939, 1951, 1963, 1975, 1987, 1999, 2011, 2023, 2035"):
    print("Rabbit	å…” (tÃ¹)")
elif x in ("1928, 1940, 1952, 1964, 1976, 1988, 2000, 2012, 2024, 2036"):
    print("Dragon	é¾™ (lÃ³ng)")
elif x in ("1929, 1941, 1953, 1965, 1977, 1989, 2001, 2013, 2025, 2037"):
    print("Snake	è›‡ (shÃ©)")
elif x in ("1930, 1942, 1954, 1966, 1978, 1990, 2002, 2014, 2026, 2038"):
    print("Horse	é©¬ (mÇ) ")
elif x in ("1931, 1943, 1955, 1967, 1979, 1991, 2003, 2015, 2027, 2039"):
    print("Sheep	ç¾Š (yÃ¡ng)")
elif x in ("1932, 1944, 1956, 1968, 1980, 1992, 2004, 2016, 2028, 2040"):
    print("Monkey	çŒ´ (hÃ³u)")
elif x in ("1933, 1945, 1957, 1969, 1981, 1993, 2005, 2017, 2029, 2041"):
    print("Rooster	é¸¡ (jÄ«)")
elif x in ("1934, 1946, 1958, 1970, 1982, 1994, 2006, 2018, 2030, 2042"):
    print("Dog	ç‹— (gÇ’u)")
elif x in ("1935, 1947, 1959, 1971, 1983, 1995, 2007, 2019, 2031, 2043"):
    print("Pig	çŒª (zhÅ«)")

In [69]:
o = int(input("Enter the opposite:"))
h = int(input("Enter the hypotenuse:"))
a = int(input("Enter the adjacent:"))
if o == h == a:
    print("The triangle is the equilateral triangle")
elif o == h or h == a or o == a:
    print("The triangle is the scalene triangle")
elif o != h and h != a and o != a:
    print("The triangle is the isosceles triangle")

Enter the opposite:2
Enter the hypotenuse:3
Enter the adjacent:4
The triangle is the isosceles triangle

In [72]:
n = 123456789
m = 0
while n != 0:
    m = (10 * m) + (n % 10)
    n //= 10

print(m)
print("n is", n)

987654321
n is 0

In [73]:
def combo_sting(st1, st2):
    if len(st1)>len(st2):
        return st2 + st1 + st2
    elif len(st2)>len(st1):
        return st1 + st2 + st1
    else:
        return st1 + st2 + st1
print(combo_sting("Hello" ,"hi"))
print(combo_sting("hi" ,"Hello"))
print(combo_sting("aaa" ,"b"))

hiHellohi
hiHellohi
baaab

In [75]:

n = 123456789
m = 0
while n != 0:
    m = (10 * m) + (n % 10)
    n //= 10
print("n is",n,"m is",m)

n is 0 m is 987654321

In [77]:
n == 200
print(n // 3)

0

In [ ]:
""""Task #1"""
for i in range(6, 0, -1):
    for j in range(i, 6):
        print(" ", end="")
    for k in range(0, i):
        print("* ", end="")
    print()
# -----------------------------------------------------------------------
"""Task #1 second solution"""
print("-"*15)
for i in range(6, 0, -1):
    x = "* "*i
    print(x.center(12))
# -----------------------------------------------------------------------
"""Task #2"""
print("-"*15)
for i in range(0, 1):
    for m in range(0, 6):
        print("* "*m)
    for k in range(4, 0, -1):
        print("* "*k)
# -----------------------------------------------------------------------
"""Task #3"""
print("-"*15)
z = ""
word = input("Enter the word:")
for q in word:
    z = q + z
print(z)
# -----------------------------------------------------------------------
"""Task #3 second solution"""
print("-"*15)
x = input("Enter the word:")


def reverse(word):
    if len(word) == 1:
        return word[0]
    else:
        return reverse(word[1:]) + word[0]


print(reverse(x))
# -----------------------------------------------------------------------
"""Task #4"""
print("-"*15)
m = int(input("Enter the number of rows:"))
n = int(input("Enter the number of column:"))
for i in range(0, m+1):
    for j in range(0, n+1):
        print(j*i, end=" ")
    print()
# -----------------------------------------------------------------------
"""Task #5"""
print("-"*15)
x = input("Enter the string:")
l = "qwertyuioplkjhgfdsazxcvbnm"
Int = "1234567890"
count_int = 0
count_str = 0
for i in x:
    if i in Int:
        count_int += 1
    elif i.upper() in l.upper():
        count_str += 1
    else:
        continue

print("number of letter is:", count_str, "number of digits is:", count_int)
# -----------------------------------------------------------------------
"""Task #6"""
print("-"*15)
x = input("Enter the password here:")
sp = "$#@"
countdi = 0
countup = 0
countsp = 0
countlw = 0
for i in x:
    if i.isupper():
        countup += 1
    elif i.isdigit():
        countdi += 1
    elif i.islower():
        countlw += 1
    elif i in sp:
        countsp += 1
    else:
        pass

if countdi > 0:
    if countup > 0:
        if countlw > 0:
            if countsp > 0:
                if len(x) >= 6:
                    if len(x) <= 16:
                        print("your password is correct")
                    else:
                        print("length of password must be less than 17")
                else:
                    print("length of password must be grader than 5")
            else:
                print("you must add one special character in your password")
        else:
            print("you must add one small letter in your password")
    else:
        print("you must add one capital letter in your password")
else:
    print("you must add one digit in your password")
# -----------------------------------------------------------------------
"""Task #7"""
print("-"*15)
item = []
for i in range(100, 401):
    k = str(i)
    if int(k[0]) % 2 == 0 and int(k[1]) % 2 == 0 and int(k[2]) % 2 == 0:
        item.append(k)
    else:
        pass
print(",".join(item))
# -----------------------------------------------------------------------
"""Task #8"""
print("-"*15)
x = input("Enter your born year")

if x in ("1924, 1936, 1948, 1960, 1972, 1984, 1996, 2008, 2020, 2032"):
    print("Rat	é¼  (shÇ”)")
elif x in ("1925, 1937, 1949, 1961, 1973, 1985, 1997, 2009, 2021, 2033"):
    print("Ox	ç‰› (niÃº)")
elif x in ("1926, 1938, 1950, 1962, 1974, 1986, 1998, 2010, 2022, 2034"):
    print("Tiger	è™ (hÇ”)")
elif x in ("1927, 1939, 1951, 1963, 1975, 1987, 1999, 2011, 2023, 2035"):
    print("Rabbit	å…” (tÃ¹)")
elif x in ("1928, 1940, 1952, 1964, 1976, 1988, 2000, 2012, 2024, 2036"):
    print("Dragon	é¾™ (lÃ³ng)")
elif x in ("1929, 1941, 1953, 1965, 1977, 1989, 2001, 2013, 2025, 2037"):
    print("Snake	è›‡ (shÃ©)")
elif x in ("1930, 1942, 1954, 1966, 1978, 1990, 2002, 2014, 2026, 2038"):
    print("Horse	é©¬ (mÇ) ")
elif x in ("1931, 1943, 1955, 1967, 1979, 1991, 2003, 2015, 2027, 2039"):
    print("Sheep	ç¾Š (yÃ¡ng)")
elif x in ("1932, 1944, 1956, 1968, 1980, 1992, 2004, 2016, 2028, 2040"):
    print("Monkey	çŒ´ (hÃ³u)")
elif x in ("1933, 1945, 1957, 1969, 1981, 1993, 2005, 2017, 2029, 2041"):
    print("Rooster	é¸¡ (jÄ«)")
elif x in ("1934, 1946, 1958, 1970, 1982, 1994, 2006, 2018, 2030, 2042"):
    print("Dog	ç‹— (gÇ’u)")
elif x in ("1935, 1947, 1959, 1971, 1983, 1995, 2007, 2019, 2031, 2043"):
    print("Pig	çŒª (zhÅ«)")
# -----------------------------------------------------------------------
"""Task #9"""
print("-"*15)
o = int(input("Enter the opposite:"))
h = int(input("Enter the hypotenuse:"))
a = int(input("Enter the adjacent:"))
if o == h == a:
    print("The triangle is the equilateral triangle")
elif o == h or h == a or o == a:
    print("The triangle is the scalene triangle")
elif o != h or h != a or o != a:
    print("The triangle is the isosceles triangle")
# -----------------------------------------------------------------------
"""Task #10"""
print("-"*15)






# -----------------------------------------------------------------------
"""Task #17 string"""
print("-"*15)
def combo_sting(st1, st2):
    if len(st1)>len(st2):
        return st2 + st1 + st2
    elif len(st2)>len(st1):
        return st1 + st2 + st1
    else:
        return st1 + st2 + st1
print(combo_sting("Hello", "hi"))
print(combo_sting("hi", "Hello"))
print(combo_sting("aaa", "b"))

In [5]:
book = 24.95 * 60 *0.6
chipping = 3 + 0.75*59

print(book + chipping)

945.4499999999999

In [3]:
shipping = 1*3 + 59*0.75
book_cost = 60 * 24.95 * 0.6
total_cost = shipping + book_cost
print("Your total cost is: ", total_cost)

Your total cost is:  945.4499999999999

In [8]:
height = 3.5
width = 2.3

print(height * width)

8.049999999999999

In [23]:
# p = 
x = 8+2j
print(type(x))
print(x)

<class 'complex'>
(8+2j)

In [25]:
16 - 2 * 5 / 3 + 1

13.666666666666666

In [27]:
print('I love {0} and {1}'.format('bread','butter'))

I love bread and butter

In [32]:
x = -9

if x<0:
    print("The nigative number", x," is not valid here.")
    x = 42
    print("I've decided to use the number 42 instead.")
print("The square root of ", x,"is", x**0.5)

The nigative number -9  is not valid here.
I've decided to use the number 42 instead.
The square root of  42 is 6.48074069840786

In [44]:
if x < y:
    print("x is less than y")
else:
    if x > y:
        print("x is greater than y")
    else:
        print("x and y must be equal")

x and y must be equal

In [45]:
i = 0
while i < 6:
    i += 1
    if i%3 == 0:
        continue
    print(i)

1
2
4
5

In [50]:
import math
i = int(input("Enter the radui"))
a = i**2 * math.pi *0.5
print(a)

Enter the radui4
25.132741228718345

In [52]:
import random
i = random.randrange(1, 100)
print(i*10)

780

In [68]:
import math
x1 = int(input("Enter position of x1: "))
x2 = int(input("Enter position of x2: "))
y1 = int(input("Enter position of y1: "))
y2 = int(input("Enter position of y2: "))
distance=math.sqrt(math.pow((y2-y1),2)+math.pow((x2-x1),2))
print(distans)

Enter position of x1: 4
Enter position of x2: 9
Enter position of y1: 1
Enter position of y2: 2
5.0990195135927845

In [69]:
import math

x1=int(input("Enter x coordinate of first point: "))
x2=int(input("Enter x coordinate of second point: "))
y1=int(input("Enter y coordinate of first point: "))
y2=int(input("Enter y coordinate of second point: "))

distance=math.sqrt(math.pow((y2-y1),2) + math.pow((x2-x1),2))
print(distance)

Enter x coordinate of first point: 4
Enter x coordinate of second point: 9
Enter y coordinate of first point: 1
Enter y coordinate of second point: 2
5.0990195135927845

In [84]:
import random
x=0
for i in range(100):
    n = random.randrange(1,100000)
    if n == 10:
        x+=1
print(x)

0

In [ ]:
""""Task #1"""
for i in range(6, 0, -1):
    for j in range(i, 6):
        print(" ", end="")
    for k in range(0, i):
        print("* ", end="")
    print()
#-----------------------------------------------------------------------
"""Task #1 second solution"""
print("-"*15)
# Can I use those things we took after the midterm in the midterm??
for i in range(6, 0, -1):
    x = "* "*i
    print(x.center(12))
# -----------------------------------------------------------------------
"""Task #2"""
# Can I use those things we took after the midterm in the midterm??
# Is this solution enough.
print("-"*15)
for i in range(0, 1):
    for m in range(0, 6):
        print("* "*m)
    for k in range(4, 0, -1):
        print("* "*k)
#-----------------------------------------------------------------------
"""Task #3"""
print("-"*15)
z = ""
word = input("Enter the word:")
for q in word:
    z = q + z
print(z)
#-----------------------------------------------------------------------
"""Task #3 second solution"""
# Can I use those things we took after the midterm in the midterm??
print("-"*15)
x = input("Enter the word:")
def reverse(word):
    if len(word) == 1:
        return word[0]
    else:
        return reverse(word[1:]) + word[0]
print(reverse(x))
#------------------

In [85]:
import random

count=0
for i in range(100):
    rand_number=random.randint(1,100000)
    if rand_number==10:
        count+=1
        
print("Number 10 has been repeated ", count, "times")

Number 10 has been repeated  0 times

In [97]:
k=0
for i in range(5, 0, -1):
    k+=1
    for g in range(1,i+1):
            print(k,"" , end="")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [96]:
rows = 6
# if you want user to enter a number, you would add the following line
# rows = int(input('Enter the number of rows'))

for i in range(rows):
    for j in range(i):
        for in
            print(i, end=' ')
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [122]:
for i in range(6):
    q = i
    z = 0
    for l in range(i,6):
        while z<=5:
            print(q, end=" ")
            z+=1
            if q < 5:
                q +=1 
    print()

0 1 2 3 4 5
1 2 3 4 5 5
2 3 4 5 5 5
3 4 5 5 5 5
4 5 5 5 5 5
5 5 5 5 5 5

In [126]:
j = 0
for i in range(0, 10):
    j += i
print(j)
print(1+2+3+4+5+6+7+8+9)

45
45

In [134]:
j = 1
for i in range(0, 10):
    j += j
print(j)
print(512+512)

1024
1024

In [135]:
for j in range(0, 10):
    j += j
print(j)

18

In [5]:
def hallo(name):
    y= "hallo "+ name
    return y
    
print(hallo("ahmed"))
print("hi")

hallo ahmed
hi

In [10]:
hi="man hi"

for letter in enumerate(hi):
    print(index,end="")
print()
for index,letter in enumerate(hi):
    print(letter, end="")

555555
man hi

In [17]:
def fint(i,e,a=0):
    for index,letter in enumerate(i[a:]):
        if letter==e:
            return index
     
    
man="jsadhg"
fint(man,"a")

2

In [ ]:
""""Task #1"""
for i in range(6, 0, -1):
    for j in range(i, 6):
        print(" ", end="")
    for k in range(0, i):
        print("* ", end="")
    print()
# -----------------------------------------------------------------------
"""Task #1 second solution"""
print("-" * 15)
for i in range(6, 0, -1):
    x = "* " * i
    print(x.center(12))
# -----------------------------------------------------------------------
"""Task #2"""
print("-" * 15)
for i in range(0, 1):
    for m in range(0, 6):
        print("* " * m)
    for k in range(4, 0, -1):
        print("* " * k)
# -----------------------------------------------------------------------
"""Task #3"""
print("-" * 15)
z = ""
word = input("Enter the word:")
for q in word:
    z = q + z
print(z)
# -----------------------------------------------------------------------
"""Task #3 second solution"""
print("-" * 15)
x = input("Enter the word:")


def reverse(word):
    if len(word) == 1:
        return word[0]
    else:
        return reverse(word[1:]) + word[0]


print(reverse(x))
# -----------------------------------------------------------------------
"""Task #4"""
print("-" * 15)
m = int(input("Enter the number of rows:"))
n = int(input("Enter the number of column:"))
for i in range(0, m + 1):
    for j in range(0, n + 1):
        print(j * i, end=" ")
    print()
# -----------------------------------------------------------------------
"""Task #5"""
print("-" * 15)
x = input("Enter the string:")
l = "qwertyuioplkjhgfdsazxcvbnm"
Int = "1234567890"
count_int = 0
count_str = 0
for i in x:
    if i in Int:
        count_int += 1
    elif i.upper() in l.upper():
        count_str += 1
    else:
        continue

print("number of letter is:", count_str, "number of digits is:", count_int)
# -----------------------------------------------------------------------
"""Task #6"""
print("-" * 15)
x = input("Enter the password here:")
sp = "$#@"
countdi = 0
countup = 0
countsp = 0
countlw = 0
for i in x:
    if i.isupper():
        countup += 1
    elif i.isdigit():
        countdi += 1
    elif i.islower():
        countlw += 1
    elif i in sp:
        countsp += 1
    else:
        pass

if countdi > 0:
    if countup > 0:
        if countlw > 0:
            if countsp > 0:
                if len(x) >= 6:
                    if len(x) <= 16:
                        print("your password is correct")
                    else:
                        print("length of password must be less than 17")
                else:
                    print("length of password must be grader than 5")
            else:
                print("you must add one special character in your password")
        else:
            print("you must add one small letter in your password")
    else:
        print("you must add one capital letter in your password")
else:
    print("you must add one digit in your password")
# -----------------------------------------------------------------------
"""Task #7"""
print("-" * 15)
item = []
for i in range(100, 401):
    k = str(i)
    if int(k[0]) % 2 == 0 and int(k[1]) % 2 == 0 and int(k[2]) % 2 == 0:
        item.append(k)
    else:
        pass
print(",".join(item))
# -----------------------------------------------------------------------
"""Task #8"""
print("-" * 15)
x = input("Enter your born year")

if x in "1924, 1936, 1948, 1960, 1972, 1984, 1996, 2008, 2020, 2032":
    print("Rat	é¼  (shÇ”)")
elif x in "1925, 1937, 1949, 1961, 1973, 1985, 1997, 2009, 2021, 2033":
    print("Ox	ç‰› (niÃº)")
elif x in "1926, 1938, 1950, 1962, 1974, 1986, 1998, 2010, 2022, 2034":
    print("Tiger	è™ (hÇ”)")
elif x in "1927, 1939, 1951, 1963, 1975, 1987, 1999, 2011, 2023, 2035":
    print("Rabbit	å…” (tÃ¹)")
elif x in "1928, 1940, 1952, 1964, 1976, 1988, 2000, 2012, 2024, 2036":
    print("Dragon	é¾™ (lÃ³ng)")
elif x in "1929, 1941, 1953, 1965, 1977, 1989, 2001, 2013, 2025, 2037":
    print("Snake	è›‡ (shÃ©)")
elif x in "1930, 1942, 1954, 1966, 1978, 1990, 2002, 2014, 2026, 2038":
    print("Horse	é©¬ (mÇ) ")
elif x in "1931, 1943, 1955, 1967, 1979, 1991, 2003, 2015, 2027, 2039":
    print("Sheep	ç¾Š (yÃ¡ng)")
elif x in "1932, 1944, 1956, 1968, 1980, 1992, 2004, 2016, 2028, 2040":
    print("Monkey	çŒ´ (hÃ³u)")
elif x in "1933, 1945, 1957, 1969, 1981, 1993, 2005, 2017, 2029, 2041":
    print("Rooster	é¸¡ (jÄ«)")
elif x in "1934, 1946, 1958, 1970, 1982, 1994, 2006, 2018, 2030, 2042":
    print("Dog	ç‹— (gÇ’u)")
elif x in "1935, 1947, 1959, 1971, 1983, 1995, 2007, 2019, 2031, 2043":
    print("Pig	çŒª (zhÅ«)")
# -----------------------------------------------------------------------
"""Task #9"""
print("-" * 15)
o = int(input("Enter the opposite:"))
h = int(input("Enter the hypotenuse:"))
a = int(input("Enter the adjacent:"))
if o == h == a:
    print("The triangle is the equilateral triangle")
elif o == h or h == a or o == a:
    print("The triangle is the scalene triangle")
elif o != h or h != a or o != a:
    print("The triangle is the isosceles triangle")
# -----------------------------------------------------------------------
"""Task #10"""
print("-" * 15)

# -----------------------------------------------------------------------
"""Task #17 'string' """
print("-" * 15)


def combo_sting(st1, st2):
    if len(st1) > len(st2):
        return st2 + st1 + st2
    elif len(st2) > len(st1):
        return st1 + st2 + st1
    else:
        return st1 + st2 + st1


print(combo_sting("Hello", "hi"))
print(combo_sting("hi", "Hello"))
print(combo_sting("aaa", "b"))

In [130]:
# for i in range(6,1,-1):#6,5,4,3,2,1
def triangle(n):
    for k in range(n,0,-1):
        print(("* "*k).center(n*2))

triangle(6)
#     print()

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [132]:
def hi(n):
    for i in range(1, 2):
        for k in range(1, n+1):
            print("* " *k)
        for l in range(k-1, 0, -1):
            print("* "*l)
hi(10)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [43]:
for i in range(8,0,-1):
    print(("* "*i).center(16))

* * * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [ ]:
def reverse(m):
    if len(m)==0:
        reverse(m)
    return m[-1]+reverse(m)
    
    
reverse("hallo world")

In [133]:
word = input("Enter the word here:")
def reverse(word):
    for i in range (len(word)-1,-1,-1):
        print(word[i], end="")
reverse(word)

Enter the word here:khsalg21
12glashk

In [12]:
m=int(input("Enter the number of rows"))
n=int(input("Enter the number of column"))
for i in range(1, m+1):
    if i > 1:
        print()
    for j in range(1, n+1):
        print(j*i,end=" ")

Enter the number of rows4
Enter the number of column4
1 2 3 4
2 4 6 8
3 6 9 12
4 8 12 16

In [16]:
word = input("Enter any sentance")
number_digits = 0
number_string = 0
for i in word:
    if i.isalpha():
        number_string +=1
    elif i.isdigit():
        number_digits +=1
    else:
        pass
    
print(number_string, number_digits)

Enter any sentanceasdgasdfg123
9 3

In [23]:
pas = input("Enter the password: ")
count_small = 0
count_capital = 0
count_spetial_character = 0
count_digit = 0
for i in pas:
    if i.isupper():
        count_capital += 1
    elif i.islower():
        count_small += 1
    elif i.isdigit():
        count_digit += 1
    elif i in ("$#@"):
        count_spetial_character += 1
    else:
        continue

        
if count_digit > 0 and count_spetial_character > 0 and count_capital > 0 and count_small > 0 and len(pas) > 7 and len(pas) < 17:
    print("dobro")
else:
    print("nije dobro")

Enter the password: 1qA@safd
dobro

In [32]:
a = int(input("Enter the first side from the triangle: "))
b = int(input("Enter the second side from the triangle: "))
c = int(input("Enter the third side from the triangle: "))
if a == b and a==c:#we shouldn't write b == c because both are equal And therefore equal
    print("This is an equilateral triangle")
elif a != b and a != c and b != c:
    print("This is a scalene triangle")
elif a == b:
    print("This is an isosceles triangle")
else:
    print("out of the range")

Enter the first side from the triangle: 3
Enter the second side from the triangle: 3
Enter the third side from the triangle: 3
This is an equilateral triangle

In [38]:
n = 123456789
print(n // 10000)

12345

In [53]:
first = int(input("Enter the first number: "))
second = int(input("Enter the second number: "))
for i in range (0,second):
    x = i * first
    print(first,"X",i ,"=", x)

Enter the first number: 6
Enter the second number: 3
6 X 0 = 0
6 X 1 = 6
6 X 2 = 12

In [52]:
a, b, c = 0, 0, 0
for a in range(0,10):
        for b in range(0,10):
            for c in range(0,10):
                print(a, b, c,sep="")

000
001
002
003
004
005
006
007
008
009
010
011
012
013
014
015
016
017
018
019
020
021
022
023
024
025
026
027
028
029
030
031
032
033
034
035
036
037
038
039
040
041
042
043
044
045
046
047
048
049
050
051
052
053
054
055
056
057
058
059
060
061
062
063
064
065
066
067
068
069
070
071
072
073
074
075
076
077
078
079
080
081
082
083
084
085
086
087
088
089
090
091
092
093
094
095
096
097
098
099
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999

In [69]:
i = "done"
y = 0
x = 0
while x != i:
    x = input("Enter numbers: ")
    if x != i:
        y += int(x)
    elif x == i:
        break
    
print(y)

Enter numbers: 9
Enter numbers: 6
Enter numbers: 3
Enter numbers: done
18

In [70]:
x = 0
y = 0
i = "done"
while x != i:
    x = input("Enter the numbers: ")
    if x != i:
        y += int(x)
    elif x == i:
        break
    else:
        continue
        
        
print(y)

Enter the numbers: 5
Enter the numbers: 3
Enter the numbers: 1
Enter the numbers: 1
Enter the numbers: 1
Enter the numbers: done
11

In [73]:
x = int(input("Enter the number: "))
y = 1
for i in range(1, x+1):
    y *=i

print(y)

Enter the number: 4
24

In [74]:
j = 0
for i in range(1, 11):
    x = input("Enter the number: ")
    j += int(x)
    
print("The avarage is", j/10, "and the sum of numbers is", j)

Enter the number: 10
Enter the number: 20
Enter the number: 30
Enter the number: 1
Enter the number: 2
Enter the number: 3
Enter the number: 1
Enter the number: 2
Enter the number: 3
Enter the number: 1
The avarage is 7.3 and the sum of numbers is 73

In [76]:
odd = 0
even = 0 
x = int(input("Enter the number"))
for i in range(0, x+1):
    if i % 2 == 0:
        even += i
    else:
        odd += i
        
print(even/odd)

Enter the number6
1.3333333333333333

In [84]:
r = 5
k = "1"
m = "0"
for i in range(1, r+1):
    for j in range(1, i+1):
        print(k*i, sep=m,end="")
    print()

1
1111
111111111
1111111111111111
1111111111111111111111111

In [99]:
for i in range(1, 6):
    for k in range(i):
        print((i+k)%2, end="")
    print()

1
01
101
0101
10101

In [100]:
x = int(input("Enter the number"))
o = 0
for i in range(1,x):
    for j in range(1,i):
        if i%j == 0:
            x+=1
        elif:
            pass
        for k in range()

SyntaxError: invalid syntax (2029409535.py, line 7)

In [102]:
n=int(input("Enter a number"))

for i in range (1,n+1,):

    if(i**0.5%2==0):

        print(i)

Enter a number100
4
16
36
64
100

In [126]:
def isPerfect(N):
    sumOfDivisors = 1;
    for i in range(2, int(N / 2) + 1):
        if (N % i == 0):
            sumOfDivisors += i;
    if (sumOfDivisors == N):
#         return N
        print(N)

    else:
        return
#         return print("hi",end="")

for i in range(100):
    print(isPerfect(i))

None
1
None
None
None
None
None
6
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
28
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None
None

In [146]:
def lower_n_letters(q, n):
    y= q[0:int(n)]
    return y.lower()+q[n+1:]
lower_n_letters('W3RESOURCE.COM', 4) #-> w3reSOURCE.COM

'w3reOURCE.COM'

In [139]:
q="jghdfijhgjkf"
print(q[0:7])

jghdfij

In [156]:
def rectangle(n):
    for k in range(n, 0, -1):
        print(("* "*k).center(n*2))
rectangle(6)

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [171]:
def rectangle(n):
     for k in range(0, 1):#does not make any thing only nested
        for i in range(1, n+1):
            print(("* "*i))
        for j in range(n-1, 0, -1):
            print("* "*j)
            
rectangle(6)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [175]:
def reverse(word):
    for i in range(len(word)-1, -1, -1):
        print(word[i], end="")
        
reverse('hallo world')

dlrow ollah

In [177]:
def schedule(m, n):
    for i in range(1, m+1):
        for j in range(1, n+1):
            print(i*j, end=" ")
        print()
        
schedule(6, 3)

1 2 3
2 4 6
3 6 9
4 8 12
5 10 15
6 12 18

In [ ]:
"""Task #5"""
print("-" * 15)

word = input("Enter any sentence")
number_digits = 0
number_string = 0
for i in word:
    if i.isalpha():
        number_string += 1
    elif i.isdigit():
        number_digits += 1
    else:
        pass

print(number_string, number_digits)
# -----------------------------------------------------------------------
"""Task #6"""
print("-" * 15)

pas = input("Enter the password: ")
count_small = 0
count_capital = 0
count_spetial_character = 0
count_digit = 0
for i in pas:
    if i.isupper():
        count_capital += 1
    elif i.islower():
        count_small += 1
    elif i.isdigit():
        count_digit += 1
    elif i in "$#@":
        count_spetial_character += 1
    else:
        continue

if count_digit > 0 and count_spetial_character > 0 and count_capital > 0 and count_small > 0 and len(pas) > 7 and len(
        pas) < 17:
    print("dobro")
else:
    print("nije dobro")
# -----------------------------------------------------------------------
"""Task #7"""
print("-" * 15)

for i in range(100, 401):
    s = str(i)
    if int(s[0]) % 2 == 0 and int(s[1]) % 2 == 0 and int(s[2]) % 2 == 0:
        print(s, end=",")
# -----------------------------------------------------------------------
"""Task #8"""
print("-" * 15)

for i in range(100, 401):
    k = str(i)
    if int(k[0]) % 2 == 0 and int(k[1]) % 2 == 0 and int(k[2]) % 2 == 0:
        item.append(k)
    else:
        pass
print(",".join(item))
# -----------------------------------------------------------------------
"""Task #8"""
print("-" * 15)
x = input("Enter your born year")

if x in "1924, 1936, 1948, 1960, 1972, 1984, 1996, 2008, 2020, 2032":
    print("Rat	é¼  (shÇ”)")
elif x in "1925, 1937, 1949, 1961, 1973, 1985, 1997, 2009, 2021, 2033":
    print("Ox	ç‰› (niÃº)")
elif x in "1926, 1938, 1950, 1962, 1974, 1986, 1998, 2010, 2022, 2034":
    print("Tiger	è™ (hÇ”)")
elif x in "1927, 1939, 1951, 1963, 1975, 1987, 1999, 2011, 2023, 2035":
    print("Rabbit	å…” (tÃ¹)")
elif x in "1928, 1940, 1952, 1964, 1976, 1988, 2000, 2012, 2024, 2036":
    print("Dragon	é¾™ (lÃ³ng)")
elif x in "1929, 1941, 1953, 1965, 1977, 1989, 2001, 2013, 2025, 2037":
    print("Snake	è›‡ (shÃ©)")
elif x in "1930, 1942, 1954, 1966, 1978, 1990, 2002, 2014, 2026, 2038":
    print("Horse	é©¬ (mÇ) ")
elif x in "1931, 1943, 1955, 1967, 1979, 1991, 2003, 2015, 2027, 2039":
    print("Sheep	ç¾Š (yÃ¡ng)")
elif x in "1932, 1944, 1956, 1968, 1980, 1992, 2004, 2016, 2028, 2040":
    print("Monkey	çŒ´ (hÃ³u)")
elif x in "1933, 1945, 1957, 1969, 1981, 1993, 2005, 2017, 2029, 2041":
    print("Rooster	é¸¡ (jÄ«)")
elif x in "1934, 1946, 1958, 1970, 1982, 1994, 2006, 2018, 2030, 2042":
    print("Dog	ç‹— (gÇ’u)")
elif x in "1935, 1947, 1959, 1971, 1983, 1995, 2007, 2019, 2031, 2043":
    print("Pig	çŒª (zhÅ«)")
else:
    print("out of the range")
# -----------------------------------------------------------------------
"""Task #9"""
print("-" * 15)

a = int(input("Enter the first side from the triangle: "))
b = int(input("Enter the second side from the triangle: "))
c = int(input("Enter the third side from the triangle: "))
if a == b and a == c:  # we shouldn't write b == c because both are equal And therefore equal
    print("This is an equilateral triangle")
elif a != b and a != c and b != c:
    print("This is a scalene triangle")
elif a == b:
    print("This is an isosceles triangle")
else:
    print("out of the range")
# -----------------------------------------------------------------------
"""Task #10"""
print("-" * 15)

# paper

# -----------------------------------------------------------------------
"""Task #11"""
print("-" * 15)

a, b, c = 0, 0, 0
for a in range(0, 10):
    for b in range(0, 10):
        for c in range(0, 10):
            print(a, b, c, sep="")
# -----------------------------------------------------------------------
"""Task #12"""
print("-" * 15)

first = int(input("Enter the first number: "))
second = int(input("Enter the second number: "))
for i in range(0, second):
    x = i * first
    print(first, "X", i, "=", x)
# -----------------------------------------------------------------------
"""Task #13"""
print("-" * 15)

x = 0
y = 0
i = "done"
while x != i:
    x = input("Enter the numbers: ")
    if x != i:
        y += int(x)
    elif x == i:
        break
    else:
        continue

print(y)
# -----------------------------------------------------------------------
"""Task #14"""
print("-" * 15)

x = int(input("Enter the number: "))
y = 1
for i in range(1, x + 1):
    y *= i

print(y)
# -----------------------------------------------------------------------
"""Task #15"""
print("-" * 15)

j = 0
for i in range(1, 11):
    x = input("Enter the number: ")
    j += int(x)

print("The avarage is", j / 10, "and the sum of numbers is", j)
# -----------------------------------------------------------------------
"""Task #16"""
print("-" * 15)

# -----------------------------------------------------------------------
"""Task #17"""
print("-" * 15)

odd = 0
even = 0
x = int(input("Enter the number"))
for i in range(0, x + 1):
    if i % 2 == 0:
        even += i
    else:
        odd += i

print(even / odd)
# -----------------------------------------------------------------------
"""Task #18"""
print("-" * 15)

for i in range(1, 6):
    for k in range(i):
        print((i + k) % 2, end="")
    print()

In [190]:
def calculate(word):
    x = 0
    y = 0
    for i in word:
        if i.isalpha():
            x += 1
        elif i.isdigit():
            y += 1
#         else:
#             pass
    return print("and number of letters is", x,"number of digits is", y)


calculate('s=f@ga21')

and number of letters is 4 number of digits is 2

SyntaxError: EOL while scanning string literal (235371053.py, line 23)

In [192]:
u = 0
l = 0
d = 0
s = 0
if u>=0:
    print(hi)

<function hi at 0x00000284820B63A0>

In [201]:
def pas(wo):
    u = 0
    l = 0
    d = 0
    s = 0
    for i in wo:
        if i.isupper():
            u += 1
        elif i.islower():
            l += 1
        elif i.isdigit():
            d += 1
        elif i in "$#@":
            s += 1
        else:
            pass
    if u >= 1 and l >= 1 and d >= 1 and s >= 1 and len(wo)  >= 6 and len(wo) <= 16:
        print("your password is correct")
    else:
        print("your password is not correct")
        
        
pas("worl2@1441A")

your password is correct

In [225]:
def even(s, e):
    for i in range(s,e+1):
        b = str(i)
        if int(b[0])%2 == 0 and  int(b[1])%2 == 0 and  int(b[2])%2 == 0:
            print(b, end=", ")
        else:
            pass
        
        
even(100,401)

200, 202, 204, 206, 208, 220, 222, 224, 226, 228, 240, 242, 244, 246, 248, 260, 262, 264, 266, 268, 280, 282, 284, 286, 288, 400,

In [223]:
for i in range(100, 401):
    str(b) = i
    if int(b[0]) % 2 == 0 and int(b[1]) % 2 == 0 and int(b[2]) % 2 == 0:
        print(s, sep=", ")
    else:
        pass

SyntaxError: cannot assign to function call (3271089426.py, line 2)

In [227]:
def even(s, e):
    for i in range(s, e+1):
        t = str(i)
        if int(t[0]) % 2 == 0 and int(t[1]) % 2 == 0 and int(t[2]) % 2 == 0:
            print(t, end = ", ")
        else:
            pass
    
even(100, 400)

200, 202, 204, 206, 208, 220, 222, 224, 226, 228, 240, 242, 244, 246, 248, 260, 262, 264, 266, 268, 280, 282, 284, 286, 288, 400,

In [233]:
def Chinese(x):
    x = str(x)
    if x in "1924, 1936, 1948, 1960, 1972, 1984, 1996, 2008, 2020, 2032":
        return("Rat	é¼  (shÇ”)")
    elif x in "1925, 1937, 1949, 1961, 1973, 1985, 1997, 2009, 2021, 2033":
        return("Ox	ç‰› (niÃº)")
    elif x in "1926, 1938, 1950, 1962, 1974, 1986, 1998, 2010, 2022, 2034":
        return("Tiger	è™ (hÇ”)")
    elif x in "1927, 1939, 1951, 1963, 1975, 1987, 1999, 2011, 2023, 2035":
        return("Rabbit	å…” (tÃ¹)")
    elif x in "1928, 1940, 1952, 1964, 1976, 1988, 2000, 2012, 2024, 2036":
        return("Dragon	é¾™ (lÃ³ng)")
    elif x in "1929, 1941, 1953, 1965, 1977, 1989, 2001, 2013, 2025, 2037":
        return("Snake	è›‡ (shÃ©)")
    elif x in "1930, 1942, 1954, 1966, 1978, 1990, 2002, 2014, 2026, 2038":
        return("Horse	é©¬ (mÇ) ")
    elif x in "1931, 1943, 1955, 1967, 1979, 1991, 2003, 2015, 2027, 2039":
        return("Sheep	ç¾Š (yÃ¡ng)")
    elif x in "1932, 1944, 1956, 1968, 1980, 1992, 2004, 2016, 2028, 2040":
        return("Monkey	çŒ´ (hÃ³u)")
    elif x in "1933, 1945, 1957, 1969, 1981, 1993, 2005, 2017, 2029, 2041":
        return("Rooster	é¸¡ (jÄ«)")
    elif x in "1934, 1946, 1958, 1970, 1982, 1994, 2006, 2018, 2030, 2042":
        return("Dog	ç‹— (gÇ’u)")
    elif x in "1935, 1947, 1959, 1971, 1983, 1995, 2007, 2019, 2031, 2043":
        return("Pig	çŒª (zhÅ«)")
    else:
        print("out of the range")
        
    
print(Chinese(1950))

Tiger	è™ (hÇ”)

In [235]:
def findTraingleKind(a, b, c):
    if a == b and a == c:
        return"This is an equilateral triangle."
    elif a != b and a != c and b != c:
        return"This is a scalene triangle."
    elif a == b or c == b or c == a:
        return"This is an isosceles triangle."
    else:
        pass
    
a = int(input("Enter the side:"))
b = int(input("Enter the side:"))
c = int(input("Enter the side:"))

findTraingleKind(a, b, c)

Enter the side:3
Enter the side:3
Enter the side:1

'This is an isosceles triangle.'

In [255]:
def out(a, b, c):
    for a in range(10):
        for b in range(10):
            for c in range(10):
                print(a,b,c,sep="",end=",")
            

out(0, 0, 0)

000,001,002,003,004,005,006,007,008,009,010,011,012,013,014,015,016,017,018,019,020,021,022,023,024,025,026,027,028,029,030,031,032,033,034,035,036,037,038,039,040,041,042,043,044,045,046,047,048,049,050,051,052,053,054,055,056,057,058,059,060,061,062,063,064,065,066,067,068,069,070,071,072,073,074,075,076,077,078,079,080,081,082,083,084,085,086,087,088,089,090,091,092,093,094,095,096,097,098,099,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960,961,962,963,964,965,966,967,968,969,970,971,972,973,974,975,976,977,978,979,980,981,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,

In [250]:
def multiply(x,no_numbers):
    for i in range (1,no_numbers+1):
        print(x , ' X ' , i , ' = ' , x*i )
    return ''

print(multiply(15,10))

15  X  1  =  15
15  X  2  =  30
15  X  3  =  45
15  X  4  =  60
15  X  5  =  75
15  X  6  =  90
15  X  7  =  105
15  X  8  =  120
15  X  9  =  135

In [257]:
def multiplication(X,no_numbers):
    for i in range(1,no_numbers+1):
        print(X, "X", i, "=", X*i)
        
        
multiplication(15, 10)

15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150

In [258]:
def multiplication(X, no_numbers):
    for i in range(1, no_numbers + 1):
        print(X, "X", i, "=", X * i)

e = int(input("Enter the number"))
c = int(input("Enter the number"))
multiplication(e, c)

Enter the number15
Enter the number10
15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150

In [5]:
def sum(x):
    p = 0
    while x.lower() not in "done":
        x = input("Enter the number: ")
        if x.lower() in "done":
            return p
        else:
            p = int(x) + int(p)

sum("start")

Enter the number: 3
Enter the number: 3
Enter the number: 3
Enter the number: 3
Enter the number: done

12

In [280]:
123456789%1

0

In [273]:
36%8

4

In [275]:
n= 123456789
print(n // 10)

12345678

In [277]:
x = int(input("Enter the number: "))
y = 1
for i in range(1, x + 1):
    y *= i

print(y)

Enter the number: 5
120

In [276]:
def factorial(n):
    y=1
    for i in range(1,n+1):
        y *= i
    return y

factorial(5)

120

In [ ]:
def calculate(word):
    f = len(word)

In [8]:
def factorial(n):
    t = 1
    f = 1
    for i in range(1,n+1):
        f = i
        t *= f 
    return t


factorial(7)

5040

In [9]:
2*1*3*4*5*6*7

5040

In [11]:
def sum(n):
    y = 0
    for i in range(n):
        x = int(input("Enter the number here: " ))
        y += x
    return "sum of numbers is", y,"average of numbers is", y/10
sum(10)

Enter the number here: 10
Enter the number here: 10
Enter the number here: 10
Enter the number here: 10
Enter the number here: 10
Enter the number here: 140
Enter the number here: 10
Enter the number here: 10
Enter the number here: 10
Enter the number here: 10

('sum of numbers is', 230, 'average of numbers is', 23.0)

In [26]:
def Number_of_rows(n):
    for i in range(1,n+1):
        for g in range(0, i):
            print((g+i) % 2,end="")
        print()
        
            
Number_of_rows(5)

1
01
101
0101
10101

In [30]:
def perfect(x, y, z):
    a = 0
    k = 0
    for i in range(x,y+1):
        if i % z == 0:
            a += i
            k += 1
        else:
            continue
    return "The sum of numbers is",a ,"and the number of numbers is ", k
    
perfect(10,100,5)

('The sum of numbers is', 1045, 'and the number of numbers is ', 19)

In [34]:
def triangle(a,b,c):
    if a <= 0 or b <= 0 or c <= 0:
        return "This is not a triangle"
    elif (a**2 + b**2)**0.5 == c:
        return "This is a right angled triangle"

    else:
        return "This is not a right angled triangle"

    
triangle(4,3,5)

'This is a right angled triangle'

In [37]:
for x in range(4):
    for y in range (5):
        print('Hello World')
    print('Hello student')
print('Hello everyone')

Hello World
Hello World
Hello World
Hello World
Hello World
Hello student
Hello World
Hello World
Hello World
Hello World
Hello World
Hello student
Hello World
Hello World
Hello World
Hello World
Hello World
Hello student
Hello World
Hello World
Hello World
Hello World
Hello World
Hello student
Hello everyone

In [38]:
10+2+10+14

36

In [40]:
def sumproduct(m):
    odd = 0
    even = 1
    while m != 0:
        if m % 2 == 0:
            even *= m
        elif m % 2 == 1:
            odd += m
        else:
            pass
        m = int(input("Enter any number: "))
    return "The product of all even numbers is",even,"and the sum of all odd numbers is",odd


sumproduct(int(input("Enter the number:")))

Enter the number:5
Enter any number: 5
Enter any number: 3
Enter any number: 2
Enter any number: 1
Enter any number: 2
Enter any number: 0

('The product of all even numbers is',
 4,
 'and the sum of all odd numbers is',
 14)

In [42]:
s = "long long story"
for i in range(len(s)):
    if i % 3 == 0:
        print(s[i])

l
g
o

o

In [43]:
t = " bonobo"
s = t[:-3] + t[1:3]+t[:5]
for i in range(len(s)):
    if i % 2 == 0:
        print(s[i])

o
b

o
o

In [45]:
t = " bonobo"
s = t[:-3] + t[1:3]+t[:5]
print(s)

 bonbo bono

In [46]:
t = "landinafrica"
s = t[:-2] + t[1:]
for i in range(len(s)):
    if i % 3 == 0:
        print(s[i])

l
d
a
i
d
a
i

In [ ]:
landinafriandinafrica

In [ ]:
12

In [ ]:
def

In [50]:
OUT = 0
IN = 1

def countWords(string):
	state = OUT
	wc = 0

	for i in range(len(string)):

		# If next character is a separator,
		# set the state as OUT
		if (string[i] == ' ' or string[i] == '\n' or
			string[i] == '\t'):
			state = OUT

		# If next character is not a word
		# separator and state is OUT, then
		# set the state as IN and increment
		# word count
		elif state == OUT:
			state = IN
			wc += 1

	# Return the number of words
	return wc

# Driver Code
string = "One two three\n four\tfive "
print("No. of words : " + str(countWords(string)))

# This code is contributed by BHAVYA JAIN

No. of words : 5

In [48]:
def triangle(m):
    for i in range(1, m+1):
        for j in range(0, i):
            print((i+j)%2, end="")
        print()
    
    
triangle(5)

1
01
101
0101
10101

In [14]:
def countYZ(m):
    s = 0
    for i in range(len(m)):
        if m[i] == " ":
            if m[i-1] in "zy":
                s += 1
            else:
                pass
        else:
            pass
    if m[len(m)-1] in "zy":
        s += 1
    return s


print(countYZ("gray day thiz Monday"))
print(countYZ("gray day this Tuesday"))
print(countYZ("day fyyyz"))

4
3
2

In [18]:
def appearTwice(str1, str2):
    lettersInFirst = ""
    res = ""
    for i in str1:
        if i not in lettersInFirst and i.isalpha():
            lettersInFirst += i
    print(lettersInFirst)
    for i in lettersInFirst:
        sameLetterCount = 0
        for j in str2:
            if j == i:
                sameLetterCount += 1
        if sameLetterCount >= 2:
            res += i
    print(res)
    
    
appearTwice("hi","miian")

hi
i

In [35]:
def check(str1, str2):
    x = ""
    p = ""
    m = 0
    for i in str1:
        if i.isalpha and i not in x:
            x += i
    for k in range(len(x)):
        o = 0
        for j in range(len(word2)):
            if word2[j] == x[k]:
                o += 1
            if o >= 2 and word2[j] not in p and word2[j] == x[k]:
                p += word2 [j]
    return p
    
word1="fasdcsaddasddddd"
word2="123548795ffffssdf"

check(word1, word2)

'fs'

In [21]:
word="fasdcsaddasddddd"
if "d" in word:
    print("hi")

hi

In [52]:
def hardTask(s):
    x = 0
    p = 0
    j = 0
    for i in range(len(s)):
        if s[i] == " ":
            x += 1
            if x == 1:
                p = i
            elif x == 2:
                j = i
                return hardTask(s[j:])+s[p+2:j]+s[p+1]+"AY"+" "#hardTask(s[j:])
            

hardTask(" I SLEPT MOST OF THE NIGHT ")

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [54]:
def hi(s):
    x =0
    for i in range(len(s)):
        if s[i] == " ":
            if s[i-1].lower() in "yz":
                x += 1
    if s[len(s)-1].lower() in "yz":
        x += 1
    return x


print(countYZ("gray day thiz Monday"))
print(countYZ("gray day this Tuesday"))
print(countYZ("day fyyyz"))

4
3
2

In [3]:
def word(n):
    y = 0
    i = 0
    while n != "":
        n = input("Enter any word: ")
        if n != "":
            y += len(n)
            i += 1
    return y//i


word("f")

Enter any word: fasd
Enter any word: asdf
Enter any word:

4

In [ ]:
def cigsss(m)

In [6]:
def cigar_party(m, n):
    if n == True:
        return True
    else:
        pass
    if m > 40 and m < 60:
        return True
    else:
        return False
    
    
print(cigar_party(30, False))
print(cigar_party(50, False))
print(cigar_party(70, True))

False
True
True

In [7]:
def squirrel_play(m, n):
    if n == True:
        if m < 101 and m > 60:
            return True
        else:
            return False
    if n != True:
        if m < 91 and m > 60:
            return True
        else:
            return False
    
print(squirrel_play(70, False))
print(squirrel_play(95, False))
print(squirrel_play(95, True))

True
False
True

In [9]:
def caught_speeding(m, n):
    
    if n == False:
        if m <= 60:
            return 0
        elif m >= 61 and m <= 80:
            return 1
        elif m >= 81 :
            return 2
        else:
            pass
    else:
        if m <= 60+5:
            return 0
        elif m >= 61+5 and m <= 80+5:
            return 1
        elif m >= 81+5:
            return 2
    
print(caught_speeding(60, False))
print(caught_speeding(65, False))
print(caught_speeding(65, True))

0
1
0

In [10]:
def sorta_sum(m, n):
    y = m + n
    if y >= 10 and y <= 19:
        return 20
    else:
        return y
    
    
print(sorta_sum(3, 4))
print(sorta_sum(9, 4))
print(sorta_sum(10, 11))

7
20
21

In [15]:
Sun, Mon, Tue, Wed, Thr, Fri, sat = 0, 1, 2, 3, 4, 5, 6
def alarm_clock(day, vacation):
    Sun, Mon, Tue, Wed, Thr, Fri, sat = 0, 1, 2, 3, 4, 5, 6
    if vacation:
        return '10:00'
    elif day == 0 or day == 6:
        return '10:00'
    else:
        return '7:00'
    
    
print(alarm_clock(1, False))
print(alarm_clock(5, False))
print(alarm_clock(0, False))

7:00
7:00
10:00

In [17]:
def love6(num1, num2):
    if num1 == 6 or num2 ==6:
        return True
    elif (num1-num2)==6:
        return True
    elif (num1+num2)==6:
        return True
    else:
        return False
    
    
print(love6(6, 4))
print(love6(4, 5))
print(love6(1, 5))

True
False
True

In [19]:
def in1to10(n, outside_mode):
    if outside_mode:
        return True
    elif 1 <= n <= 10:
        return True
    else:
        return False
    
print(in1to10(5, False))
print(in1to10(11, False))
print(in1to10(11, True))

True
False
True

In [38]:
def near_ten(num):
    number = num % 10
    if number >= 8 or number <= 2:
        return True
    else:
        return False
        
        

        
print(near_ten(12))
print(near_ten(17))
print(near_ten(19))

True
False
True

In [27]:
for i in range(2,11):
    print(19%i)

1
1
3
4
1
5
3
1
9

In [44]:
def lucky_sum(a, b, c):
    if b == 13:
        return a
    elif c == 13:
        return a + b
    else:
        return (a + b + c)
    
    
print(lucky_sum(1, 2, 3))5
print(lucky_sum(1, 2, 13))
print(lucky_sum(1, 13, 3))

6
3
1

In [3]:
def triangle(n):
    for i in range(1, n+1):
        for j in range(i):
            print((i+j)%2,end="")
        print()
        
        
triangle(5)

1
01
101
0101
10101

In [4]:
t = " bonobo"
s = t[:-3] + t[1:3]+t[:5]
for i in range(len(s)):
    if i % 2 == 0:
        print(s[i])

o
b

o
o

In [27]:
a = 0
for j in range(0,6):
    for k in range(j+1):
        for i in range(6,1,-1):
            print((" ")*k,"*"*i,end=" ")

 ******  *****  ****  ***  **  ******  *****  ****  ***  **   ******   *****   ****   ***   **  ******  *****  ****  ***  **   ******   *****   ****   ***   **    ******    *****    ****    ***    **  ******  *****  ****  ***  **   ******   *****   ****   ***   **    ******    *****    ****    ***    **     ******     *****     ****     ***     **  ******  *****  ****  ***  **   ******   *****   ****   ***   **    ******    *****    ****    ***    **     ******     *****     ****     ***     **      ******      *****      ****      ***      **  ******  *****  ****  ***  **   ******   *****   ****   ***   **    ******    *****    ****    ***    **     ******     *****     ****     ***     **      ******      *****      ****      ***      **       ******       *****       ****       ***       **

In [17]:
def j(g):
    print(g)
j("k")

k

In [69]:
for i in range(5):
    print("khaled",end="  ")
    
print()
print()
print()
print()
print()
print()
print()
print()

for j in range(2):
    print("khaled@","ahmed@","ibrahim@",sep="")
    print("khaled","ahmed","ibrahim",sep="@",end="      dgdfgdgdgd\n")

khaled  khaled  khaled  khaled  khaled







khaled@ahmed@ibrahim@
khaled@ahmed@ibrahim      dgdfgdgdgd
khaled@ahmed@ibrahim@
khaled@ahmed@ibrahim      dgdfgdgdgd

In [2]:
def lill(n):
    e = 0
    o = 0
    t = 0
    for i in range(1, n+1):
        if (i % 2) == 0:
            e += 1
        elif (i % 2) == 1:
            o += 1
    for j in range(1, e+1):
        if (j % 2) == 0:
            t += (10*j)
    return str(t)+"+" + str(o)+"p"


lill(10)

'60+5p'

In [5]:
for x in range(4):
	for y in range (5):
		print("Hello World")
	print("Hello student")
print("Hello everyone")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello student
Hello World
Hello World
Hello World
Hello World
Hello World
Hello student
Hello World
Hello World
Hello World
Hello World
Hello World
Hello student
Hello World
Hello World
Hello World
Hello World
Hello World
Hello student
Hello everyone

In [19]:
def lucky_sum(a, b, c):
    if a<13 and b< 13 and c<13:
        return a+b+c
    elif b == 13:
        return a
    elif c == 13:
        return a + b
print(lucky_sum(1, 2, 3))
print(lucky_sum(1, 2, 13))
print(lucky_sum(1, 13, 3))

6
3
1

In [15]:
(3+3+3+3+3+3+3)//8

2

In [21]:
list2 = [1, 3, "hi", True]
print(type(list2[1]))
print(type(list2[2]))
print(type(list2[3]))

<class 'int'>
<class 'str'>
<class 'bool'>

In [22]:
a = [1, 2, 3, 4]
b = a
b[0] = 5
print(a)

[5, 2, 3, 4]

In [23]:
list(range(10, 0, -2))

[10, 8, 6, 4, 2]

In [24]:
g = [1, 2, 3, 4, 5, "A", "B"]
print(g.pop(-3))

5

In [11]:
def count(list1, list2):
    list3 = []
    if len(list1) == len(list2):
        for i in range(len(list1)):
            x = list1.pop(i)+list2.pop(i)
            list3.append(x)
#     return "The lists is not the same in length"
    

a = [1, 2, 3, 4]
b = [1, 3, 4, 6]
count(a, b)

IndexError: pop index out of range

In [12]:
def replace(s, old, new):
    x = s.split(old)
    z = new.join(x)
    return z

print(replace("Mississippi", "i","I"))
print(replace("""I love spom! spom is my favorite food. spom, spom, yum!""", "om", "am"))
print(replace("""I love spom! spom is my favorite food. spom, spom, yum!""", "o", "a"))

MIssIssIppI
I love spam! spam is my favorite food. spam, spam, yum!
I lave spam! spam is my favarite faad. spam, spam, yum!

In [25]:
def add_vectors(vector1,vector2):
    x = []
    if len(vector1) == len(vector2):
        for i in range(len(vector1)):
            v = vector1[i] + vector2[i]
            x.append(v)
        return x
    else:
        return "Those are not equal in length"
    
print(add_vectors([1, 1], [1, 1]))
print(add_vectors([1, 2], [1, 4]))
print(add_vectors([1, 2, 1], [1, 4, 3]))

[2, 2]
[2, 6]
[2, 6, 4]

In [28]:
def scalar_mult(scalar, vector):
    x = []
    for i in range(len(vector)):
        j = vector[i]*scalar
        x.append(j)
    return x


print(scalar_mult(5, [1, 2]))
print(scalar_mult(3, [1, 0, -1]))
print(scalar_mult(7, [3, 0, 5, 11, 2]))

[5, 10]
[3, 0, -3]
[21, 0, 35, 77, 14]

In [29]:
def dot_product(vec1,vec2):
    x = []
    j = 0
    if len(vec1) == len(vec2):
        for i in range(len(vec2)):
            p = vec2[i] * vec1[i]
            x.append(p)
        for k in range(len(x)):
            j += x[k]
        return j
    else:
        return "Those are not same in the length"
    
    
print(dot_product([1, 1], [1, 1]))
print(dot_product([1, 2], [1, 4]))
print(dot_product([1, 2, 1], [1, 4, 3]))

2
9
12

In [21]:
print(type(True))

<class 'bool'>

In [24]:
x = 0
x = 9
x = 5
print(x)

5

In [52]:
def cross_product(vec1, vec2):
    ax = vec1[0]
    ay = vec1[1]
    az = vec1[2]
    bx = vec2[0]
    by = vec2[1]
    bz = vec2[2]
    i = ((ay*bz)-(by*az))
    j = ((az*bx)-(bz*ax))
    k = ((ax*by)-(bx*ay))
    
    if i >= 0:
        i = "("+str(i)+")"
    else:
        i = "- ("+str(abs(i))+")"
        
        
    if j >= 0:
        j = "+ ("+str(j)+")"
    else:
        j = "- ("+str(abs(j))+")"
        
        
    if k >= 0:
        k = "+ ("+str(k)+")"
    else:
        k = "- ("+str(abs(k))+")"
        
    return i+" i "+j+" j "+k+" k"


cross_product([1,5,3], [1,2,3])

'(9) i + (0) j - (3) k'

In [53]:
list(range(10, 0, -2))

[10, 8, 6, 4, 2]

In [ ]:
[10, 8, 6, 4, 2]

In [57]:
a = [1, 2, 3]
b = a[:]
print(id(a))
print(id(b))
b[0] = 5
print(id(b))

2591935840128
2591935852928
2591935852928

In [62]:
this = ["I", "am", "not", "a", "crook"]
that = ["I", "am", "not", "a", "crook"]
print(id(this))
print(id(that))
print("Test 1: {0}".format(this is that))
this = that
print("Test 2: {0}".format(this is that))
print(id(this))

2591935872704
2591935831040
Test 1: False
Test 2: True
2591935831040

In [ ]:
def replace(s, old, new):
    x = s.split(old)
    z = new.join(x)
    return z

print(replace("Mississippi", "i","I"))
print(replace("""I love spom! spom is my favorite food. spom, spom, yum!""", "om", "am"))
print(replace("""I love spom! spom is my favorite food. spom, spom, yum!""", "o", "a"))

In [64]:
def number(n):
    for i in range(1,n+1):
        for g in range(i):
            print((g+i)%2, end="")
        print()
        
number(5)

1
01
101
0101
10101

In [8]:
def perfect(n):
    k = []
    l = 0
    for i in range(1,n):
        if n%i==0:
            x = i
            k.append(x)
    for j in range(len(k)):
        l += k[j]
    if l == n:
        return "This is perfect number"
    else:
        return "This is not perfect number"

perfect(27)

'This is not perfect number'

In [28]:
import random


def rand(s, e, g):
    x = random.randrange(s, e)
    if x == g:
        return "ongratulations, your guess was right"
    elif g <= x + 3:
        return "Warm"
    else:
        return "Cold"


s = int(input("Enter the start range: "))
e = int(input("Enter the end range: "))
g = int(input("Enter your guess number: "))
rand(s, e, g)

Enter the start range: 3
Enter the end range: 4
Enter your guess number: 4

'Warm'

In [23]:
x = random.randrange(5, 6+1)
print(x)

6

In [40]:
import random


def rand(s, e, g):
    x = random.randrange(s, e)
    if x == g:
        return "congratulations, your guess was right"
    elif g <= x + 3:
        return "Warm"
    else:
        return "Cold"


s = int(input("Enter the start range: "))
e = int(input("Enter the end range: "))
g = int(input("Enter your guess number: "))
rand(s, e, g)

Enter the start range: 5
Enter the end range: 9
Enter your guess number: 5
The guess number is: 6
Warm

(None, None, None)

In [47]:
def near_ten(n):
    if n > 0:
        x = n % 10
        if x >= 8 or x <= 2:
            return True
        else:
            return False
    else:
        return False
print(near_ten(12))
print(near_ten(17))
print(near_ten(19))

True
False
True

8

In [62]:
def make_bricks(s, b, l):
    if type(l) == float:
        return False
    if l > 5 and b > 0:
        while b != 0 and l >= 5:
            l -= 5
            b -= 1
    l -= s
    if l > 0:
        return False
    else:
        return True
    
    
print(make_bricks(3, 1, 8))
print(make_bricks(3, 1, 9))
print(make_bricks(3, 2, 10))

True
False
True

In [65]:
def lucky_sum(a, b, c):
    if a == 13:
        return 0
    elif b == 13:
        return a
    elif c == 13:
        return a + b
    else:
        return a + b + c
    
    
print(lucky_sum(1, 2, 3))
print(lucky_sum(1, 2, 13))
print(lucky_sum(1, 13, 3))

6
3
1

In [73]:
def round_sum(a, b, c):
    a1 = a % 10
    b1 = b % 10
    c1 = c % 10
    if 10 > a1 > 4:
        a = ((a // 10)+1)*10
    else:
        a = (a // 10)*10
    if 10 > b1 > 4:
        b = ((b // 10)+1)*10
    else:
        b = (b // 10)*10
    if 10 > c1 > 4:
        c = ((c // 10)+1)*10
    else:
        c = (c // 10)*10
    return a + b + c


print(round_sum(16, 17, 18))
print(round_sum(12, 13, 14))
print(round_sum(6, 4, 4))

60
30
10

In [85]:
def even(n):
    x = 0
    if n % 2 != 0:
        n -= 1
    while n != 0:
        n = str(n)
        if len(n) > 1:
            if n[1] in "246":
                x += 1
        else:
            if n in "246":
                x += 1
        n = int(n) - 2
    return x

even(30)

9

In [97]:
def blackjack(a, b):
    if a > 0 and b > 0:
        if a == 21:
            return a
        elif b == 21:
            return b
        if a > 21 and b > 21:
            return 0
        elif a > 21 and b < 21:
            return b
        elif b > 21 and a < 21:
            return a
        elif b < 21 and a < 21:
            b2, a2 = b, a
            while a2 < 21 and b2 < 21:
                a2 += 1
                b2 += 1
            if a2 > b2:
                return b
            else:
                return a
    else:
        return "Out of range"
    
    
print(blackjack(19, 21))
print(blackjack(21, 19))
print(blackjack(19, 22))
print(blackjack(19, 17))

21
21
19
17

In [93]:
def loneSum(a, b, c):
    if a == b != c:
        return c
    elif a == b == c:
        return 0
    elif a == c != b:
        return b
    elif b == c != a:
        return a
    elif a != b != c:
        return a + b + c
    
    
print(loneSum(1, 2, 3))
print(loneSum(3, 2, 3))
print(loneSum(3, 3, 3))

6
2
0

In [98]:
def twoAsOne(a, b, c):
    if (a + b) == c:
        return True
    elif (b + c) == a:
        return True
    elif (a + c) == b:
        return True
    else:
        return False
    
    
print(twoAsOne(1, 2, 3))
print(twoAsOne(3, 1, 2))
print(twoAsOne(3, 2, 2))

True
True
False

In [103]:
def leap_year(year):
    if year % 400 == 0:
        return True
    elif year % 100 == 0:
        return False
    elif year % 4 == 0:
        return True
    else:
        return False
    
    
print(leap_year(2020))
print(leap_year(2024))
print(leap_year(2000))
print(leap_year(2400))
print(leap_year(1800))
print(leap_year(1900))
print(leap_year(2100))
print(leap_year(2200))
print(leap_year(2300))
print(leap_year(2500))

True
True
True
True
False
False
False
False
False
False

In [105]:
def make_chocolate(s, b, t):
    x = 0
    if b > 0:
        while b != 0 and t != 0:
            t -= 5
            b -= 1
    if t == 0:
        return 0
    else:
        while t != 0:
            x += 1
            t -= 1
            s -= 1
    if s < 0:
        return -1
    elif s >= 0:
        return x
    
    
print(make_chocolate(4, 1, 9))
print(make_chocolate(4, 1, 10))
print(make_chocolate(4, 1, 7))

4
-1
2

In [107]:
def function(a, b):
    x = []
    for i in range(a, b+1):
        if i % 7 == 0:
            if i % 5 != 0:
                x.append(i)
    return x


function(1, 36)

[7, 14, 21, 28]

In [109]:
def sum(n):
    x = []
    j = n+10000
    for i in range(2,j):
        for k in range(2, i):
            if i % k != 0:
                x.append(i)
    return x



sum(1)

[3,
 4,
 5,
 5,
 5,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10,
 10,
 10,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 12,
 12,
 12,
 12,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 14,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 15,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 17,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 18,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 19,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 20,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 21,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 22,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 23,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 24,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 25,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 26,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 27,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 28,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 29,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 30,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 31,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 32,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 33,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 34,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 35,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 36,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 37,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 38,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 39,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 40,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 41,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 42,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 43,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 44,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 45,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 46,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 47,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 48,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 49,
 ...]

In [108]:
for k in range(2,2):
    print(k)

In [1]:
def prim(n):
    b = [2,]
    p = 0
    for i in range(3, n*1000):
        for k in range(2, i):
            if (i % k) == 0:
                break
        else:
            b.append(i)
    b[:] = b[:n]
    for i in range(len(b)):
        p += b[i]
    return p
print(prim(6))

41

### def prim(b):
    for i in range(2, b):
        if (b % i) == 0:
            return "It is not prime"
    else:
        return "It is prime number"
    
    
prim(9973)

In [ ]:
[3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997, 1009, 1013, 1019, 1021, 1031, 1033, 1039, 1049, 1051, 1061, 1063, 1069, 1087, 1091, 1093, 1097, 1103, 1109, 1117, 1123, 1129, 1151, 1153, 1163, 1171, 1181, 1187, 1193, 1201, 1213, 1217, 1223, 1229, 1231, 1237, 1249, 1259, 1277, 1279, 1283, 1289, 1291, 1297, 1301, 1303, 1307, 1319, 1321, 1327, 1361, 1367, 1373, 1381, 1399, 1409, 1423, 1427, 1429, 1433, 1439, 1447, 1451, 1453, 1459, 1471, 1481, 1483, 1487, 1489, 1493, 1499, 1511, 1523, 1531, 1543, 1549, 1553, 1559, 1567, 1571, 1579, 1583, 1597, 1601, 1607, 1609, 1613, 1619, 1621, 1627, 1637, 1657, 1663, 1667, 1669, 1693, 1697, 1699, 1709, 1721, 1723, 1733, 1741, 1747, 1753, 1759, 1777, 1783, 1787, 1789, 1801, 1811, 1823, 1831, 1847, 1861, 1867, 1871, 1873, 1877, 1879, 1889, 1901, 1907, 1913, 1931, 1933, 1949, 1951, 1973, 1979, 1987, 1993, 1997, 1999, 2003, 2011, 2017, 2027, 2029, 2039, 2053, 2063, 2069, 2081, 2083, 2087, 2089, 2099, 2111, 2113, 2129, 2131, 2137, 2141, 2143, 2153, 2161, 2179, 2203, 2207, 2213, 2221, 2237, 2239, 2243, 2251, 2267, 2269, 2273, 2281, 2287, 2293, 2297, 2309, 2311, 2333, 2339, 2341, 2347, 2351, 2357, 2371, 2377, 2381, 2383, 2389, 2393, 2399, 2411, 2417, 2423, 2437, 2441, 2447, 2459, 2467, 2473, 2477, 2503, 2521, 2531, 2539, 2543, 2549, 2551, 2557, 2579, 2591, 2593, 2609, 2617, 2621, 2633, 2647, 2657, 2659, 2663, 2671, 2677, 2683, 2687, 2689, 2693, 2699, 2707, 2711, 2713, 2719, 2729, 2731, 2741, 2749, 2753, 2767, 2777, 2789, 2791, 2797, 2801, 2803, 2819, 2833, 2837, 2843, 2851, 2857, 2861, 2879, 2887, 2897, 2903, 2909, 2917, 2927, 2939, 2953, 2957, 2963, 2969, 2971, 2999, 3001, 3011, 3019, 3023, 3037, 3041, 3049, 3061, 3067, 3079, 3083, 3089, 3109, 3119, 3121, 3137, 3163, 3167, 3169, 3181, 3187, 3191, 3203, 3209, 3217, 3221, 3229, 3251, 3253, 3257, 3259, 3271, 3299, 3301, 3307, 3313, 3319, 3323, 3329, 3331, 3343, 3347, 3359, 3361, 3371, 3373, 3389, 3391, 3407, 3413, 3433, 3449, 3457, 3461, 3463, 3467, 3469, 3491, 3499, 3511, 3517, 3527, 3529, 3533, 3539, 3541, 3547, 3557, 3559, 3571, 3581, 3583, 3593, 3607, 3613, 3617, 3623, 3631, 3637, 3643, 3659, 3671, 3673, 3677, 3691, 3697, 3701, 3709, 3719, 3727, 3733, 3739, 3761, 3767, 3769, 3779, 3793, 3797, 3803, 3821, 3823, 3833, 3847, 3851, 3853, 3863, 3877, 3881, 3889, 3907, 3911, 3917, 3919, 3923, 3929, 3931, 3943, 3947, 3967, 3989, 4001, 4003, 4007, 4013, 4019, 4021, 4027, 4049, 4051, 4057, 4073, 4079, 4091, 4093, 4099, 4111, 4127, 4129, 4133, 4139, 4153, 4157, 4159, 4177, 4201, 4211, 4217, 4219, 4229, 4231, 4241, 4243, 4253, 4259, 4261, 4271, 4273, 4283, 4289, 4297, 4327, 4337, 4339, 4349, 4357, 4363, 4373, 4391, 4397, 4409, 4421, 4423, 4441, 4447, 4451, 4457, 4463, 4481, 4483, 4493, 4507, 4513, 4517, 4519, 4523, 4547, 4549, 4561, 4567, 4583, 4591, 4597, 4603, 4621, 4637, 4639, 4643, 4649, 4651, 4657, 4663, 4673, 4679, 4691, 4703, 4721, 4723, 4729, 4733, 4751, 4759, 4783, 4787, 4789, 4793, 4799, 4801, 4813, 4817, 4831, 4861, 4871, 4877, 4889, 4903, 4909, 4919, 4931, 4933, 4937, 4943, 4951, 4957, 4967, 4969, 4973, 4987, 4993, 4999, 5003, 5009, 5011, 5021, 5023, 5039, 5051, 5059, 5077, 5081, 5087, 5099, 5101, 5107, 5113, 5119, 5147, 5153, 5167, 5171, 5179, 5189, 5197, 5209, 5227, 5231, 5233, 5237, 5261, 5273, 5279, 5281, 5297, 5303, 5309, 5323, 5333, 5347, 5351, 5381, 5387, 5393, 5399, 5407, 5413, 5417, 5419, 5431, 5437, 5441, 5443, 5449, 5471, 5477, 5479, 5483, 5501, 5503, 5507, 5519, 5521, 5527, 5531, 5557, 5563, 5569, 5573, 5581, 5591, 5623, 5639, 5641, 5647, 5651, 5653, 5657, 5659, 5669, 5683, 5689, 5693, 5701, 5711, 5717, 5737, 5741, 5743, 5749, 5779, 5783, 5791, 5801, 5807, 5813, 5821, 5827, 5839, 5843, 5849, 5851, 5857, 5861, 5867, 5869, 5879, 5881, 5897, 5903, 5923, 5927, 5939, 5953, 5981, 5987, 6007, 6011, 6029, 6037, 6043, 6047, 6053, 6067, 6073, 6079, 6089, 6091, 6101, 6113, 6121, 6131, 6133, 6143, 6151, 6163, 6173, 6197, 6199, 6203, 6211, 6217, 6221, 6229, 6247, 6257, 6263, 6269, 6271, 6277, 6287, 6299, 6301, 6311, 6317, 6323, 6329, 6337, 6343, 6353, 6359, 6361, 6367, 6373, 6379, 6389, 6397, 6421, 6427, 6449, 6451, 6469, 6473, 6481, 6491, 6521, 6529, 6547, 6551, 6553, 6563, 6569, 6571, 6577, 6581, 6599, 6607, 6619, 6637, 6653, 6659, 6661, 6673, 6679, 6689, 6691, 6701, 6703, 6709, 6719, 6733, 6737, 6761, 6763, 6779, 6781, 6791, 6793, 6803, 6823, 6827, 6829, 6833, 6841, 6857, 6863, 6869, 6871, 6883, 6899, 6907, 6911, 6917, 6947, 6949, 6959, 6961, 6967, 6971, 6977, 6983, 6991, 6997, 7001, 7013, 7019, 7027, 7039, 7043, 7057, 7069, 7079, 7103, 7109, 7121, 7127, 7129, 7151, 7159, 7177, 7187, 7193, 7207, 7211, 7213, 7219, 7229, 7237, 7243, 7247, 7253, 7283, 7297, 7307, 7309, 7321, 7331, 7333, 7349, 7351, 7369, 7393, 7411, 7417, 7433, 7451, 7457, 7459, 7477, 7481, 7487, 7489, 7499, 7507, 7517, 7523, 7529, 7537, 7541, 7547, 7549, 7559, 7561, 7573, 7577, 7583, 7589, 7591, 7603, 7607, 7621, 7639, 7643, 7649, 7669, 7673, 7681, 7687, 7691, 7699, 7703, 7717, 7723, 7727, 7741, 7753, 7757, 7759, 7789, 7793, 7817, 7823, 7829, 7841, 7853, 7867, 7873, 7877, 7879, 7883, 7901, 7907, 7919, 7927, 7933, 7937, 7949, 7951, 7963, 7993, 8009, 8011, 8017, 8039, 8053, 8059, 8069, 8081, 8087, 8089, 8093, 8101, 8111, 8117, 8123, 8147, 8161, 8167, 8171, 8179, 8191, 8209, 8219, 8221, 8231, 8233, 8237, 8243, 8263, 8269, 8273, 8287, 8291, 8293, 8297, 8311, 8317, 8329, 8353, 8363, 8369, 8377, 8387, 8389, 8419, 8423, 8429, 8431, 8443, 8447, 8461, 8467, 8501, 8513, 8521, 8527, 8537, 8539, 8543, 8563, 8573, 8581, 8597, 8599, 8609, 8623, 8627, 8629, 8641, 8647, 8663, 8669, 8677, 8681, 8689, 8693, 8699, 8707, 8713, 8719, 8731, 8737, 8741, 8747, 8753, 8761, 8779, 8783, 8803, 8807, 8819, 8821, 8831, 8837, 8839, 8849, 8861, 8863, 8867, 8887, 8893, 8923, 8929, 8933, 8941, 8951, 8963, 8969, 8971, 8999, 9001, 9007, 9011, 9013, 9029, 9041, 9043, 9049, 9059, 9067, 9091, 9103, 9109, 9127, 9133, 9137, 9151, 9157, 9161, 9173, 9181, 9187, 9199, 9203, 9209, 9221, 9227, 9239, 9241, 9257, 9277, 9281, 9283, 9293, 9311, 9319, 9323, 9337, 9341, 9343, 9349, 9371, 9377, 9391, 9397, 9403, 9413, 9419, 9421, 9431, 9433, 9437, 9439, 9461, 9463, 9467, 9473, 9479, 9491, 9497, 9511, 9521, 9533, 9539, 9547, 9551, 9587, 9601, 9613, 9619, 9623, 9629, 9631, 9643, 9649, 9661, 9677, 9679, 9689, 9697, 9719, 9721, 9733, 9739, 9743, 9749, 9767, 9769, 9781, 9787, 9791, 9803, 9811, 9817, 9829, 9833, 9839, 9851, 9857, 9859, 9871, 9883, 9887, 9901, 9907, 9923, 9929, 9931, 9941, 9949, 9967, 9973]

Input a number (nâ‰¤10000) to compute the sum:(0 to exit)
10
Sum of first 10 prime numbers:
129
0

In [ ]:
def sumPrime(n):
    sum = 0
    count = 0
    i = 2
    while True:
        notPrime = False
        for j in range(2, i):
            if i % j == 0:
                notPrime = True
        if notPrime == False:
            sum += i
            count += 1
        if count == n:
            break
        i += 1
    return sum
print(sumPrime(400))

In [1]:
is_prime = [True for _ in range(100)]
print(is_prime)

[True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True]

In [1]:
def sum(n):
    d = [2,]
    z = 0
    i = 3
    flag = True
    while flag:
         for k in range(2, i):
            if i % k == 0:
                i += 1
                break
         else:
             d.append(i)
             i += 1
         if len(d) == n:
            flag = False
    for l in range(len(d)):
        z += d[l]
    return z
b = int(input("The max number is: "))
sum(b)

The max number is 1230: 5000

114455259

In [ ]:
MAX = 105000
print("Input a number (nâ‰¤10000) to compute the sum:(0 to exit)") 
is_prime = [True for _ in range(MAX)]
is_prime[0] = is_prime[1] = False
for i in range(2, int(MAX ** (1 / 2)) + 1):
  if is_prime[i]:
    for j in range(i ** 2, MAX, i):
      is_prime[j] = False 
primes = [i for i in range(MAX) if is_prime[i]] 
while True:
  n = int(input())
  if not n:
    break
  print("Sum of first",n,"prime numbers:")
  print(sum(primes[:n]))

Input a number (nâ‰¤10000) to compute the sum:(0 to exit)
5000
Sum of first 5000 prime numbers:
114455259

In [ ]:
def sum(n):
    d = [2,]
    z = 0
    i = 3
    flag = True
    while flag:
         for k in range(2, i):
            if i % k == 0:
                i += 1
                break
         else:
             d.append(i)
             i += 1
         if len(d) == n:
            flag = False
    for l in range(len(d)):
        z += d[l]
    return z
b = int(input("The max number is: "))
sum(b)

In [2]:
def sum(n):
    b = [2,]
    z = 0
    i = 3
    flag = True
    while flag:
        for j in range(2, i):
            if i % j == 0:
                i += 1
                break
        else:
            b.append(i)
            i += 1
        if len(b) == n:
            flag = False
    for l in range(len(b)):
        z += b[l]
    return "Sum of first", n, "prime numbers:", z


a = int(input("Enter the number: "))
sum(a)

Enter the number: 1000

('Sum of first', 1000, 'prime numbers:', 3682913)

In [1]:
MAX = 105000
print("Input a number (nâ‰¤10000) to compute the sum:(0 to exit)") 
is_prime = [True for _ in range(MAX)]
is_prime[0] = is_prime[1] = False
for i in range(2, int(MAX ** (1 / 2)) + 1):
  if is_prime[i]:
    for j in range(i ** 2, MAX, i):
      is_prime[j] = False 
primes = [i for i in range(MAX) if is_prime[i]] 
while True:
  n = int(input())
  if not n:
    break
  print("Sum of first",n,"prime numbers:")
  print(sum(primes[:n]))

Input a number (nâ‰¤10000) to compute the sum:(0 to exit)
1000
Sum of first 1000 prime numbers:
3682913
0

In [20]:
def is_happy2(n):
    n = str(n)
    l = 0
    if len(n) == 1:
        if int(n) == 1:
            return True
        else:
            return False
    else:
        for i in range(len(n)):
            l += int(n[i])**2
    return is_happy2(l)
            
            
def is_happy(n):
    n = str(n)
    z = 0
    for i in range(len(n)):
        z += int(n[i])**2
    return is_happy2(z)
print(is_happy(7))
print(is_happy(932))
print(is_happy(6))

True
True
False

In [27]:
def number_of_primes(n):
    if n > -1:
        b = []
        for i in range(2,n+1):
            for k in range(2, i):
                if i % k == 0:
                    break
            else:
                b.append(i)
        return len(b)
    else:
        return "Out of range"
    

print(number_of_primes(10))
print(number_of_primes(100))

4
25

In [29]:
def is_palindrome(n):
    z = ""
    if n < 0:
        return False
    else:
        n = str(n)
        for i in range(len(n)-1, -1, -1):
            z += n[i]
        if z == n:
            return True
        else:
            return False

print(is_palindrome(100))
print(is_palindrome(252))
print(is_palindrome(-838))

False
True
False
True

In [38]:
def largest_smallest_digit(n):
    n = str(n)
    z = []
    for i in range(len(n)):
        z.append(int(n[i]))
    s = z[0]
    for s1 in z:
        if s1 < s:
            s = s1
    l = z[0]
    for l1 in z:
        if l1 > l:
            l = l1
    print("Largest: ", l, ",", " Smallest: ", s, sep="")
largest_smallest_digit(9387422)

Largest: 9, Smallest: 2

In [40]:
def is_abundant(n):
    z = 0
    for i in range(1, n):
        if n % i == 0:
            z += i
    if z > n:
        return True
    else:
        return False


print(is_abundant(12))
print(is_abundant(13))

True
1
False

In [ ]:
def next_smallest_palindrome(n):
    d = []
    z = str(n)
    flag = True
    while flag:
        h = ""
        for i in range(len(z)-1, -1, -1):
            h += z[i]
        z = int(z)
        h = int(h)
        if z == h:
            flag = False
        else:
            z += 1
    return h
next_smallest_palindrome(99)

In [7]:
def next_smallest_palindrome(n):
    flag = True
    while flag:
        n = str(n+1)
        h = ""
        for i in range(len(n)-1, -1, -1):
            h += n[i]
        h = int(h)
        n = int(n)
        if n == h:
            flag = False
    return h
print(next_smallest_palindrome(99))
print(next_smallest_palindrome(1221))

101
1331

In [12]:
def disarium(n):
    l = 1
    s = 0
    n = str(n)
    for i in range(len(n)):
        s += int(n[i])**l
        l += 1
    if s == int(n):
        return "True this is a Disarium number "
    else:
        return "False this is a Disarium number "
    

disarium(135)

'True this is a Disarium number '

In [11]:
1**1 +3**2 + 5**3

135

In [13]:
666 % 18

0

In [15]:
def is_harsad(n):
    n = str(n)
    l = 0
    for i in range(len(n)):
        l += int(n[i])
    if int(n) % l == 0:
        return True
    else:
        return False
        

print(is_harsad(666))
print(is_harsad(11))

True
False

In [ ]:
def Pig_Latin(s):

In [ ]:
s = "I SLEPT MOST OF THE NIGHT"
f = []
while True:
    x = ""
    for i in s:
        x += i
        if i ==" ":
            f +=i
            break
print(f)

In [4]:
def countTriple(n):
    m = 0
    for i in n:
        count = 0
        k = ""
        k += i
        for i in n:
            if i == k:
                count += 1
                if count >= 3:
                    m += 1
    return m // 3


print(countTriple("abcXXXabc"))
print(countTriple("xxxabyyyycd"))
print(countTriple("a"))

1
3
0

In [6]:
animal = "umzwilili"
print(animal[3:7])
print(animal[1:3]+animal[2:])
print(animal[-3:-1]*2)
print(animal[4:99]+animal[1:-2])
print("a" in animal)

wili
mzzwilili
ilil
ililimzwili
False

In [8]:
def removedup(n):
    s = ""
    for i in n:
        if i not in s:
            s += i
    return s
                
    
removedup("aabbbbbbbbbbbyyyyyyyyyyyyyrr")

'abyr'

In [11]:
def remove(s, p):
    z = ""
    n = 0
    for i in s:
        if p != i:
            z += i
        else:
            n += 1 
    if n == 0:
        return z[1:]
    else:
        return z
    
    
remove("aabaabaabaabaa", "z")

'abaabaabaabaa'

In [17]:
animal = "alpaca"
print(animal[7:99])

In [19]:
aflist = ["ba", ["ab", "bc", "ad"],"bd"]
print(aflist[-2]+ ["ad", "ad"])
print(aflist[1:] * 2)
# print([aflist[-1]+ ["af", "ag"]] * 2)

['ab', 'bc', 'ad', 'ad', 'ad']
[['ab', 'bc', 'ad'], 'bd', ['ab', 'bc', 'ad'], 'bd']

In [ ]:
def remove(s, p):
    z = ""
    n = 0
    for i in s:
        if p != i:
            z += i
        else:
            n += 1
    if n == 0:
        return z[1:]
    else:
        return z


remove("aabaabaabaabaa", "z")

In [24]:
def removes2(n, g):
    a = ""
    z = 0
    for i in n:
        if i != g:
            a += i
        else:
            z += 1
    if z == 0:
        return n[1 : -1]
    else:
        return a
    
    
removes2("aavbcaa", "a")

'vbc'

In [1]:
def make_abba(a, b):
    z = ""
    n = 1
    while n < 5:
        if n == 1:
            z += a
            n += 1
        elif n == 2:
            z += b
            n += 1
        elif n == 3:
            z += b
            n += 1
        else:
            z += a
            n += 1
    return z


print(make_abba('Hi', 'Bye'))
print(make_abba('Yo', 'Alice'))
print(make_abba('What', 'Up'))

HiByeByeHi
YoAliceAliceYo
WhatUpUpWhat

In [7]:
def make_out_word(a, b):
    a1 = a[:2]
    a2 = a[2:]
    n = 1
    z = ""
    if len(a) == 4:
        while n <= 3:
            if n == 1:
                z += a1
                n += 1
            elif n == 2:
                n += 1
                z += b
            else:
                n += 1
                z += a2
        return z
    else: 
        return "The first string should be 4 length"
    

print(make_out_word('<<>>', 'Yay'))
print(make_out_word('<<>>', 'WooHoo'))
print(make_out_word('[[]]', 'word'))

<<Yay>>
<<WooHoo>>
[[word]]

In [8]:
def extra_end(n):
    if len(n) >= 2:
        n1 = n[-2:]
        return n1*3
    else:
        return "The length of the string less than 2"
    

print(extra_end('Hello'))
print(extra_end('ab'))
print(extra_end('Hi'))

lololo
ababab
HiHiHi

In [10]:
def first_two(n):
    l = len(n)
    if l == 0:
        return " yields the empty string "
    elif l == 1:
        return n
    elif l > 1 :
        return n[:2]


print(first_two('Hello'))
print(first_two('abcdefg'))
print(first_two('ab'))

He
ab
ab

In [12]:
def first_half(n):
    l = len(n) // 2
    return n[:l]
    

print(first_half('WooHoo'))
print(first_half('HelloThere'))
print(first_half('abcdef'))

Woo
Hello
abc

In [13]:
def without_end(n):
    if len(n) < 2:
        return False
    else:
        return n[1:-1]

print(without_end('Hello'))
print(without_end('java'))
print(without_end('coding'))

ell
av
odin

In [15]:
def combo_string(n, n1):
    if len(n) > len(n1):
        return n1 + n + n1
    elif len(n1) > len(n):
        return n + n1 + n
    else:
        return "Those have same length"


print(combo_string('Hello', 'hi'))
print(combo_string('hi', 'Hello'))
print(combo_string('aaa', 'b'))

hiHellohi
hiHellohi
baaab

In [16]:
def non_start(n, n1):
    if len(n) >= 1 and len(n1) >= 1:
        return n[1:] + n1[1:]
    else:
        return "One from the strings is empty"

print(non_start('Hello', 'There'))
print(non_start('java', 'code'))
print(non_start('shotl', 'java'))

ellohere
avaode
hotlava

In [17]:
def left2(n):
    if len(n) >= 2:
        n = n[2:] + n[:2]
        return n
    else:
        return "The length of the code is less than 2"

print(left2('Hello'))
print(left2('java'))
print(left2('Hi'))

lloHe
vaja
Hi

In [19]:
def double_char(n):
    z = ""
    for i in range(len(n)):
        z += (n[i]*2)
    return z
                   

print(double_char('The'))
print(double_char('AAbb'))
print(double_char('Hi-There'))

TThhee
AAAAbbbb
HHii--TThheerree

In [25]:
def count_hi(n):
    count = 0
    for i in range(2, len(n)+1):
        z = n[(i-2):i]
        if z == "hi":
            count += 1
    return count
    

print(count_hi('abc hi ho'))
print(count_hi('ABChi hi'))
print(count_hi('hihi'))

1
2
2

In [26]:
def cat_dog(n):
    c = "cat"
    d = "dog"
    countd, countc = 0, 0
    for i in range(len(c), len(n)+1):
        z = n[(i-len(c)):i]
        if z == c:
            countc += 1
    for i in range(len(d), len(n)+1):
        a = n[(i-len(d)):i]
        if a == d:
            countd += 1
    if countd == countc:
        return True
    else:
        return False
            
            
print(cat_dog('catdog'))
print(cat_dog('catcat'))
print(cat_dog('1cat1cadodog'))

True
False
True

In [28]:
def count_code(n):
    z = 0
    a = "qwertyuiopasdfghjklzxcvbnm"
    c = "code"
    for i in range(len(c), len(n)+1):
        v = n[i-len(c):i]
        for j in range(len(a)):
            c1 = c[0:2] + a[j] +c[3]
            if c1 == v:
                z += 1
    return z


print(count_code('aaacodebbb'))
print(count_code('codexxcode'))
print(count_code('cozexxcope'))
"""
repeat
repeat
repeat
repeat
repeat
"""

1
2
2

In [45]:
"""tuples 1"""

def mult(n):
    x = 0
    a = 1
    for i in range(len(n)):
            a *= n[i]
            x += a
    return a

mult((4, 3, 2, 2, -1, 18))

-864

In [52]:
"""dectionary 29"""

def doubled(n):
    for i in n.keys():
        if n[i] < 9:
            n[i] = n[i] * 2
    return n

tvoc = {"qw": 4, "en":13, "fro": 77, "klo": 2}
print(doubled(tvoc))

{'qw': 8, 'en': 13, 'fro': 77, 'klo': 4}

In [ ]:
"""Task #4 strings"""
def countTriple(n):
    m = 0
    for i in n:
        count = 0
        k = ""
        k += i
        for i in n:
            if i == k:
                count += 1
                if count >= 3:
                    m += 1
    return m // 3

In [35]:
def countTriple(n):
    x = []
    m = ""
    count = 0
    for i in range(3, len(n)+1):
        z = n[i-3:i]
        x.append(z)
    for k in range(len(n)):
        p = n[k]*3
        if n[k] not in m:
            m += n[k]
            if p in x:
                count += x.count(p)
    return count
    
    
print(countTriple("abcXXXabc"))
print(countTriple("xxxabyyyycd"))
# print(countTriple("a"))
# print(countTriple("aaaaaaaaaaaaaaaaaa"))

1
3

In [26]:
x = ["fas", "fadf", "fas", "fas"]
print(x.count('fas'))

3

In [56]:
def check(str1, str2):
    x = ""
    p = ""
    m = 0
    for i in str1:
        if i.isalpha and i not in x:
            x += i
    for k in range(len(x)):
        o = 0
        for j in range(len(word2)):
            if str2[j] == x[k]:
                o += 1
            if o >= 2 and str2[j] not in p and str2[j] == x[k]:
                p += str2[j]
    return p


word1 = "aaddffgghhjjkkl"
word2 = "asdfghjklz"
check(word2, word1)

'adfgh'

In [54]:
def check(str1, str2):
    x = ""
    z = ""
    f = ""
    for i in str1:
        if i.isalpha and i not in x:
            x += i
    for j in str2:
        c = 0
        for k in x:
            if k == j:
                z += k
    for _ in z:
        if _ not in f:
            c = list(z).count(_)
            if c > 1:
                f += _
    return f


word1 = "aaddffgghhjjkkl"
word2 = "asdfghjklz"
check(word2, word1)

'adfghjk'

In [58]:
def end_other(str1, str2):
    str1 = str1.lower()
    str2 = str2.lower()
    if len(str1) > len(str2):
        if str1[-len(str2):] == str2:
            return True
    elif len(str2) > len(str1):
        if str2[-len(str1):] == str1:
            return True
    elif str2 == str1:
        return True
    else:
        return False
    

print(end_other('Hiabc', 'abc'))
print(end_other('AbC', 'HiaBc'))
print(end_other('abc', 'abXabc'))

True
True
True

In [60]:
def xyz_there(str1):
    if "xyz" in str1:
        if ".xyz" in str1:
            return False
        else:
            return True
    else:
        return False
    

print(xyz_there('abcxyz'))
print(xyz_there('abc.xyz'))
print(xyz_there('xyz.abc'))

True
False
True

In [62]:
def change(str1):
    n = str1[0]
    n1 = str1[1:]
    z = "" + n
    for i in range(len(n1)):
        if n == n1[i]:
            z += "$"
        else:
            z += n1[i]
    return z

    
change('restart')

'resta$$t'

In [65]:
def swap(str1, str2):
    x1 = str2[:2] + str1[2:]
    x2 = str1[:2] + str2[2:]
    x3 = x1 + " " +x2
    return x3
    
    
swap('abc', 'xyz')

'xyc abz'

In [66]:
def add(str1):
    if len(str1) > 2:
        if str1[-3:] == "ing":
            return str1 + 'ly'
        else:
            return str1 + 'ing'
    else:
        return str1
    
print(add('string'))
print(add('abc'))

stringly
abcing

In [86]:
def replace(str1):
    x1 = "not"
    x2 = "poor"
    x3 = "poo"
    if x1 in str1 and x2 in str1:
        for i in range(3, len(str1)):
            str2 = str1[i-3:i]
            if str2 == x1:
                i1 = i
            elif str2 == x3:
                for j in range(4, len(str1)):
                    str3 = str1[j-4:j]
                    if str3 == x2:
                        j1 = j
        return str1[:i1-3] + "good" + str1[j1:]
    else:
        return str1
    
    
print(replace("The lyrics is not that poor!")) #'The lyrics is good!'
print(replace('The lyrics is poor!')) #'The lyrics is poor!'

The lyrics is good!
The lyrics is poor!

In [95]:
def replace(str1):
    x1 = "not"
    x2 = "poor"
    x3 = "poo"
    if x1 in str1 and x2 in str1:
        for i in range(3, len(str1)+1):
            str2 = str1[i-3:i]
            if str2 == x1:
                i1 = i
            elif str2 == x3:
                for j in range(4, len(str1)+1):
                    str3 = str1[j-4:j]
                    if str3 == x2:
                        j1 = j
        return str1[:i1-3] + "good" + str1[j1:]
    else:
        return str1


print(replace("The lyrics is not that poor!")) #'The lyrics is good!'
print(replace('The lyrics is poor!')) #'The lyrics is poor!'

The lyrics is good!
The lyrics is poor!

In [98]:
def replace(str1):
    x1 = "not"
    x2 = "poor"
    if x1 in str1 and x2 in str1:#I want make sure those are in the string
        for i in range(3, len(str1)+1):#because the last one does not include in range and index[:]
            if str1[i-3:i] == x1:#now i make shore this is the position of not
                i1 = i#because the i will change after it and i want memorize it
        for j in range(4, len(str1)+1):#same the last
            if str1[j-4:j] == x2:#same step
                j1 = j#same step
        return str1[:i1-3] + "good" + str1[j1:]
        """
        Same calculus 
        I now the position of n's not has position (i1-3) and t has (i1-1)
        the last one does not include if i put position's (n), n will not include
        same thing in poor
        """
    else:#those are not in the string because of that i return the string without any change
        return str1


print(replace("The lyrics is not that poor!")) #'The lyrics is good!'
print(replace('The lyrics is poor!')) #'The lyrics is poor!'

The lyrics is good!

In [100]:
def replace(x):
    x1 = "poor"
    x3 = "not"
    if x1 in x and x3 in x:
        for i in range(4, len(x)+1):
            x4 = x[i-4:i]
            if x4 == x1:
                i1 = i

In [136]:
def non_repeating(n):
    j = list(n)
    for i in n:
        if j.count(i) > 1:
            return i
        
            
print(non_repeating("zhhhaaaaalloooowwwwwbb"))

h

In [137]:
def remove_spaces(n):
    s = " "
    n2 = ''
    for i in n:
        if s != i:
            n2 += i
    return n2

print(remove_spaces("fjasdfs      kalsjdfkl f af "))

fjasdfskalsjdfklfaf

In [172]:
def max_consecutive_0(n):
    x = 0
    z = n.split("1")
    for i in z:
        if len(i) > x:
            x = len(i)
    return x
    

print(max_consecutive_0('111000010000110')) # 4
print(max_consecutive_0('111000111')) # 3

4
3

In [ ]:
def replace_words(n):
    


replace_words('Count the lowercase letters in the said list of words')
"""
##### the ######### ####### in the said list of ######
"""

In [185]:
def replace_words(n):
    z = n.split(" ")
    q = z[-1]
    p = ""
    for i in z:
        if len(i) >= 5 and i != q:
            p += (("#" * len(i))+" ")
        elif q == i:
            if len(i) >= 5:
                p += ("#" * len(i))
            else:
                p += i
        else:
            p += (i + " ")  
    return p

replace_words('Count the lowercase letters in the said list of words')
# """
# ##### the ######### ####### in the said list of ######
# """

'##### the ######### ####### in the said list of #####'

In [186]:
def digit_sum(n):
    s = 0
    for i in n:
        s += int(i) 
    return s
    
digit_sum("123") # 6

6

In [187]:
def lower_n_letters(s,n):
    s1 = s[:n]
    s2 = s[n:]
    s3 = s1.lower() + s2
    return s3
    
    
lower_n_letters('W3RESOURCE.COM', 4) # w3reSOURCE.COM

'w3reSOURCE.COM'

In [5]:
def Pig_Latin(n):
    z = n.split(" ")
    z1 = ""
    for i in z:
        z1 += i[1:] + i[0] + "AY" + " "
    return z1
    
    
print(Pig_Latin("I SLEPT MOST OF THE NIGHT")) #"IAY LEPTSAY OSTMAY FOAY HETAY IGHTNAY"

IAY LEPTSAY OSTMAY FOAY HETAY IGHTNAY
IAY LEPTSAY OSTMAY FOAY HETAY IGHTNAY

In [9]:
def prime(n):
    x = 1000
    list1 = [2,]
    for i in range(3, x):
        for g in range(2, i):
            if (i % g) == 0:
                break
        else:
            list1.append(i)
    for j in range(len(list1)):
        if j == len(list1)-1:
            return False
        else:
            list2 = list1[j+1] + list1[j]
            if list2 == n:
                return True
    return False
print(prime(7))

False

In [24]:
def amicable_numbers_sum(n):
    list1 = 0
    sum1 = 0
    for i in range(1, n+1):
        divisori = 0
        divisori1 = 0
        for j in range(1, i):
            if i % j == 0:
                divisori += j
        if divisori != i:
            for i1 in range(1, divisori):
                if divisori % i1 == 0:
                    divisori1 += i1
            if divisori1 == i:
                sum1 += i
    return sum1


amicable_numbers_sum(9999)

31626

In [20]:
x = []
for i in range(1,28):
    if 28 % i == 0:
        x.append(i)
print(x)

[1, 2, 4, 7, 14]

In [21]:
1+2+4+7+14

28

In [ ]:
#6: Count how many words in a list have length 5.

In [29]:
import random
def maximum(n):
    x = n[0]
    for i in n:
        if i > x:
            x = i
    return x

a = []
for q in range(100):
    a.append(random.randint(0,1001))

print(maximum(a))

1000

In [30]:
def count(n):
    cou = 0
    for i in n:
        if len(i) == 5:
            cou += 1
    return cou

n = ["fsadf", "fsadf", "fsadf", "fsadf", "fsadf", "fsadf", 'fasd']
count(n)

6

In [ ]:
"""Task #1"""


def check(n):
    a = n[0]
    for i in range(len(n)):
        if a != n[i]:
            return False
    return True
    

x = (1, 2, 4, 66, 8, 9, 0)
tuple1 = (45, 45, 45, 45)
print(check(tuple1))
print(check(x))

In [33]:
mydict = {"cat":12, "dog":6, "elephant":23}
mydict["mouse"] = mydict["cat"] + mydict["dog"]
print(mydict["mouse"])

18

In [34]:
inventory={"apples":430, "bananas":312, "oranges":525, "pears":217}

for akey in inventory.keys():
    print(akey, " maps to ",  inventory[akey])
    
    
ks=list(inventory.keys())
print(ks)

apples  maps to  430
bananas  maps to  312
oranges  maps to  525
pears  maps to  217
['apples', 'bananas', 'oranges', 'pears']

In [35]:
for k in inventory:
    print (k) #accessing keys
    print(inventory[k]) #accessing values

apples
430
bananas
312
oranges
525
pears
217

In [46]:
inventory={"apples":430, "bananas":312, "oranges":525, "pears":217}

print(list(inventory.values()))
print(list(inventory.items()))

print(inventory.values())
print(inventory.items())

[430, 312, 525, 217]
[('apples', 430), ('bananas', 312), ('oranges', 525), ('pears', 217)]
dict_values([430, 312, 525, 217])
dict_items([('apples', 430), ('bananas', 312), ('oranges', 525), ('pears', 217)])

In [47]:
for (key,value) in inventory.items():
    print (key, value)

apples 430
bananas 312
oranges 525
pears 217

In [56]:
inventory={"apples":430, "bananas":312, "oranges":525, "pears":217}
print("apples" in inventory)
apples = inventory["apples"]
print(430 in inventory)

True
False

In [58]:
inventory={"apples":430, "bananas":312, "oranges":525, "pears":217}
print(inventory.get("apples"))
print(inventory.get("cherries",0))
print(inventory.get("cherries"))

430
0
None

In [59]:
mydict = {"cat":12, "dog":6, "elephant":23, "bear":20}
keylist = list(mydict.keys())
keylist.sort()
print(keylist[3])

elephant

In [61]:
mydict = {"cat":12, "dog":6, "elephant":23, "bear":20}
answer = mydict.get("cat") // mydict.get("dog")
print(answer)

2

In [64]:
opposites={"up":"down", "right":"wrong", "true":"false"}
acopy=opposites.copy()
acopy["right"]="left"

print(opposites["right"])

wrong

In [84]:
person = {"Name":"John", "Age":6, "Class":"First"}
print(person)
person["school"] = "DPS"
print(person)
del person["Class"]
print(person)
person["Age"] = 8
print(person)
print(len(person))
print(list(person.values()))
print(list(person.keys()))
print(list(person.items()))
print(person.get("Name", 0))
for i in person:
    print(i,"in this dictionary is related to the following value:", str(person[i]) + ".")

{'Name': 'John', 'Age': 6, 'Class': 'First'}
{'Name': 'John', 'Age': 6, 'Class': 'First', 'school': 'DPS'}
{'Name': 'John', 'Age': 6, 'school': 'DPS'}
{'Name': 'John', 'Age': 8, 'school': 'DPS'}
3
['John', 8, 'DPS']
['Name', 'Age', 'school']
[('Name', 'John'), ('Age', 8), ('school', 'DPS')]
John
Name in this dictionary is related to the following value: John.
Age in this dictionary is related to the following value: 8.
school in this dictionary is related to the following value: DPS.

In [93]:
def add_fruit(inventory, fruit, quantity=0):
     inventory[fruit] = quantity + inventory.get(fruit, 0)

new_inventory = {}
add_fruit(new_inventory, 'strawberries', 10)
print('strawberries' in new_inventory)
print(new_inventory)
add_fruit(new_inventory, 'strawberries', 25)
print(new_inventory['strawberries'] == 35)

True
{'strawberries': 10}
True

In [96]:
def schedule(n):
    n = list(n.lower())
    em1 = {}
    n.sort()
    for i in n:
        if i.isalpha():
            em1[i] = n.count(i)
    for j in em1:
        print(j, ":", em1[j])
    
    
x = input("Enter a sentence: ")
schedule(x)

Enter a sentence: acdebf
a : 1
b : 1
c : 1
d : 1
e : 1
f : 1

In [103]:
def multiply(n):
    s = 1
    for i in n:
        s *= i
    return s

multiply([1, 2, 3, 4, 5, 6, 7, 8, 9])

362880

In [100]:
1*2*3*4*5*6*7*8*9

362880

In [2]:
def smallest(n):
    n1 = n[0]
    for i in n:
        if n1 > i:
            n1 = i
    return n1

smallest([1, 2, 3, 4, 5, 6, 7, 8, 9])

1

In [9]:
def lenn(n):
    count = 0
    for i in n:
        if type(i) == type(""):
            if len(i) >= 2:
                if i[0] == i[-1]:
                    count += 1
    return count

lenn(['abc', 'xyz', 'aba', '1221'])

2

In [1]:
def remove(n):
    n1 = []
    for i in n:
        if i not in n1:
            n1.append(i)
    return n1


remove([1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
def check(n):
    if len(n) == 0:
        return "This is an empty list"
    else:
        return "This is not an empty list"

print(check([]))
print(check([1]))

This is an empty list
This is not an empty list

In [9]:
def lis(n):
    n1 = []
    for i in n:
        n1.append(i)
    return n1, n

print(lis([1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9]))

([1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9])

In [10]:
def find(n1, n):
    n3 = []
    for i in n1:
        if type(i) == type(""):
            if len(i) > n:
                n3.append(i)
    return n3

find(['abc', 'xyz', 'aba', '1221'], 3)

['1221']

In [11]:
def comm(n1, n2):
    for i in n1:
        if i in n2:
            return True
    else:
        return False

print(comm(['abc', 'xyz', 'aba', '1221'], ['abc', 'xyz', 'aba', '1221']))
print(comm(['abc', 'xyz', 'aba', '1221'], ['aabc', 'xxyz', 'aaba', '11221']))

True
False

In [16]:
def remove(n):
    
    n1 = n[1:4] + n[6:]
    return n1
    
remove(['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'])#['Green', 'White', 'Black']

['Green', 'White', 'Black']

In [19]:
def filterr(n):
    eml = []
    for i in n:
        if type(i) != type(1):
            return "The list has other integers type"
    for j in n:
        if j % 2 != 0:
            eml.append(j)
    return eml


filterr([1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 12, 13, 14, 15, 15, 15])

[1, 3, 5, 7, 9, 9, 9, 13, 15, 15, 15]

In [17]:
"""   Task one  """

def same(n):
    n1 = n[0]
    for i in n:
        if n1 != i:
            return False
    return True

same((1, 1, 1,1))

True

In [36]:
def convert(n):
    n1 = []
    for i in n:
        if type(i) != type(""):
            n1.append(str(i)) 
        else:
            n1.append(i)
    return n1

print(convert([1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 12, 13, 14, 15, 15, 15, "hi"]))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '9', '9', '10', '12', '13', '14', '15', '15', '15', 'hi']

In [39]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 12, 13, 14, 15, 15, 15, "hi"]
def find_index(n1, n):
    z = n1.index(n)
    return z
print(find_index([1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 12, 13, 14, 15, 15, 15, "hi"], "hi"))
print(len(x))

18
19

In [49]:
def appp(n1, n2):
    for i in n2:
        n1.append(i)
    return n1

x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 12, 13, 14, 15, 15, 15, "hi"]
x1 = ['abc', 'xyz', 'aba', '1221']
print(appp(x, x1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 12, 13, 14, 15, 15, 15, 'hi', 'abc', 'xyz', 'aba', '1221']

In [55]:
import random
def randpic(n):
    return n[random.randint(0,len(n)-1)]
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 12, 13, 14, 15, 15, 15, "hi"]
randpic(x)

15

In [58]:
def find(n):
    n1 = []
    n00 = n[0]
    for i in n:
        if i < n00:
            n00 = i
    for j in n:
        if j != n00:
            n1.append(j)
    n01 = n1[0]
    for k in n1:
        if n01 > k:
            n01 = k
    return n01

x = [1 ,2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 12, 13, 14, 15, 15, 15, 1.5]
find(x)

1.5

In [21]:
import random
def average_of_list(n):
    summ = 0
    for i in n:
        summ += i
    return summ/len(n)
x = []
for i in range(100):
    x.append(random.randint(0,100))
    
print(average_of_list(x))

53.95

In [25]:
x = []
for i in range(100):
    x.append(random.randint(0,100))
def maxx(n):
    z = n[0]
    for j in n:
        if j > z:
            z = j
    return z

print(maxx(x))

99

In [26]:
x = [2, 3, 4]
def sums(n):
    z = 0
    for i in n:
        z += (i**2)
    return z

print(sums(x))

29

In [27]:
x = [2, 3, 4]
def count_odd(n):
    count = 0
    for i in n:
        if i % 2 == 1:
            count += 1
    return count

print(count_odd(x))

1

In [28]:
x = [2, 3, 4]
def sume(n):
    ss = 0 
    for i in n:
        if i % 2 == 0:
            ss += i
    return ss

sume(x)

6

In [30]:
x = ["fasdffd", "fasss", "fasdffd", "fasdffd", "fasdffd"]
def countl(n):
    z = []
    for i in x:
        if len(i) == 5:
            z.append(i)
    return z

countl(x)

['fasss']

In [47]:
person = {"name" : "john","age" : 6,"class" : "first"}
person["school"] = "ADS"
print(person)
del person["class"]
print(person)
person["age"] = 8
print(len(person))
print(person.values())
print(person.items())
print(person.keys())
print(person.get("man", 0))
for i in person:
    print(i,"in the this dictionary is related to the following value: ", person[i])

{'name': 'john', 'age': 6, 'class': 'first', 'school': 'ADS'}
{'name': 'john', 'age': 6, 'school': 'ADS'}
3
dict_values(['john', 8, 'ADS'])
dict_items([('name', 'john'), ('age', 8), ('school', 'ADS')])
dict_keys(['name', 'age', 'school'])
0
name in the this dictionary is related to the following value:  john
age in the this dictionary is related to the following value:  8
school in the this dictionary is related to the following value:  ADS

In [61]:
def sclg(n):
    n1 = []
    n00 = n[0]
    for i in n:
        if n00 < i:
            n00 = i
    for j in n:
        if j != n00:
            n1.append(j)
    n01 = n1[0]
    for k in n1:
        if n01 < k:
            n01 = k
    return n01

x = [1 ,2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 12, 13, 14, 15, 15, 15, 1.5]
sclg(x)

14

In [62]:
def uni(n):
    p = []
    for i in n:
        if n.count(i) == 1:
            p.append(i)
    return p

x = [1 ,2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 10, 12, 13, 14, 15, 15, 15, 1.5]
uni(x)

[1, 2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 1.5]

In [67]:
def countel(n, min, max):
    count = 0
    for i in n:
        if min < i < max:
            count += 1
    return count


x = [1 ,2, 3, 4, 5, 6, 6, 7, 8, 9, 9, 9, 10, 12, 13, 14, 15, 15, 15, 1.5]
countel(x, 5, 7)

2

In [80]:
x = [1 ,2, 3, 4, 5, 6, 6, 7, 8, 9, 9, 9, 10, 12, 13, 14, 15, 15, 15, 1.5,["hi", "myname"]]
x1 = [1 ,2, 3, 4, 5, 6, 6, 7, 8, 9, 9, 9, 10, 12, 13, 14, 15, 15, 15, 1.5]
def checksub(n):
    for i in range(len(n)):
        if type(n[i]) == type([""]):
            return True
    return False

emp = x.copy()
print(emp)
print(checksub(x))
print(checksub(x1))

[1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 9, 9, 10, 12, 13, 14, 15, 15, 15, 1.5, ['hi', 'myname']]
True
False

In [74]:
def concatenating(l, n):
    empli = []
    for i in range(1, n+1):
        for j in range(len(l)):
            empli.append(str(l[j]) + str(i))
    return empli
    
    
concatenating(['p', 'q'], 6) #['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5', 'p6', 'q6']

In [86]:
def concatenating(l, n):
    empli = []
    for i in range(1, n+1):
        for j in range(len(l)):
            empli.append(str(l[j]) + str(i))
    return empli
    
    
concatenating(['p', 'q'], 6) #['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

[1, 0, 3, 2, 5, 4]

In [81]:
# List of integers
lis = [3, 1, 4, 1, 5, 9, 2, 6, 5]
 
# Removing first and second element
del lis[0]
 
# Printing the list
print(lis)
 
# Removing last two elements
del lis[-2:]
 
# Printing the list
print(lis)

[1, 4, 1, 5, 9, 2, 6, 5]
[1, 4, 1, 5, 9, 2]

In [90]:
def indexx(n):
    n1 = n.copy()
    for i in range(len(n)):
        if n[i] % 2 == 0:
            z = n[i]
            del n1[i]
            n1.insert(i+1, z)
    return n1

indexx([0,1,2,3,4,5]) #[1, 0, 3, 2, 5, 4]

[1, 0, 3, 2, 5, 4]

In [3]:
def convert(n):
    z = ""
    for i in range(len(n)):
        z1 = str(n[i])
        z += z1
    return int(z)
        
    
# convert(["fak;lsdjf","fjkl;as"])    
convert([11, 33, 50])#[11, 33, 50]

113350

In [1]:
x = str(3.5)
print(len(x))

3

In [5]:
def split(n):
    n2 = []
    for i in n:
        if i[0] not in n2:
            n2.append(i[0])
    n2.sort()
    for j in n:
        z = j[0]
        z1 = n2.index(z)
        n2.insert(z1+1, j)
    return n2
        



word_list = ['be','have','do','say','get','make','go','know','take','see','come','think',
'look','want','give','use','find','tell','ask','work','seem','feel','leave','call']
print(split(word_list))

['a', 'ask', 'b', 'be', 'c', 'call', 'come', 'd', 'do', 'f', 'feel', 'find', 'g', 'give', 'go', 'get', 'h', 'have', 'k', 'know', 'l', 'leave', 'look', 'm', 'make', 's', 'seem', 'see', 'say', 't', 'tell', 'think', 'take', 'u', 'use', 'w', 'work', 'want']

In [9]:
def splitLst(x):
    dictionary = {}
    for word in x:
        
        f = word[0]
        if f in dictionary.keys():
             dictionary[f].append(word)
        else:
             dictionary[f] = [word]
    return dictionary

print(splitLst(word_list))

{'b': ['be'], 'h': ['have'], 'd': ['do'], 's': ['say', 'see', 'seem'], 'g': ['get', 'go', 'give'], 'm': ['make'], 'k': ['know'], 't': ['take', 'think', 'tell'], 'c': ['come', 'call'], 'l': ['look', 'leave'], 'w': ['want', 'work'], 'u': ['use'], 'f': ['find', 'feel'], 'a': ['ask']}

In [15]:
def insert(n, n1):
    n3 = " " + n1 + " "
    n2 = n3.join(n)
    n2 = n2.split()
    return n2

word_list = ['be','have','do','say','get','make','go','know','take','see','come','think',
'look','want','give','use','find','tell','ask','work','seem','feel','leave','call']

print(insert(word_list, "hi"))

['be', 'hi', 'have', 'hi', 'do', 'hi', 'say', 'hi', 'get', 'hi', 'make', 'hi', 'go', 'hi', 'know', 'hi', 'take', 'hi', 'see', 'hi', 'come', 'hi', 'think', 'hi', 'look', 'hi', 'want', 'hi', 'give', 'hi', 'use', 'hi', 'find', 'hi', 'tell', 'hi', 'ask', 'hi', 'work', 'hi', 'seem', 'hi', 'feel', 'hi', 'leave', 'hi', 'call']

In [18]:
def replace2(n1, n2):
    n3 = n1[:-1] + n2
    return n3
    
    
replace2([1, 3, 5, 7, 9, 10], [2, 4, 6, 8])#[1, 3, 5, 7, 9, 2, 4, 6, 8]

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [ ]:
def inserrt(n1, n2):
    
    
    
inserrt([1,2,3,4],emp)#['emp1', 'emp2', 'emp3', 'emp4']

In [25]:
gewr = 9

In [20]:
def longest_nonrepeating_substring(txt):
	txt2 = list(txt)
	txt3 = []
	for i in txt2:
		if i not in txt3:
			txt3.append(i)
	txt4 = "".join(txt3)
	return txt4

print(longest_nonrepeating_substring("abcabcbb"))

print(longest_nonrepeating_substring("aaaaaa"))

print(longest_nonrepeating_substring("abcde"))

print(longest_nonrepeating_substring("abcda"))

abc
a
abcde
abcd

In [ ]:
def longest_nonrepeating_substring(txt):
	empty_list = []
	empty_string1 = ""
	the_end_str = ""
	txt_list = list(txt)
	empty_string2 = ""
	for i in txt:
		if i not in empty_string1:
			empty_string1 += i
		else:
			empty_list.append(empty_string1)
			empty_string = ""
	empty_list.append(empty_string1)
	for k in range(2, len(txt_list)+1):
		x = str(txt_list[k-2]) + str(txt_list[k-1])
		if x[0] != x[1]:
			empty_string2 += x
		else:
			empty_list.append(empty_string2)
			empty_string2 = ''
	#empty_list.append(empty_string2)
	for j in empty_list:
		if len(j) > len(the_end_str):
			the_end_str = j
	return the_end_str
		
			
longest_nonrepeating_substring("abcabcbb")
longest_nonrepeating_substring("aaaaaa")
longest_nonrepeating_substring("abcde")
longest_nonrepeating_substring("abcda")

In [ ]:
def longest_nonrepeating_substring(txt):
	empty_list = []
	empty_string1 = ""
	the_end_str = ""
	txt_list = list(txt)
	empty_string2 = ""
	empty_string3 = ""
	for i in txt:
		if i not in empty_string1:
			empty_string1 += i
		else:
			empty_list.append(empty_string1)
			empty_string = ""
	empty_list.append(empty_string1)
	for k in range(2, len(txt_list)+1):
		x = str(txt_list[k-2]) + str(txt_list[k-1])
		if x[0] != x[1]:
			empty_string2 += x
		else:
			for p in empty_string2:
				if p not in empty_string3:
					empty_string3 += p
				else:
					empty_list.append(empty_string3)
					empty_string3 = ''
			empty_list.append(empty_string3)
			empty_string3 = ''
	for j in empty_list:
		if len(j) > len(the_end_str):
			the_end_str = j
	return the_end_str
		
			
longest_nonrepeating_substring("abcabcbb")

longest_nonrepeating_substring("aaaaaa")

longest_nonrepeating_substring("abcde")

longest_nonrepeating_substring("abcda")

In [22]:
def longest_nonrepeating_substring(txt):
	empty_str = ''
	empty_str2 = ''
	txt_list = list(txt)
	x = 0
	empty_lst = []
	for i in range(len(txt) * len(txt)):
		for j in txt_list:
			if j not in empty_str:
				empty_str += j
			else:
				empty_lst.append(empty_str)
				empty_str = ''
				x += 1
				txt_list = txt_list[x:]
				continue
	for k in empty_lst:
		if len(k) > len(empty_str2):
			empty_str2 = k
	return empty_str2
			
longest_nonrepeating_substring("abcabcbb")

'cb'

In [ ]:
def longest_nonrepeating_substring(txt):
	empty_str = ''
	empty_str2 = ''
	empty_lst = []
	for i in range(len(txt) * len(txt)):
		for j in txt:
			if j not in empty_str:
				empty_str += j
			else:
				empty_lst.append(empty_str)
				empty_str = ''
				txt = txt[1:]
				continue
	for k in empty_lst:
		if len(k) > len(empty_str2):
			empty_str2 = k
	return empty_str2
			
longest_nonrepeating_substring("abcabcbb")

longest_nonrepeating_substring("aaaaaa")

longest_nonrepeating_substring("abcde")

longest_nonrepeating_substring("abcda")

In [ ]:
def longest_nonrepeating_substring(txt):
	empty_str = ''
	empty_str2 = ''
	empty_lst = []
	for i in range(len(txt) * len(txt)):
		for j in txt:
			if j not in empty_str:
				empty_str += j
			else:
				empty_lst.append(empty_str)
				empty_str = ''
				txt = txt[1:]
				break
	for k in empty_lst:
		if len(k) > len(empty_str2):
			empty_str2 = k
	return empty_str2
			
longest_nonrepeating_substring("abcabcbb")

longest_nonrepeating_substring("aaaaaa")

longest_nonrepeating_substring("abcde")

longest_nonrepeating_substring("abcda")

In [ ]:
def longest_substring(digits):
	x, empty_list, empty_string, empty_string2 = int(digits[1]) % 2, [], "", ""
	for i in range(len(digits)):
		for i in digits:
			if int(i) % 2 != x:
				empty_string += str(i)
				if x == 1:
					x = 0
				else:
					x = 1
			else:
				if len(empty_string) >= 2:
					empty_list.append(empty_string)
					empty_string = ''
					digits = digits[1:]
					if x == 1:
						x = 0
					else:
						x = 1
				else:
					empty_string = ''
					digits = digits[1:]
					if x == 1:
						x = 0
					else:
						x = 1
	for k in empty_list:
		if len(k) > len(empty_string2):
			empty_string2 = k
	return empty_string2

In [23]:
def replacee(n1, n):
    ls = []
    for i in n1:
        ls.append(n + str(i))
    return ls


replacee([1,2,3,4], "emp")#['emp1', 'emp2', 'emp3', 'emp4']

['emp1', 'emp2', 'emp3', 'emp4']

In [37]:
def zero_move(n):
    new_n, the_end_list = [], []
    for i in n:
        if i == 0:
            new_n.append(i)
        else:
            the_end_list.append(i)
    the_end_list += new_n
    return the_end_list
    
    
    
print(zero_move([3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]))
print([3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0])

[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [40]:
def find_a_list(n):
    sum1 = 0
    highest = ""
    for i in n:
        sum2 = 0
        for j in i:
            sum2 += j
        if sum2 > sum1:
            sum1 = sum2
            highest = i
    return highest
    
    
find_a_list([[1,2,3], [4,5,6], [10,11,12], [7,8,9]])#[10, 11, 12]

[10, 11, 12]

In [42]:
def find_greader(n, n1):
    n3 = []
    for i in n:
        if i > n1:
            n3.append(i)
    return n3
    

x = [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
find_greader(x, 6)

[7, 8, 9]

In [50]:
def del_consecutive_duplicates(n):
    n1 = n[0:2]
    for i in n:
        if i != n1[-1]:
            n1.append(i)
    if n1[0] == n1[1]:
        n1 = n1[1:]
    return n1
    
    
    
x = [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
print(del_consecutive_duplicates(x))#[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 4]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 4]

In [68]:
def make_list(n):
    n2 = []
    n3 = []
    for i in n:
        if i in n2:
            n2 += [i]
        else:
            if len(n2) == 0:
                n2 += [i]
            else:
                n3 += [n2]
                n2 = ""
                n2 = [i]
    n3 += [n2]
    return n3

    
x = [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
print(make_list(x))#[[0, 0], [1], [2], [3], [4, 4], [5], [6, 6, 6], [7], [8], [9], [4, 4]]

[[0, 0], [1], [2], [3], [4, 4], [5], [6, 6, 6], [7], [8], [9], [4, 4]]

In [69]:
def make_list(n):
    n1, n2 = [], []
    for j in n + [""]:
        if j in n1:
            n1 += [j]
        else:
            if len(n1) == 0:
                n1 += [j]
            else:
                n2 += [n1]
                n1 = ""
                n1 = [j]
    return n2
            
    
x = [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
print(make_list(x))#[[0, 0], [1], [2], [3], [4, 4], [5], [6, 6, 6], [7], [8], [9], [4, 4]]

[[0, 0], [1], [2], [3], [4, 4], [5], [6, 6, 6], [7], [8], [9], [4, 4]]

In [70]:
def splitt(listt, n):
    n1 = listt[:n]
    n2 = listt[n:]
    n3 = (n1, n2)
    return n3
    
    
splitt([1, 1, 2, 3, 4, 4, 5, 1], 3) #([1, 1, 2], [3, 4, 4, 5, 1])

([1, 1, 2], [3, 4, 4, 5, 1])

In [73]:
def remov_kth(listt, n):
    del listt[n-1]
    return listt

remov_kth([1, 1, 2, 3, 4, 4, 5, 1], 3) # [1, 1, 3, 4, 4, 5, 1]

[1, 1, 3, 4, 4, 5, 1]

In [84]:
def insert_kth(lst, kth, element):
    lst.insert(kth-1, element)
    return lst


print(insert_kth([1, 1, 2, 3, 4, 4, 5, 1], 3, 12)) # [1, 1, 12, 2, 3, 4, 4, 5, 1]

[1, 1, 12, 2, 3, 4, 4, 5, 1]

In [89]:
import random
def random_select(n, n2):
    n3 = []
    for i in range(n2):
        x = random.randint(0, len(n)-1)
        n3.append(n[x])
    return n3

random_select([1, 1, 2, 3, 4, 4, 5, 1], 3)

[4, 4, 4]

In [91]:
import random
def random_select(n, n2):
    return random.sample(n, n2)

random_select([1, 1, 2, 3, 4, 4, 5, 1], 3)

[3, 2, 4]

In [93]:
def count_list(n):
    count = 0 
    for i in range(len(n)):
        if type(n[i]) == type([]):
            count += 1
    return count

count_list([[1, 3], [5, 7], [9, 11], [13, 15, 17]])
count_list([[2, 4], [[6, 8], [4, 5, 8]], [10, 12, 14]])

3

In [99]:
def sort(n):
    n1, n2 = {}, []
    for i in range(len(n)):
        summ = 0
        for j in n[i]:
            summ += j
        n1[summ] = n[i]
    m = sorted(n1)
    for k in m:
        n2.append(n1[k])
    return n2
    
    
print(sort([[1, 2, 3], [2, 4, 5], [1, 1, 1]])) # [[1, 1, 1], [1, 2, 3], [2, 4, 5]]
print(sort([[1, 2, 3], [-2, 4, -5], [1, -1, 1]])) # [[-2, 4, -5], [1, -1, 1], [1, 2, 3]]

[[1, 1, 1], [1, 2, 3], [2, 4, 5]]
[[-2, 4, -5], [1, -1, 1], [1, 2, 3]]

In [100]:
def sort(n):
    qamos = {}
    empty_list = []
    for i in n:
        summ = 0
        for j in i:
            summ += j
        qamos[summ] = i
    m = sorted(qamos)
    for k in m:
        empty_list.append(qamos[k])
    return empty_list


print(sort([[1, 2, 3], [2, 4, 5], [1, 1, 1]])) # [[1, 1, 1], [1, 2, 3], [2, 4, 5]]
print(sort([[1, 2, 3], [-2, 4, -5], [1, -1, 1]])) # [[-2, 4, -5], [1, -1, 1], [1, 2, 3]]

[[1, 1, 1], [1, 2, 3], [2, 4, 5]]
[[-2, 4, -5], [1, -1, 1], [1, 2, 3]]

In [104]:
def extract(n, l):
    n1 = []
    for i in n:
        if len(i) == l:
            n1.append(i)
    return n1


extract(['Python', 'list', 'exercises', 'practice', 'solution'], 8)#['practice', 'solution']

['practice', 'solution']

In [107]:
def difference(n):
    n1 = []
    for i in range(1, len(n)):
        n1.append(n[i]-n[i-1])
    return n1

print(difference([1, 1, 3, 4, 4, 5, 6, 7])) #[0, 2, 1, 0, 1, 1, 1]
print(difference([4, 5, 8, 9, 6, 10])) #[1, 3, 1, -3, 4]

[0, 2, 1, 0, 1, 1, 1]
[1, 3, 1, -3, 4]

In [108]:
def count_avg(n1, n2):
    n, summ = n1 + n2, 0
    for i in n:
        summ += i
    return summ/len(n)
count_avg([1, 1, 3, 4, 4, 5, 6, 7], [0, 1, 2, 3, 4, 4, 5, 7, 8]) #3.823529411764706

3.823529411764706

In [ ]:
def