In [1]:
def count_int(n):
    count = 0
    for i in n:
        if type(i) == type(4):
            count += 1
    return count
    
    
count_int([1, 'abcd', 3, 1.2, 4, 'xyz', 5, 'pqr', 7, -5, -12.22]) #6

6

In [4]:
def remove(n, n1):
    new_n = []
    n1 = n1 - 1
    for i in n:
        del i[n1]
        new_n.append(i)
    return new_n
    
    
print(remove([[1, 2, 3], [2, 4, 5], [1, 1, 1]], 1)) #[[2, 3], [4, 5], [1, 1]]
print(remove([[1, 2, 3], [-2, 4, -5], [1, -1, 1]], 3)) #[[1, 2], [-2, 4], [1, -1]]

[[2, 3], [4, 5], [1, 1]]
[[1, 2], [-2, 4], [1, -1]]

In [6]:
def extract(n, n1):
    n1 = n1-1
    new_n = []
    for i in n:
        new_n.append(i[n1])
    return new_n


print(extract([[1, 2, 3], [2, 4, 5], [1, 1, 1]], 1))#[1, 2, 1]
print(extract([[1, 2, 3], [-2, 4, -5], [1, -1, 1]], 3))#[3, -5, 1]

[1, 2, 1]
[3, -5, 1]

In [11]:
def find(n):
    count = 0
    z1 = 0
    for i in n:
        m = n.count(i)
        z = n.index(i)
        if m > count:
            count = m
            z1 = z
    z2 = n[z1]
    return z2
    
    
print(find([2, 3, 8, 4, 7, 9, 8, 2, 6, 5, 1, 6, 1, 2, 3, 4, 6, 9, 1, 2])) #2
print(find([2, 3, 3, 3, 3, 8, 4, 7, 9, 8, 2, 6, 5, 1, 6, 1, 2, 3, 4, 6, 9, 1, 2])) #3

2
3

In [22]:
def check(n):
    n1 = n.copy()
    n1 = sorted(n)
    if n1 == n:
        return True
    else:
        return False
    
print(check([1, 2, 4, 6, 8, 10, 12, 14, 16, 17])) #True
print(check([1, 2, 4, 6, 8, 10, 12, 14, 17, 16])) #False

True
True

In [24]:
def remove(n1, n2):
    e = []
    for i in n1:
        if i not in n2:
            e.append(i)
    return e

remove([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 6, 8])#[1, 3, 5, 7, 9, 10]

[1, 3, 5, 7, 9, 10]

In [34]:
def reverse(n):
    n1 = []
    for i in n:
        n2 = ""
        for j in range(len(i)-1, -1, -1):
            n2 += i[j]
        n1.append(n2)
    return n1

reverse(['Red', 'Green', 'Blue', 'White', 'Black']) #['deR', 'neerG', 'eulB', 'etihW', 'kcalB']

['deR', 'neerG', 'eulB', 'etihW', 'kcalB']

In [36]:
def sum_range(n, s, b):
    summ  = 0
    b += 1
    for i in range(s, b):
        summ += n[i]
    return summ

sum_range([2, 1, 5, 6, 8, 3, 4, 9, 10, 11, 8, 12], 8, 10)

29

In [ ]:
def count(n):
    n1, n2, count = [], [], 0
    for i in n:
        if i not in n1:
            n1.append(i)
            count += 1
        else:

In [37]:
def count(n):
    d, n1, n2 = {}, [], []
    for i in n:
        if i in d:
            d[i] += 1
        else:
            d[i] = 1
    for j in d:
        n1.append(j) 
        n2.append(d[j])
    return (n1, n2)
        
    
count([1, 2, 2, 2, 4, 4, 4, 5, 5, 5, 5])

([1, 2, 4, 5], [1, 3, 3, 4])

In [38]:
def remove(n):
    n1 = []
    for i in n:
        if i not in n1:
            n1.append(i)
    return n1

remove(['Python', 'Exercises', 'Practice', 'Solution', 'Exercises'])
#['Python', 'Exercises', 'Practice', 'Solution']

['Python', 'Exercises', 'Practice', 'Solution']

In [39]:
def remove_empty(n):
    n1 = []
    for i in n:
        if len(i) > 0:
            n1.append(i)
    return n1
    
    
remove_empty([[], [], [], 'Red', 'Green', [1, 2], 'Blue', [], []])
#['Red', 'Green', [1, 2], 'Blue']

['Red', 'Green', [1, 2], 'Blue']

In [41]:
def summ(n, n1):
    n1 -= 1
    summ = 0
    for i in n:
        summ += i[n1]
    return summ


print(summ([[1, 2, 3, 2], [4, 5, 6, 2], [7, 8, 9, 5]],1)) #12
print(summ([[1, 2, 3, 2], [4, 5, 6, 2], [7, 8, 9, 5]],2)) #15
print(summ([[1, 2, 3, 2], [4, 5, 6, 2], [7, 8, 9, 5]],4)) #9

12
15
9

In [42]:
def check(l, n, o):
    z = l.count(n)
    if z >= o:
        return True
    else:
        return False
    
    
print(check([0, 1, 3, 5, 0, 3, 4, 5, 0, 8, 0, 3, 6, 0, 3, 1, 1, 0], 3, 4)) #True
print(check([0, 1, 3, 5, 0, 3, 4, 5, 0, 8, 0, 3, 6, 0, 3, 1, 1, 0], 0, 5)) #True
print(check([0, 1, 3, 5, 0, 3, 4, 5, 0, 8, 0, 3, 6, 0, 3, 1, 1, 0], 8, 3)) #False

True
True
False

In [47]:
def index(l, n):
    for i in l:
        if i > n:
            break
    return l.index(i)
    
    
print(index([12, 45, 23, 67, 78, 90, 100, 76, 38, 62, 73, 29, 83], 73)) #4
print(index([12, 45, 23, 67, 78, 90, 100, 76, 38, 62, 73, 29, 83], 21)) #1
print(index([12, 45, 23, 67, 78, 90, 100, 76, 38, 62, 73, 29, 83], 80)) #5
print(index([12, 45, 23, 67, 78, 90, 100, 76, 38, 62, 73, 29, 83], 55)) #3

4
1
5
3

In [48]:
def first_index(l1, n):
    return next(a[0] for a in enumerate(l1) if a[1] > n)

print(first_index([12, 45, 23, 67, 78, 90, 100, 76, 38, 62, 73, 29, 83], 73)) #4
print(first_index([12, 45, 23, 67, 78, 90, 100, 76, 38, 62, 73, 29, 83], 21)) #1
print(first_index([12, 45, 23, 67, 78, 90, 100, 76, 38, 62, 73, 29, 83], 80)) #5
print(first_index([12, 45, 23, 67, 78, 90, 100, 76, 38, 62, 73, 29, 83], 55)) #3

4
1
5
3

In [49]:
def insert(l, e, n):
    l1 = l.copy()
    l1.insert(n, e)
    return l1
    
    
print(insert([1, 2, 3, 4, 5, 6, 7, 8, 9, 0], "a", 2)) 
#[1, 2, 'a', 3, 4, 'a', 5, 6, 'a', 7, 8, 'a', 9, 0]
print(insert([1, 2, 3, 4, 5, 6, 7, 8, 9, 0], "b", 4)) 
#[1, 2, 3, 4, 'b', 5, 6, 7, 8, 'b', 9, 0]

[1, 2, 'a', 3, 4, 5, 6, 7, 8, 9, 0]
[1, 2, 3, 4, 'b', 5, 6, 7, 8, 9, 0]

In [53]:
def common(n):
    n1 = []
    for i in range(len(n)):
        n2 += [i] 
    for k in n[0]:
        count = 0
        count2 = 0
        for m in n2[1:]:
            if count >= 1:
                count2 += 1
                if count2 >= len(n2-1):
                    n1.append()
            for j in n[m]:
                if j == k:
                    count += 1
            
                
    return n1
                
        
    
    
print(common([[7, 2, 3, 4, 7], [9, 2, 3, 2, 5], [8, 2, 3, 4, 4]]))#[2, 3]
print(common([['a', 'b', 'c'], ['b', 'c', 'd'], ['c', 'd', 'e']]))#['c']

[2, 3]
['c']

In [55]:
def fizz_buzz(num):
	return "Fizz"*(num%3==0) + "Buzz"*(num%5==0) or str(num)
fizz_buzz(3)

'Fizz'

In [57]:
x = "ksmdf"
x.index("d")

3

In [65]:
ord("A") - 64

1

In [76]:
def loves_me(n):
     return 'Loves me, Loves me not, ' * ((n-1) // 2) + \
     ('Loves me, LOVES ME NOT', 'LOVES ME')[n % 2]
loves_me(3)

'Loves me, Loves me not, LOVES ME'

In [67]:
81%15

6

In [81]:
n2 = []
for i in range(5):
    n2 += [i] 
print(n2)

[0, 1, 2, 3, 4]

In [89]:
mylist = iter(["apple", "banana", "cherry"])
print(next(mylist))
print("hallo world")
x = next(mylist)
print(x)
print(x)

apple
hallo world
banana
banana

In [96]:
nums = [[7,2,3,4,7],[9,2,3,2,5],[8,2,3,4,4]]
x = set(nums[0]).intersection(*nums)
print(x)
print(type(x))

{2, 3}
<class 'set'>

In [8]:
users = ["Test User", "Real User 1", "Real User 2"]

for s in enumerate(users, start = 3):
    if s[0] == 3:
        print("hi", s[1])
    print(s[1])

hi Test User
Test User
Real User 1
Real User 2

In [40]:
def common_list_of_lists(lst):
    temp = set(lst[0]).intersection(*lst)
    return temp 


print(common_list_of_lists([[7,2,3,4,7],[9,2,3,2,5],[8,2,3,4,4]])) #[2, 3]
print(common_list_of_lists([['a', 'b', 'c'], ['b', 'c', 'd'], ['c', 'd', 'e']])) #['c']

{2, 3}
{'c'}

In [34]:
set("2 2")

{' ', '2'}

In [54]:
def convert(d):
    return list(bin(d))[2:]

print(convert(8)) #['1', '0', '0', '0']
print(convert(45)) #['1', '0', '1', '1', '0', '1']
print(convert(100)) #['1', '1', '0', '0', '1', '0', '0']

['1', '0', '0', '0']
['1', '0', '1', '1', '0', '1']
['1', '1', '0', '0', '1', '0', '0']

In [55]:
def find(l, n):
    l1, l2 = [], []
    for i in l:
        if i > n:
            l1.append(i)
    for j in l1:
        l2.append(l.index(j))
    return l2


print(find([1234, 1522, 1984, 19372, 1000, 2342, 7626], 3000)) #[3, 6]
print(find([1234, 1522, 1984, 19372, 1000, 2342, 7626], 20000)) #[]

[3, 6]
[]

In [56]:
def find(n, n2):
    return [i for i, val in enumerate(n) if val > n2]

"""
shurtcut for:
l = []
for i, val in enumerate(n):
    if val > n2:
        l.append(i)
return l
"""

print(find([1234, 1522, 1984, 19372, 1000, 2342, 7626], 3000)) #[3, 6]
print(find([1234, 1522, 1984, 19372, 1000, 2342, 7626], 20000)) #[]

[3, 6]
[]

In [68]:
def count_non_zero(n):
    l, l2 = [], []
    for i in n+[0]:
        if i != 0:
            l.append(i)
        else:
            if len(l) == 0:
                pass
            else:
                l2.append(list(l))
                l = []
    return len(l2)

count_non_zero([3, 4, 6, 2, 0, 0, 0, 0, 0, 0, 6, 7, 6, 9, 10, 0, 0,
 0, 0, 0, 5, 9, 9, 7, 4, 4, 0, 0, 0, 0, 0, 0, 5, 3, 2, 9, 7, 1])

4

In [70]:
def test(lst):
    previous_digit = 0
    ctr = 0
    for digit in lst:
        if previous_digit==0 and digit!=0:
            ctr+=1
        previous_digit = digit
    return ctr

nums = [3,4,6,2,0,0,0,0,0,0,6,7,6,9,10,0,0,0,0,0,5,9,9,7,4,4,0,0,0,0,0,0,5,3,2,9,7,1]

test(nums)

4

In [73]:
def summ(n):
    l, l2 =[], []
    for i in n + [0]:
        if i != 0:
            l.append(i)
        else:
            if len(l) > 0:
                l2.append(l)
                l = []
            else:
                pass
    for j in range(len(l2)):
        l2[j] = sum(l2[j])
    return l2

summ([3, 4, 6, 2, 0, 0, 0, 0, 0, 0, 6, 7, 6, 9, 10, 0, 0, 0, 0, 0,
      7, 4, 4, 0, 0, 0, 0, 0, 0, 5, 3, 2, 9, 7, 1, 0, 0, 0]) #[15, 38, 15, 27]

[15, 38, 15, 27]

In [78]:
def check_common(n1, n2):
    n = set(n1).intersection(n2)
    if len(n) == len(n1):
        return True
    return False

print(check_common([1, 2, 4], [2, 4, 1])) #True
print(check_common([1, 2, 3], [1, 2, 3])) #True
print(check_common([1, 2, 3], [1, 2, 4])) #False

True
True
False

In [87]:
def noX(n):
    n1, strr = [], ""
    for i in n:
        for j in i:
            if j == "x":
                pass
            else:
                strr += j
        n1.append(strr)
        strr = ""
    return n1
    
    
print(noX(["ax", 'bb', 'cx'])) #[”a”, ”bb”, ”c”]
print(noX(['xxax', 'xbxbx', 'xxcx'])) #[”a”, ”bb”, ”c”]
print(noX(['x'])) #[””]

['a', 'bb', 'c']
['a', 'bb', 'c']
['']

In [98]:
def count(n):
    co = 0
    for i in n:
        if "q" in i.lower() or "w" in i.lower():
            co += 1
    return co

print(count(['Write', 'a', 'function', 'that', 'counts', 'how', 'many',
           'words', 'occur', 'in', 'a', 'list',
           'up', 'to', 'and', 'including', 'the', 'first', 'word',
           'containing', 'character', 'q', 'or', 'character', 'w.'])) #6
print(count(["hallo", "hi", "w", "q"])) #2

6
2

In [112]:
def first_last6(n):
    if n[0] == 6 or n[-1] == 6 and len(n) >= 1:
        return True
    return False
        

print(first_last6([6])) #True
print(first_last6([0])) #False
print(first_last6([1, 2, 6])) #True
print(first_last6([6, 1, 2, 3])) #True
print(first_last6([13, 6, 1, 2, 3])) #False

True
False
True
True
False

In [110]:
def same_first_last(n):
    if len(n) >= 1 and n[0] == n[-1]:
        return True
    return False


print(same_first_last([1, 2, 3])) #False
print(same_first_last([1, 2, 3, 1])) #True
print(same_first_last([1, 2, 1])) #True

False
True
True

In [109]:
n = [0]
print(n[-1])

0

In [114]:
def common_end(n1, n2):
    if n1[0] == n2[0] or n1[-1] == n2[-1]:
        return True
    return False


print(common_end([1, 2, 3], [7, 3])) #True
print(common_end([1, 2, 3], [7, 3, 2])) #False
print(common_end([1, 2, 3], [1, 3])) #True

True
False
True

In [115]:
def rotate_left3(n):
    if len(n) == 3:
        n1 = n.copy()
        del n1[0]
        n1.append(n[0])
        return n1
    return False
    


print(rotate_left3([1, 2, 3])) #[2, 3, 1]
print(rotate_left3([5, 11, 9])) #[11, 9, 5]
print(rotate_left3([7, 0, 0])) #[0, 0, 7]

[2, 3, 1]
[11, 9, 5]
[0, 0, 7]

In [117]:
def reverse3(n):
    if len(n) == 3:
        n1 = n.copy()
        n1[0], n1[-1] = n[-1], n[0]
        return n1
    return False
    
    
print(reverse3([1, 2, 3])) #[3, 2, 1]
print(reverse3([5, 11, 9])) #[9, 11, 5]
print(reverse3([7, 0, 0])) #[0, 0, 7]

[3, 2, 1]
[9, 11, 5]
[0, 0, 7]

In [119]:
def max_end3(n):
    if len(n) == 3:
        if n[-1] > n[0]:
            return [n[-1] for i in range(3)]
            """
            abbreviation for:
            n2 = []
            for i in range(3):
                n2.append(n[-1])
            return n2
            """
        # We did not need else or elif
        return [n[0] for i in range(3)]
            """
            abbreviation for:
            n2 = []
            for i in range(3):
                n2.append(n[0])
            return n2
            """
    return False


print(max_end3([1, 2, 3])) #[3, 3, 3]
print(max_end3([11, 5, 9])) #[11, 11, 11]
print(max_end3([2, 11, 3])) #[3, 3, 3]

[3, 3, 3]
[11, 11, 11]
[3, 3, 3]

In [120]:
def sum2(n):
    if len(n) == 0:
        return 0
    elif len(n) == 1:
        return int(n)
    return n[0] + n[1]

print(sum2([1, 2, 3])) #3
print(sum2([1, 1])) #2
print(sum2([1, 1, 1, 1])) #2

3
2
2

In [122]:
def middle_way(n1, n2):
    if len(n1) == len(n2) == 3:
        return [n1[1],n2[1]]
    return False


print(middle_way([1, 2, 3], [4, 5, 6])) #[2, 5]
print(middle_way([7, 7, 7], [3, 8, 0])) #[7, 8]
print(middle_way([5, 2, 9], [1, 4, 5])) #[2, 4]

[2, 5]
[7, 8]
[2, 4]

In [125]:
def make_ends(n):
    if len(n) >=1:
        return [n[0], n[-1]]
        """
        abbreviation for:
        n1 = []
        n1 += n[0]
        n1 += n[-1]
        return n1
        """
    return False


print(make_ends([1, 2, 3])) #[1, 3]
print(make_ends([1, 2, 3, 4])) #[1, 4]
print(make_ends([7, 4, 6, 2])) #[7, 2]

[1, 3]
[1, 4]
[7, 2]

In [129]:
        n1 = []
        n = [0, 1]
        n1.append(n[0])
        n1.append(n[-1])
        print(n1)

[0, 1]

In [130]:
def has23(n):
    if len(n) == 2:
        if 2 in n or 3 in n:
            return True
    return False


print(has23([2, 5])) #True
print(has23([4, 3])) #True
print(has23([4, 5])) #False

True
True
False

In [131]:
def count_evens(n):
    return len([i for i in n if i % 2 == 0])
    """
    abbreviation for:
    n1 = []
    for i in n:
        if i % 2 == 0:
            n1.append(i)
    return len(n1)
    """


print(count_evens([2, 1, 2, 3, 4])) #3
print(count_evens([2, 2, 0])) #3
print(count_evens([1, 3, 5])) #0

3
3
0

In [142]:
def big_diff(n):
    if len(n) >= 1:
        s, b = n[0], n[0]
        for j in n:
            if s > j:
                s = j 
            if b < j:
                b = j 
        return b - s 
    
    return False


print(big_diff([10, 3, 5, 6])) #7
print(big_diff([7, 2, 10, 9])) #8
print(big_diff([2, 10, 7, 2])) #8

7
8
8

In [149]:
def centered_average(n):
    if len(n) < 3:
        return False
    b, s = n[0], n[0]
    for i in n:
        if i > b:
            b = i
        if s > i:
            s = i
    s = n.index(s)
    del n[s]
    b = n.index(b)
    del n[b]
    summ = 0
    for j in n:
        summ += j
    return summ // len(n)
    

print(centered_average([1, 2, 3, 4, 100])) #3
print(centered_average([1, 1, 5, 5, 10, 8, 7])) #5
print(centered_average([-10, -4, -2, -4, -2, 0])) #-3

3
5
-3

In [146]:
n = [5,4,4,4,4,4]
b = n.index(4)
del n[b]

In [152]:
def sum13(n):
    if len(n) == 0:
        return 0
    z = sum([i for i in n if i not in [13, 14]])
    """
    abbreviation for:
    n1 = []
    for i in n:
        if i not in [13, 14]:
            n1.append(i)
    z = sum(n1)
    """
    return z

print(sum13([1, 2, 2, 1])) #6
print(sum13([1, 1])) #2
print(sum13([1, 2, 2, 1, 13])) #6

6
2
6

In [160]:
def sum67(n):
    if 6 in n and 7 in n:
        i = [j for j in n if j == 6 or j == 7]
        """
         abbreviation for:
         i = []
         for j in n:
             if j == 6 or j == 7 :
                 i.append(j)
        """
        in6 = n.index(i[0])
        in7 = n.index(i[1])
        del n[in6:in7+1]
    return sum(n)



print(sum67([1, 2, 2])) #5
print(sum67([1, 2, 2, 6, 99, 99, 7])) #5
print(sum67([1, 1, 6, 7, 2])) #4

5
5
4

In [168]:
def has22(n):
    for i in range(1, len(n)):
        if n[i-1] == n[i] == 2:
            return True 
    return False
    
    
print(has22([1, 2, 2])) #True
print(has22([1, 2, 1, 2])) #False
print(has22([2, 1, 2])) #False

True
False
False

In [5]:
def suum(n):
    if 6 in n or 7 in n or 8 in n or 9 in n:
        for i in n:
            if i > 5:
                z = i
                break
        z = n.index(z)
        del n[z]
    return sum(n)

print(suum([1, 2, 2, 6])) #5
print(suum([1, 2, 1, 2])) #4
print(suum([2, 1, 2])) #5
print(suum([2, 1, 7, 2])) #5

5
6
5
5

In [35]:
def summdic(n1, n2, n3):
    n4 = {}
    x = 0
    for i in (n1, n2, n3):
        print(i)
        x += 1
        n4.update({"j":"hi", 56: x})
    return n4

    
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60, 7:70}
summdic(dic1, dic2, dic3) #{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

{1: 10, 2: 20}
{3: 30, 4: 40}
{5: 50, 6: 60, 7: 70}

{'j': 'hi', 56: 3}

##### dic = {}
dic.update(dic1)
print(dic)

In [11]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("color", "white")

print(x)
print(car)
x = car.setdefault("color", "black")
print(x)
print(car)

white
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}
white
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [13]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.pop("model")
print(x)
print(car)

Mustang
{'brand': 'Ford', 'year': 1964}

In [15]:
x = ('key1', 'key2', 'key3')

thisdict = dict.fromkeys(x, 10)

print(thisdict)

{'key1': 10, 'key2': 10, 'key3': 10}

In [21]:
x = ['key1', 'key2', 'key3']
y = ['key1', 'key2', 'key3']

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': ['key1', 'key2', 'key3'], 'key2': ['key1', 'key2', 'key3'], 'key3': ['key1', 'key2', 'key3']}

In [36]:
def check(dic, n):
    if n in dic.keys():
        return True
    return False

car = {"brand": "Ford","model": "Mustang","year": 1964}
print(check(car, "hi")) #False
print(check(car, "brand")) #True

False
True

In [40]:
def iterate(n):
    return [i for i in n.items()]

car = {"brand": "Ford","model": "Mustang","year": 1964}
iterate(car)

[('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)]

In [46]:
def generate(n):
    j = {}
    for i in range(1, n+1):j.update({i:i*i})
    return j

generate(5)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [50]:
def sumdic(n):
    return sum(n.values())

sumdic({5:50,6:60, 7:70}) #180

180

In [52]:
50*60*70

210000

In [53]:
def mult(n):
    n1 = 1
    for i in n.values(): 
        n1 *= i
    return n1

mult({5:50,6:60, 7:70}) #210000

210000

In [54]:
def remove(n, k):
    del n[k]
    return n

remove({5:50,6:60, 7:70}, 5) #{6:60, 7:70}

{6: 60, 7: 70}

In [78]:
def Counter(n1, n2):
    d = {}
    for i in n1: d.update({i:n1.get(i, 0) + n2.get(i, 0)})
    """
    abbreviation for:
    for i in n1:
        d[i] = n1.get(i, 0) + n2.get(i, 0)
    """
    for j in n2 :
        if j not in d: d.update({j: n2[j]})
    """
    abbreviation for:
    if j not in d:
        d[j] = n2[j]
    """
    return d


d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
Counter(d2, d1)#{'a': 400, 'b': 400, 'd': 400, 'c': 300}

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [62]:
d2 = {'a': 300, 'd':400, 'b': 200}
d1 = sorted(d2.items())
print(d1)

[('a', 300), ('b', 200), ('d', 400)]

In [84]:
from collections import Counter
def counter(d1, d2):
    return Counter(d1) + Counter(d2)

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
counter(d2, d1)#Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [3]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [2]:
x = {
  "V":"S001",
  "V": "S002",
  "VI": "S001",
  "VI": "S005",
  "VII":"S005",
  "V":"S009",
  "VIII":"S007"
}

In [24]:
z = [2,2,2,4,4,4,5,5,5,5,6,6,6,6,6,6,6,6]
x = list(set(z))
print(x)

[2, 4, 5, 6]

In [55]:
def uniq(n):
    return tuple(set(j for i in n for j in i.values()))

uniq([{"V":"S001"}, {"V": "S002"}, {"VI": "S001"},
      {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}])

('S001', 'S005', 'S002', 'S009', 'S007')

In [60]:
def uniq(n):
    n1 = [j for i in n for j in i.values()]
    """
    n1 = []
    for i in n:
        for j in i.values():
            n1.append(j)
    """
    return set(n1)

uniq([{"V":"S001"}, {"V": "S002"}, {"VI": "S001"},
      {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}])

{'S001', 'S002', 'S005', 'S007', 'S009'}

In [64]:
def combinations(n):
    n1 = n.copy()
    n2 = []
    for i in n:
        del n1[i]
        for j in n1:
            for k in range(len(n[i])):
                for q in range(len(n1[j])):
                    n2.append(n[i][k] + n1[j][q])
    for a in n2:
        print(a)
    
    
combinations({'1':['a','b'], '2':['c','d']})

ac
ad
bc
bd

In [156]:
def counter(n):
    z = [j for i in n for j in i.values()]
    z1, d = [(z[a-1],z[a]) for a in range(1, len(z), 2)], {}
    for k in z1:d.update({k[0]:k[1] + d.get(k[0], 0)}) 
    return d
    


x = [{'item': 'item1', 'amount': 400},
    {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
counter(x) #{'item1': 1150, 'item2': 300}

{'item1': 1150, 'item2': 300}

In [99]:
def counter(n):
    z = []
    for i in n:
        for j in i.values():
            z.append(j)
    z1 = []
    d = {}
    for a in range(1, len(z), 2):
        z1.append((z[a-1],z[a]))
    for k in z1:
        d[k[0]] = k[1] + d.get(k[0], 0)
    return d

x = [{'item': 'item1', 'amount': 400},
    {'item': 'item2', 'amount': 300}, {'item': 'item1', 'amount': 750}]
counter(x) #{'item1': 1150, 'item2': 300}

{'item1': 1150, 'item2': 300}

In [112]:
def common(lst):
    return list(set(lst[0]).intersection(lst)) 

common_list_of_lists([[7,2,3,4,7],[9,2,3,2,5],[8,2,3,4,4]])

[2, 3]

In [130]:
x = {1,3,4,5,5,6}
print(x)

{1, 3, 4, 5, 6}

In [134]:
def check(n, n1):
    return n[n1-1]

x = [1,3,4,5,5,6]
check(x, 3)

4

In [170]:
def remove_space(n):
    n1, z = {},[]
    for i in n:
        strr = ""
        for j in i:
            if j != " ": strr += j
        n1[strr] = n[i]
    return n1
    
        

remove_space({'ite  m1': 1150, 'ite  m2': 300})

{'item1': 1150, 'item2': 300}

In [179]:
def the_max_min(n):
    m, mi = list(n.values())[0], list(n.values())[0]
    for i in n.values():
        if i > m: m = i
        if i < mi:mi = i
    return "The max", m,"The min", mi
     
            
    
dic = {'ite  m1': 1150, 'ite  m2': 300}
the_max_min(dic)

('The max', 1150, 'The min', 300)

In [193]:
def find(dic1, dic2):
    z = [i for i in dic1 if i in dic2]
    z1 = [[b, dic1[b]] for b in z if dic1[b] == dic2[b]]
    for j in range(len(z1)):
        print(str(z1[j][0]) + ": " + str(z1[j][1]) + " is present in both x and y")

    
    
x, y = {'key1': 1, 'key2': 3, 'key3': 2}, {'key1': 1, 'key2': 2}
find(x, y) #key1: 1 is present in both x and y

key1: 1 is present in both x and y

In [196]:
x = {'key1': 1, 'key2': 3, 'key3': 2}
y = {'key1': 1, 'key2': 2}
for (key, value) in set(x.items()) & set(y.items()):
    print('%s: %s is present in both x and y' % (key, value))

key1: 1 is present in both x and y

In [200]:
"""Task #14 other solve"""
def find(x, y):
    for (key, value) in set(x.items()) & set(y.items()):
        print('%s: %s is present in both x and y' % (key, value))

x = {'key1': 1, 'key2': 3, 'key3': 2}
y = {'key1': 1, 'key2': 2}
find(x, y)

key1: 1 is present in both x and y

In [208]:
def filter_even(dic1):
    dic2 = {}
    for i in dic1:dic2.update({i:[j for j in dic1[i] if j % 2 == 0]})
    """
    dic2= {}
    for i in dic1:
        z = []
        for j in dic1[i]:
            if j % 2 == 0:
                z.append(j)
        dic2[i] = z
    return dic2
    """
    return dic2
    
    
print(filter_even({'V': [1, 4, 6, 10], 'VI': [1, 4, 12], 'VII': [1, 3, 8]}))
#{'V': [4, 6, 10], 'VI': [4, 12], 'VII': [8]}
print(filter_even({'V': [1, 3, 5], 'VI': [1, 5], 'VII': [2, 7, 9]}))
#{'V': [], 'VI': [], 'VII': [2]}

{'V': [4, 6, 10], 'VI': [4, 12], 'VII': [8]}
{'V': [], 'VI': [], 'VII': [2]}

In [206]:
def filter_even(dic1):
    dic2= {}
    for i in dic1:
        z = []
        for j in dic1[i]:
            if j % 2 == 0:
                z.append(j)
        dic2[i] = z
    return dic2

print(filter_even({'V': [1, 4, 6, 10], 'VI': [1, 4, 12], 'VII': [1, 3, 8]}))
#{'V': [4, 6, 10], 'VI': [4, 12], 'VII': [8]}
print(filter_even({'V': [1, 3, 5], 'VI': [1, 5], 'VII': [2, 7, 9]}))

#{'V': [], 'VI': [], 'VII': [2]}

{'V': [4, 6, 10], 'VI': [4, 12], 'VII': [8]}
{'V': [], 'VI': [], 'VII': [2]}

In [213]:
x = "12 / 1"
eval(x)

12.0

In [215]:
n ="""
        1-kiwi
        2-pear
        3-kiwi
        4-banana
        5-melon
        6-banana
        7-melon
        8-pineapple
        9-apple
        10-pineapple
        11-cucumber
        12-pineapple
        13-cucumber
        14-orange
        15-grape
        16-orange
        17-grape
        18-apple
        19-grape
        20-cherry
        21-pear
        22-cherry
        23-pear
        24-kiwi
        25-banana
        26-kiwi
        27-apple
        28-melon
        29-banana
        30-melon
        31-pineapple
        32-melon
        33-pineapple
        34-cucumber
        35-orange
        36-apple
        37-orange
        38-grape
        39-orange
        40-grape
        41-cherry
        42-pear
        43-cherry
        44-pear
        45-apple
        46-pear
        47-kiwi
        48-banana
        49-kiwi
        50-banana
        51-melon
        52-pineapple
        53-melon
        54-apple
        55-cucumber
        56-pineapple
        57-cucumber
        58-orange
        59-cucumber
        60-orange
        61-grape
        62-cherry
        63-apple
        64-cherry
        65-pear
        66-cherry
        67-pear
        68-kiwi
        69-pear
        70-kiwi
        71-banana
        72-apple
        73-banana
        74-melon
        75-pineapple
        76-melon
        77-pineapple
        78-cucumber
        79-pineapple
        80-cucumber
        81-apple
        82-grape
        83-orange
        84-grape
        85-cherry
        86-grape
        87-cherry
        88-pear
        89-cherry
        90-apple
        91-kiwi
        92-banana
        93-kiwi
        94-banana
        95-melon
        96-banana
        97-melon
        98-pineapple
        99-apple
        100-pineapple
        """

In [221]:
print(n.index("1"))
print(n.index("100"))
print(n[1760])

9
1760
1

In [222]:
98-(9+8)

81

In [225]:
def create_phone_number(n):
	return "({}{}{}) {}{}{}-{}{}{}{}".format(*n)

create_phone_number([1, 2, 3, 4, 5, 6, 7, 8, 9, 0])

'(123) 456-7890'

In [14]:
def common(lst):
    return list(set(lst[0]).intersection(*lst))
lst = [[2,3,34,4,4],[2,3,5,567,8,9,0,87],[1,2,3,4,5,6,7,1]]
print(common(lst))
print(len(lst))
print(*lst)

[2, 3]
3
[2, 3, 34, 4, 4] [2, 3, 5, 567, 8, 9, 0, 87] [1, 2, 3, 4, 5, 6, 7, 1]

In [10]:
thisset = {"apple", "banana", "cherry", "apple"}
thisset.remove("apple")
thisset.discard("apple")
print(thisset)

{'cherry', 'banana'}

In [16]:
d = {'#FF0000': 'Red', '#800000': 'Maroon', '#FFFF00': 'Yellow', '#808000': 'Olive'}
def find_len(d):
    return len([j for i in d.values() for j in i])
    """
    z = []
    for i in d.values():
        for j in i:
            z.append(j)
    m = len(z)
    return m
    """

find_len(d)

20

In [18]:
x = False
print("hallo") if x else print("hi")

hi

In [19]:
def find(d):
    return [i for i in d]
    '''
    j = []
    for i in d:
        j.append(i)
    return j
    '''

find({'Theodore': 19, 'Roxanne': 20, 'Mathew': 21, 'Betty': 20})

['Theodore', 'Roxanne', 'Mathew', 'Betty']

In [20]:
def find(d):
    return [i for i in d.values()]
    """
    z = []
    for i in d.values():
        z.append(i)
    return z
    """
find({'Theodore': 19, 'Roxanne': 20, 'Mathew': 21, 'Betty': 20})

[19, 20, 21, 20]

In [24]:
def find(n):
    minn, maxx = min([i for i in n.values()]), max([i for i in n.values()])
    return tuple([j for j in n if n[j] == minn or n[j] == maxx])
    """
    minn = 1000
    maxx = 0
    lst = ()
    for i in n.values():
        if i > maxx:
            maxx = i
        if minn > i:
            minn = i
    for j in n:
        if n[j] == minn or n[j] == maxx:
            lst.append(j)
    return lst
    """

find({'Theodore': 19, 'Roxanne': 22, 'Mathew': 21, 'Betty': 20})

['Theodore', 'Roxanne']

In [28]:
def find(n):
    minn = 1000
    maxx = 0
    lst = []
    for i in n.values():
        if i > maxx:
            maxx = i
        if minn > i:
            minn = i
    for j in n:
        if n[j] == minn or n[j] == maxx:
            lst.append(j)
    return tuple(lst)

find({'Theodore': 19, 'Roxanne': 22, 'Mathew': 21, 'Betty': 20})

('Theodore', 'Roxanne')

In [30]:
def remove_space(n):
    n1, z = {},[]
    for i in n:
        strr = ""
        for j in i:
            if j != " ": strr += j
        n1[strr] = n[i]
    return n1
    
        

remove_space({'ite  m1': 1150, 'ite  m2': 300}) #{'item1': 1150, 'item2': 300}

{'item1': 1150, 'item2': 300}

In [31]:
print("-" * 15)

import itertools      
d ={'1':['a','b'], '2':['c','d']}
for combo in itertools.product(*[d[k] for k in sorted(d.keys())]):
    print(''.join(combo))

---------------
ac
ad
bc
bd

In [33]:
def uniq(n):
    return tuple(set(j for i in n for j in i.values()))

uniq([{"V":"S001"}, {"V": "S002"}, {"VI": "S001"},
      {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}])
#('S002', 'S005', 'S007', 'S001', 'S009')

('S002', 'S005', 'S007', 'S001', 'S009')

In [35]:
def the_max_min(n):
    m, mi = list(n.values())[0], list(n.values())[0]
    """
    m = list(n.values())[0]
    mi = list(n.values())[0]
    """
    for i in n.values():
        if i > m: m = i
        if i < mi:mi = i
        """
        if i > m:
            m = i
        if i < mi:
            mi = i
        """
    return "The maximum ", m,"The minimum ", mi
     
            
    
dic = {'ite  m1': 1150, 'ite  m2': 300}
the_max_min(dic)#('The maximum ', 1150, 'The minimum ', 300)

('The maximum ', 1150, 'The minimum ', 300)

In [36]:
def generate(n):
    j = {}
    for i in range(1, n+1):j.update({i:i*i})
    return j

generate(5)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [37]:
def iterate(n):
    return [i for i in n.items()]

car = {"brand": "Ford","model": "Mustang","year": 1964}
iterate(car)#[('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)]

[('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)]

In [38]:
def find(d):
    return [i for i in d.items()]
    """
    z = []
    for i in d.items():
        z.append(i)
    return z
    """
find({'Red': 1, 'Green': 3, 'White': 5, 'Black': 2, 'Pink': 4})
#[('Red', 1), ('Green', 3), ('White', 5), ('Black', 2), ('Pink', 4)]

[('Red', 1), ('Green', 3), ('White', 5), ('Black', 2), ('Pink', 4)]

In [63]:
def find(n1, n2):
    return dict(zip(n1,n2))
    """
    d, c = {}, 0
    for i in n1:
        d.update({i:n2[c]})
        c += 1
        if len(n2) == c: break
    return d 
    """
    

find(['a', 'b', 'c', 'd', 'e', 'f'], [1, 2, 3, 4, 5])

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [62]:
x = {"hi": 2}
print(x)

{'hi': 2}

In [67]:
thedict = {"aap": 4, "ole": 6, "en":13, "fr": 77}
thedict["rex"] = thedict["aap"] + thedict["fr"]
thedict["cop"] = thedict["ole"] + thedict["en"]

ahalist = list(thedict.keys())
print(ahalist)
ahalist.sort()
print(ahalist)
print(ahalist[-2]+ahalist[-1])

['aap', 'ole', 'en', 'fr', 'rex', 'cop']
['aap', 'cop', 'en', 'fr', 'ole', 'rex']
olerex

In [3]:
total = 0
thedict = {"ap": 2, "do": 6, "ty":3, "fruit": 17}
for akey in thedict:
    if len(akey) > 5:
        total = total + thedict[akey]
        
print(total); print("rex" in thedict); print(22 in thedict)

0
False
False

In [7]:
total = 0
thedict = {"apolo": 22, "orlando": 36, "qwerty":23, "notafruit": 17}
for akey in thedict:
    if len(akey) > 5:total = total + thedict[akey]
print(total)
print("charlie" in thedict)
print(23 in thedict)

76
False
False

In [8]:
total = 0
mydict = {"apple":13, "orange":16, "plum":23, "grapefruit": 17}
for akey in mydict:
	if len(akey) > 4:
		total = total + mydict[akey]
print(total) #46
print("orange" in mydict)
print(23 in mydict)

46
True
False

In [15]:
tvoc = {"qw": 4, "en":13, "fro": 77, "klo": 2}
tvoc ["rex"] = tvoc["klo"] + tvoc["fro"]+ tvoc["en"]
tvoc["str"] = tvoc["fro"] + tvoc["fro"]
print(tvoc["rex"])
for akey in tvoc.keys():
    print("key", akey, "maps to", tvoc [akey])

ahalist = list(tvoc .keys())
print(ahalist)
ahalist.sort()
print(ahalist[-2]+ahalist[-1])

92
key qw maps to 4
key en maps to 13
key fro maps to 77
key klo maps to 2
key rex maps to 92
key str maps to 154
['qw', 'en', 'fro', 'klo', 'rex', 'str']
rexstr

In [ ]:
returns a dictionary in which all values are
replaced by their rightmost digit (for example 29 is replaced by 9).

In [22]:
def mostright(d):
    for i in d:d.update({i:int(str(d[i])[-1])})
    """
    for i in d:
        d[i] = int(str(d[i])[-1])
    return d
    """
    return d

mostright({"qw": 45, "en":1334, "fro": 774, "klo": 223})#{'qw': 5, 'en': 4, 'fro': 4, 'klo': 3}

{'qw': 5, 'en': 4, 'fro': 4, 'klo': 3}

In [25]:
def mult(t):
    mult = 1
    for i in t:
        mult *= i
    return mult

print(mult((4, 3, 2, 2, -1, 18))) #-864
print(mult((2, 4, 8, 8, 3, 2, 9))) #27648

-864
27648

In [33]:
def average(t):
    return [(sum(j)/len(j)) for j in t]
    
    
print(average_tuple(((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))))
#[30.5, 34.25, 27.0, 23.25]

[10.5, 44.0, 58.0, 2.5]

In [46]:
def average_tuple(nums):
    return [sum(i)/len(i) for i in zip(*nums)]
    """
    z = []
    for i in zip(*nums): #* this will split the big tuple into tuples
        average = sum(i)/len(i)
        z.append(average)
    return z
    
    zip will take the first int from all tuples and put those in a new tuple:
    (10, 30, 81, 1)
    (10, 45, 80, 2)
    (10, 56, 39, 3)
    (12, 45, 32, 4)
    """
    
print(average_tuple(((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))))
#[30.5, 34.25, 27.0, 23.25]    
print(average_tuple(((1, 1, -5), (30, -15, 56), (81, -60, -39), (-10, 2, 3))))
#[25.5, -18.0, 3.75]

[30.5, 34.25, 27.0, 23.25]
[25.5, -18.0, 3.75]

In [42]:
def average_tuple(nums):
    for i in zip(*nums):
        print(i)
print(average_tuple(((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))))
#[30.5, 34.25, 27.0, 23.25]

(10, 30, 81, 1)
(10, 45, 80, 2)
(10, 56, 39, 3)
(12, 45, 32, 4)
None

In [49]:
def int_tuple(n):
    return tuple([(int(i[0]),int(i[1])) for i in n])
    """
    lst = []
    for i in n:
        tup = (int(i[0]), int(i[1]))
        lst.append(tup)
    return lst
    """
    
int_tuple((('333', '33'), ('1416', '55'))) #((333, 33), (1416, 55))

[(333, 33), (1416, 55)]

In [53]:
def convert(n):
    strr = ''
    for i in n:strr += str(i)
    """
    for i in n:
        strr += str(i)
    """
    return int(strr)


print(convert((1, 2, 3))) #123
print(convert((10, 20, 40, 5, 70))) #102040570

123
102040570

In [76]:
def check(tup, co):
    if co in [j for i in tup for j in i]:return True
    return False
    
print(check((('Red', 'White', 'Blue'),
             ('Green', 'Pink', 'Purple'),
             ('Orange', 'Yellow', 'Lime')),
            "White")) #True
print(check((('Red', 'White', 'Blue'),
             ('Green', 'Pink', 'Purple'),
             ('Orange', 'Yellow', 'Lime')),
            "Olive ")) #False

True
False

In [83]:
def check(tup, item):
    for i in tup:
        if item in i:return True
        """
        if item in i:
            return True
        """
    return False

print(check((('Red', 'White', 'Blue'),
             ('Green', 'Pink', 'Purple'),
             ('Orange', 'Yellow', 'Lime')),
            "White")) #True
print(check((('Red', 'White', 'Blue'),
             ('Green', 'Pink', 'Purple'),
             ('Orange', 'Yellow', 'Lime')),
            "Olive ")) #False

True
False

In [85]:
def sum_tuple(tup):
    return [sum(i) for i in tup]
    """
    lst = []
    for i in tup:
        suum = sum(i)
        lst.append(suum)
    return lst
    """
    
print(sum_tuple([(1, 2), (2, 3), (3, 4)]))#[3, 5, 7]
print(sum_tuple([(1, 2, 6), (2, 3, -6), (3, 4), (2, 2, 2, 2)]))#[9, -1, 7, 8]

[3, 5, 7]
[9, -1, 7, 8]

In [88]:
def conver(n):
    return [list(i) for i in n]
    """
    lst = []
    for i in n:
        a = list(i)
        lst.append(a)
    return lst
    """

print(conver([(1, 2), (2, 3), (3, 4)])) #[[1, 2], [2, 3], [3, 4]]
print(conver([(1, 2), (2, 3, 5), (3, 4), (2, 3, 4, 2)])) 
#[[1, 2], [2, 3, 5], [3, 4], [2, 3, 4, 2]]

[[1, 2], [2, 3], [3, 4]]
[[1, 2], [2, 3, 5], [3, 4], [2, 3, 4, 2]]

In [89]:
def check(tup, item):
    for i in tup:
        if item in i:return True
    return False

print(check((('Red', 'White', 'Blue'),
             ('Green', 'Pink', 'Purple'),
             ('Orange', 'Yellow', 'Lime')),
            "White")) #True
print(check((('Red', 'White', 'Blue'),
             ('Green', 'Pink', 'Purple'),
             ('Orange', 'Yellow', 'Lime')),
            "Olive ")) #False

True
False

In [98]:
def retur(n):
    return True if n > 10 else "hi" if n == 10 else False
    """
    if n:
        return True
    elif n == 10:
        reutrn "hi"
    else:
        return False
    """
print(retur(10))
print(retur(15))
print(retur(9))

hi
True
False

In [99]:
def replace(str1):
    x1 = "not"
    x2 = "poor"
    if x1 in str1 and x2 in str1:
        for i in range(3, len(str1)+1):
            if str1[i-3:i] == x1:i1 = i
        for j in range(4, len(str1)+1):
            if str1[j-4:j] == x2:j1 = j
        return str1[:i1-3] + "good" + str1[j1:]
    return str1


print(replace("The lyrics is not that poor!")) #'The lyrics is good!'
print(replace('The lyrics is poor!')) #'The lyrics is poor!'

The lyrics is good!
The lyrics is poor!

In [13]:
def replace(str1):
    x1, x2 = "not", "poor"
    if x1 in str1 and x2 in str1:
        for i in range(3, len(str1)+1):
            if str1[i-3:i] == x1: i1 = i; break
        for j in range(4, len(str1)+1):
            if str1[j-4:j] == x2: j1 = j; break 
        return replace(str1[:i1-3] + "good" + str1[j1:]) if j1 > i1 else str1
    return str1


print(replace("The lyrics is not that poor! not poor")) #'The lyrics is good! good'
print(replace("The lyrics is not that poor! poor hi not")) #The lyrics is good! poor hi not
print(replace('The lyrics is poor!')) #'The lyrics is poor!'

The lyrics is good! good
The lyrics is good! poor hi not
The lyrics is poor!

In [40]:
def replace(str1):
    x1, x2 = "not", "poor"
    if x1 in str1 and x2 in str1:
        j1, i1 = str1.index(x2), str1.index(x1)
        return replace(str1[:i1-3] + "good" + str1[j1:]) if j1 > i1 else \
        str1[:i1] + str1[i1:] + replace(str1[j1+1:]) if str1.count("poor") >= 2\
        and str1.count("not") >= 2 else str1
    return str1


print(replace("The lyrics is not that poor! not poor")) #'The lyrics is good! good'
# print(replace("poor hi not The lyrics is not that poor! ")) #'poor hi not The lyrics is good!'
print(replace('The lyrics is poor!')) #'The lyrics is poor!'

The lyrics goodpoor! not poor
The lyrics is poor!

In [18]:
x = "hi hi hi"
x.count("hi")

3

In [29]:
def replace(str1):
    x1, x2 = "not", "poor"
    if x1 in str1 and x2 in str1:
        for i in range(3, len(str1)+1):
            if str1[i-3:i] == x1: i1 = i; break
        for j in range(4, len(str1)+1):
            if str1[j-4:j] == x2: j1 = j; break 
        return replace(str1[:i1-3] + "good" + str1[j1:]) if j1 > i1 else \
        str1[:i1] + str1[i1:] + replace(str1[j1+1:]) if str1.count("poor") >= 2\
        and str1.count("not") >= 2 else str1
    return str1


print(replace("The lyrics is not that poor! not poor")) #'The lyrics is good! good'
# print(replace("poor hi not The lyrics is not that poor! ")) #'poor hi not The lyrics is good!'
print(replace('The lyrics is poor!')) #'The lyrics is poor!'

The lyrics is good! good
poor hi not The lyrics is not that poor! hi good!
The lyrics is poor!

In [64]:
def replace(str1):
    if "not" in str1 and "poor" in str1:
        j1, i1, str2 = str1.index("poor"), str1.index("not"), str1[str1.index("not")+3:]
        return replace(str1[:i1] + "good" + str1[j1+4:]) if j1 > i1\
        else str1[:str2.index("not")] + replace(str1[str2.index("not"):])\
        if str1.count("poor") >= 2 and str1.count("not") >= 2 \
        else str1
    return str1


print(replace("The lyrics is not that poor!")) #'The lyrics is good!'
print(replace("poor hi not The lyrics is not that poor!"))
#'poor hi not The lyrics is good!'
print(replace("hi not that poor The lyrics not that poor is not that poor!"))
#poor hi good The lyrics good is good!
print(replace('The lyrics is poor!')) #'The lyrics is poor!'

The lyrics is good!
poor hi not The lyrics is good!
hi good The lyrics good is good!
The lyrics is poor!

In [ ]:
        return replace(str1[:i1] + "good" + str1[j1+4:]) if j1 > i1 e str1[:str2.index("not")] + replace(str1[str2.index("not"):]) f str1.count("poor") >= 2 and str1.count("not") >= 2 

if j1 > i1:
    return replace(str1[:i1] + "good" + str1[j1+4:])
elif str1.count("poor") >= 2:
    return str1[:str2.index("not")] + replace(str1[str2.index("not"):])
else :
    return str1

In [ ]:
5312 base 6 = 1196 base 10
1196 base 11 = 1557 base 10
1557 base 8 = 879 base 10
879 base 11 = 1054 base 10
1054 base 6 = 250 base 10
250 base 6 = 102 base 10
102 base 3 = 11 base 10
11 base 2 = 3 base 10

In [66]:
1196 % 10

6

In [72]:
def max_end3(n):
        return [n[-1] for i in range(3)] if len(n) == 3 if n[-1] > n[0]\
    else [n[0] for i in range(3)]
#     return False


print(max_end3([1, 2, 3])) #[3, 3, 3]
print(max_end3([11, 5, 9])) #[11, 11, 11]
print(max_end3([2, 11, 3])) #[3, 3, 3]

SyntaxError: invalid syntax (1406709783.py, line 2)

In [7]:
# myFile = open("C:\Users\User\Desktop\university\semester I\New Text Document.txt", "w") 
with open("New Text Document.txt", "r") as myFile, open("New Text Document2.txt", "w") as new:
    z = [i for i in myFile]
    k = [z[j] for j in range(len(z)-1, -1 , -1)]
    for a in k:
        new.write(str(a))

In [11]:
def dubled(dictt):
    z = [i for i in dictt.values() if i < 14]
    for j in dictt:
        if dictt[j] in z:
            dictt[j] = dictt[j]*2
    return dictt

dubled({"for": 4, "hi": 14, "hallow": 13})#{'for': 8, 'hi': 14, 'hallow': 26}

{'for': 8, 'hi': 14, 'hallow': 26}

In [12]:
def dubled(dictt):
    z = [i for i in dictt.values() if i < 9]
    for j in dictt:
        if dictt[j] in z:
            dictt[j] = dictt[j]*2
    return dictt

dubled({"for": 4, "hi": 14, "hallow": 13})#{'for': 8, 'hi': 14, 'hallow': 13}

{'for': 8, 'hi': 14, 'hallow': 13}

In [ ]:
def readposint(n):
    
    
i = input("")

In [15]:
def check(n, n1):
    return True if len(n) == n1 else False

print(check([1,2,3,4,5,6,4], 5))
print(check([1,2,3,4,5,6,4], 7))

False
True

In [17]:
v = 0
n = 0
x = 1
k = 0
while x != "":
    if k != 0:
        v += len(x)
        n += 1
    x = input("Enter the word: ")
    k += 1

if n == 0:
    n += 1
print("the average is", v // n)

Enter the word: njkl
Enter the word: bnmn
Enter the word: bnmm
Enter the word: bnmm
Enter the word:
the average is 4

In [23]:
f = open("studentdata.txt", "r")
z = f.readlines()
words = [i.split() for i in z]
for i in words:
    if len(i) > 8: print(i[0])

for i in words:
    v = 0
    for j in range(1, len(i)):
        v += int(i[j])
    v /= len(i)
    
    print(i[0], round(v, 2))
f.close()

sue
joe 19.17
bill 16.0
sue 14.92
grace 20.29
john 29.33

In [25]:
f = open("studentdata.txt", "r")
z = f.readlines()
words = [i.split() for i in z]
for i in words:
    z1 = [int(i[j]) for j in range(1, len(i))]
    minn, maxx = min(z1), max(z1)
    print(i[0], minn, maxx)
f.close()

joe 10 40
bill 16 23
sue 2 32
grace 10 45
john 14 89

In [41]:
book = open("book.txt", "w")
book.write("The psychological fragility of the rising generation \n")
book.close()
book = open("book.txt", "r")
print(book.readline())
book.close()
book = open("book.txt", "a")
book.write("dr. Ismail arfa.")
book.close()
book = open("book.txt", "r")
for i in book.readlines():
    print(i)
book.close()

The psychological fragility of the rising generation

The psychological fragility of the rising generation

dr. Ismail arfa.

In [66]:
f = open("student.txt", "w")
f.write("""joe 10 15 20 30 40
bill 23 16 19 22
sue 8 22 17 14 32 17 24 21 2 9 11 17
grace 12 28 21 45 26 10
john 14 32 25 16 89
""")
f.close()
f = open("student.txt", "r")
for i in f:
    listt = i.split()
    grads = [int(listt[j]) for j in range(1,len(listt))]
    print([listt[0], grads, [sum(grads)]])
f.close()

['joe', [10, 15, 20, 30, 40], [115]]
['bill', [23, 16, 19, 22], [80]]
['sue', [8, 22, 17, 14, 32, 17, 24, 21, 2, 9, 11, 17], [194]]
['grace', [12, 28, 21, 45, 26, 10], [142]]
['john', [14, 32, 25, 16, 89], [176]]

In [2]:
z = []
for i in range(1, 11):
    z.append(i)
print(z)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
type({24})

set

In [6]:
def check(dictt, key):
    if key in dictt:
        return True
    return False

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(check(car, "hi")) #False
print(check(car, "brand")) #True

False
True

In [8]:
"""Task #8 First Solve"""

def the_max_min(n):
    m, mi = n.values(), list(n.values())[0]
    print(type(m))
    for i in n.values():
        if i > m: m = i
        if i < mi:mi = i
    return "The maximum ", m,"The minimum ", mi
     
            
    
dic = {'ite  m1': 1150, 'ite  m2': 300}
the_max_min(dic)#('The maximum ', 1150, 'The minimum ', 300)

<class 'dict_values'>

TypeError: '>' not supported between instances of 'int' and 'dict_values'

In [4]:
def triangle(n):
    for i in range(1,n+1):
        for j in range(0, i):
            print((j+i)%2, end= "")
        print()
        
triangle(5)

1
01
101
0101
10101